[2017-09-05 18:12] danfox01 opened #9 "Homepage Renders at Tablet Size on Phone"
BCPL [homepage in staging](staging.bcpl.info/index.html) renders the tablet-size layout on iPhone7.

![screen1](https://user-images.githubusercontent.com/13049389/30075559-14a5c55c-9244-11e7-868c-080b36597425.jpg)

[2017-10-17 18:04] mxsnyder commented on #9
Resolved.

[2017-10-17 18:04] #9 closed

[2017-11-03 13:42] martypowell opened #23 "Can animation be simplified?"
I think we may be able to simplify the animation when filtering. This also might help smooth the transition slighlty.

https://docs.angularjs.org/api/ng/directive/ngRepeat#animations

[2018-01-23 16:55] martypowell opened #48 "Search is borked when you hover over navigation item."
If you open the search and then hover over a nav item, the search gets clobbered.

[2018-02-06 16:01] martypowell opened #60 "Evanced Event Registration Throwing Error when passing in group"
This is a placeholder, since it's not a bug with baltimore county code.

[2018-02-09 13:34] martypowell opened #67 "Sometimes tests fail, sometimes they pass"

[2018-02-26 13:57] mxsnyder commented on #48
This is resolved, correct?

[2018-02-26 14:03] martypowell commented on #48
@mxsnyder yes.

[2018-02-26 14:03] #48 closed

[2018-02-26 14:04] martypowell commented on #67
For the most part this has been resolved, there are a few cases where this occurs, but it is much more stable.

[2018-03-06 19:27] martypowell opened #126 "Remove &nbsp; from breadcrumbs and replace with margins"

[2018-03-09 14:25] martypowell opened #132 "Move All Fonts to Sass Variables"

[2018-03-12 17:36] martypowell opened #141 "Mobile Digital Materials Button Fades in with Menu"
This probably shouldn't fade, and is a side effect of the navigation animation.

[2018-03-22 18:12] martypowell opened #167 "Events Filter App - Fix Collapse Expand when filtering"
The collapse and expanding of filters only happens on page load, we ultimately want this to happen with any browser action (back, forward, page load).

FYI @danfox01

[2018-03-22 23:52] martypowell opened #169 "dateUtilityService -"
Line 8 -
`Condition 'date === 'Invalid Date'' is always false at this point because the else branch of the condition 'typeof date !== 'object'' at line 8 has been taken.`

See: https://deepscan.io/dashboard/#view=project&pid=2129&bid=10806&subview=issues

Solution:
remove `date === 'Invalid Date'`

[2018-03-22 23:56] martypowell opened #170 "Filter Directive"
https://deepscan.io/dashboard/#view=project&pid=2129&bid=10806&subview=issues

Solution:
[code]

[2018-03-23 12:55] martypowell opened #174 "Fix Bad Logic Issue With Filters"
https://deepscan.io/dashboard/#view=project&pid=2129&bid=10806&subview=issues&impact=%5B%22Medium%22%5D&page=1

[2018-03-23 13:04] martypowell opened #176 "Fix low level Deepscan Issues"
https://deepscan.io/dashboard/#view=project&pid=2129&bid=10806&subview=issues&impact=%5B%22Low%22%5D&page=1

[2018-03-23 18:44] #169 closed

[2018-03-23 19:07] #174 closed

[2018-03-23 19:09] #170 closed

[2018-03-25 19:59] martypowell opened #181 "Simplify matchCount"
https://github.com/baltimorecounty/BCPL-assets/blob/a17baaf0e1eb0e6cfec15dba66449a97d0917e2c/js/apps/filter-page/controllers/filterPageCtrl.js#L88

[code]

[2018-03-25 20:04] martypowell opened #182 "This is pointing to the events page ctrl, needs to be rolled back."
https://github.com/baltimorecounty/BCPL-assets/blob/a17baaf0e1eb0e6cfec15dba66449a97d0917e2c/js/apps/shared/filter-helper.service.js#L1

[2018-03-26 13:08] martypowell opened #184 "Move isEmpty to Utilities"
https://github.com/baltimorecounty/BCPL-assets/blob/00d77d2146086b330dbd34c87bb6e7450a882862/js/breadcrumbs.js#L40

[2018-03-27 14:29] martypowell opened #190 "Events - Ongoing Events Not Handled"
Example Id: 149072

Both date and time show up invalid.

[2018-03-27 18:14] martypowell commented on #182
this was resolved in #163

[2018-03-27 18:14] #182 closed

[2018-03-27 18:31] martypowell commented on #190
Resolved with #194

[2018-03-28 11:47] #190 closed

[2018-04-03 15:53] martypowell opened #224 "Libanswers Plugin Throwing JS Error"
ReferenceError: springSpace is not defined @
api2.libanswers.com/js2.18.5/LibAnswers_widget.min.js:3

It does not appear to have any side effects, but should be resolved.

@danfox01 FYI

[2018-04-03 18:57] mxsnyder commented on #60
Note: Group registration is hidden for launch, so we have time to address this.

My research indicates the issue is that we're not submitting a group size (how many people can be in a group, not how many people can sign up for the event). I have some code that will solve this problem, which I'll commit to branches in GitHub and TFS.

[2018-04-04 19:51] martypowell opened #234 "Static String in Test Causing Issues"
site-search.spec.js

'should try to set the location to the catalog URL with a search term'

[2018-04-05 01:11] martypowell opened #236 "Fix Broken Tests"
On my personal computer I am getting issues with the tests.

* Libanswers error is causing one test to fail
* Moment is causing the another test to fail

I think in both cases the site is fine.

FYI @mxsnyder @danfox01

[2018-04-05 02:10] martypowell opened #237 "Logo needs to be converted to SVG in Polaris"
Logo is still an image and causes the header section to be too large on mobile devices.

[2018-04-05 02:15] martypowell opened #238 "Hamburger and Search Buttons Not Working"
Specifically on this page

https://catalog.bcpl.lib.md.us/polaris/Search/titlelist.aspx

[2018-04-05 02:19] martypowell opened #239 "Digital Library Link Not Styled and Linked"
To recreate open up the mobile menu from the catalog. Looks like the link is relative '/books-and-more/downloadables.html' but needs to point back to www.bcpl.info

[2018-04-05 02:23] martypowell opened #240 "Footer Links are not properly aligned mobile"
If you look at the footer on the site executive side the will appear on the left, but they are on the right in polaris.

[2018-04-05 02:30] martypowell opened #241 "Footer Links do not link to Pages"
Should be able to just copy this form the site executive instance.

![image](https://user-images.githubusercontent.com/1933400/38344475-c7a3d9e6-3857-11e8-9b2d-3876ef33c141.png)

[2018-04-05 02:45] martypowell opened #242 "Evaluate Modal Gallery Ease of Selecting on Mobile"
As found by Heather during testing.
"It works, but it's finicky with where you place your finger"

[2018-04-05 03:04] snydercreative commented on #241
Done.

[2018-04-05 03:15] martypowell opened #243 "Previous Blog Button Hiding instead of moving below the post list"
https://www.bcpl.info/blog

button on the left is hidden on smaller devices, but this is not the intended behavior

[2018-04-05 03:24] snydercreative commented on #240
Fixed

[2018-04-05 03:35] mxsnyder opened #244 "Polaris - footer links are reversed"
Privacy Policy and User Terms links are reversed in site.master.

[2018-04-05 03:35] mxsnyder commented on #238
Resolved

[2018-04-05 03:35] martypowell opened #245 "Events Page Keyword Search Usability"
Basically the user has no clue that something is happenign when for example you type in a keyword on a mobile device.

[2018-04-05 03:36] #238 closed

[2018-04-05 03:36] #241 closed

[2018-04-05 03:36] #240 closed

[2018-04-05 03:38] mxsnyder commented on #239
Fixed.

[2018-04-05 03:38] #239 closed

[2018-04-05 03:42] mxsnyder opened #246 "Event direct links aren't re-angularing themselves"
Try https://www.bcpl.info/events-and-programs/list.html?ageGroups=Baby%20(0%20to%2023%20months)

[2018-04-05 03:43] martypowell opened #247 "Selecting Event Details Link from the Event List will Take you to the footer Mobile"
Steps to recreate

1. Go to the events filter page
1. Select a event
1. See the footer in you face

[2018-04-05 03:45] martypowell opened #248 "Event Details Description HTML needs to be handled"
Example https://www.bcpl.info/events-and-programs/list.html#!/151424

&nbsp is visible and that is not intended

[2018-04-05 03:48] martypowell opened #249 "Cross Domain issue bcpl.info databases templates"
If someone were to load the page https://bcpl.info/books-and-more/databases.html you get cross domain issues

[2018-04-05 03:58] martypowell opened #250 "After Registering for an Event, Didn't receive an email"
Sam and I both registed and didn't receive one.

https://www.bcpl.info/events-and-programs/list.html#!/151424

[2018-04-05 04:01] martypowell opened #251 "Slide Down (Super Nav) need to match SE"

[2018-04-05 04:04] martypowell commented on #248
Even better yet: https://www.bcpl.info/events-and-programs/list.html#!/145665

[2018-04-05 04:10] martypowell opened #252 "Brainfuse Database is not working as expected"
- Talk to Michael Stevens about this

[2018-04-05 04:21] martypowell opened #253 "Book Carousel Image Height Changes when Tab is Selected"

[2018-04-05 04:23] martypowell commented on #250
County blocks these emails and it's a known issue.

[2018-04-05 04:23] #250 closed

[2018-04-05 11:54] martypowell opened #254 "Ancestry Database Destination Has Bad Link"
Back button
https://catalog.bcpl.lib.md.us/polaris/message.aspx?ctx=1.1033.0.0.6

This should just return the user to the [databases ](https://www.bcpl.info/books-and-more/databases.html)page.

[2018-04-05 12:05] martypowell commented on #252
@danfox01 I believe Mike Stevens is working on this, but we'll keep track of this here.

[2018-04-05 12:07] martypowell commented on #224
@danfox01 I think we might need to contact the vendor about this one.

[2018-04-05 12:39] mxsnyder commented on #246
Fixed!

[2018-04-05 12:39] #246 closed

[2018-04-05 12:50] martypowell opened #256 "Site Executive Search Missing Accessibility in Search Tabs"
Compare the Polaris Search Tabs for the proper markup

[2018-04-05 12:50] mxsnyder commented on #244
Done and committed. Files to deploy:
- site.master

[2018-04-05 12:57] mxsnyder commented on #251
Done in https://ils-test.bcpl.lib.md.us/polaris/

[2018-04-05 13:02] danfox01 opened #257 "Search and hamburger icons misaligned"
May be related to the logo issue? It's a minor bug but very noticeable.

[2018-04-05 13:29] mxsnyder commented on #237
Done. Deploy:
- site.master
- css files

[2018-04-05 14:00] martypowell opened #261 "Add This Popup not displaying like the Site Executive Version"
Site executive version opens up a modal when clicked and shows a menu when hovered. Polaris' version only shows menu when clicked and no modal

[2018-04-05 14:01] martypowell opened #262 "Invalid event date for week-long event"
Load next 10 events a three times, then just after Wednesday, April 25, Comes Wednesday, December 31, 1969 and under the clock it says “bad start time” When I click on the link to the program, it’s a week long thing. Proably messing with the programming code?

https://staging.bcpl.info/events-and-programs/list.html#!/?term=bcreads

[2018-04-05 14:15] martypowell commented on #249
Fixed by #255

[2018-04-05 14:15] #249 closed

[2018-04-05 14:17] mxsnyder commented on #257
Resolved in https://ils-test.bcpl.lib.md.us/polaris/

[2018-04-05 14:29] mxsnyder commented on #254
I'm just setting it to do a `onclick="window.history.back(); return false;"` type of thing.

[2018-04-05 14:29] mxsnyder commented on #254
Files to deploy:
- message.aspx

[2018-04-05 14:46] martypowell commented on #262
assigning to @danfox01, we need feedback on whether or not we need to display a date for ongoing events

[2018-04-05 14:49] mxsnyder commented on #261
Per @danfox01 I'm removing the share link.

[2018-04-05 14:51] mxsnyder commented on #261
Files to deploy:
- site.master
- search/usercontrols/ctrlTitle.ascx

[2018-04-05 14:53] danfox01 opened #265 "Link in databases not linking"
One link on the databases page isn't actually linking when clicked. Right clicking works though: https://www.bcpl.info/books-and-more/databases.html -- it's the New York Times item.

This is the only item that links to an internal SE page, which I just had to set up for a validation workaround.

[2018-04-05 14:58] danfox01 opened #266 "Purchase Suggestion modal not opening"
https://www.bcpl.info/services/cant-find-it.html

[2018-04-05 14:59] mxsnyder opened #267 "Database links are HTTP and not HTTPS"

[2018-04-05 15:02] martypowell commented on #248
Fixed by #263

[2018-04-05 15:02] #248 closed

[2018-04-05 15:10] danfox01 opened #268 "Polaris mobile breakpoints don't match website breakpoints"
Specifically on my iPhone 7, landscape renders polaris in a two-column view more suitable for tablet then phone.

[2018-04-05 15:25] martypowell commented on #266
Two elements on the page shared two Id's and therefore the modal wasn't being triggered.

[2018-04-05 15:25] #266 closed

[2018-04-05 15:39] danfox01 opened #272 "Truncate super-long Polaris title summaries in search results"
Is it possible to limit the length on these in any way? Even if it's just a hard stop after a certain number of characters it would be better then some of these...

https://catalog.bcpl.lib.md.us/polaris/search/searchresults.aspx?ctx=1.1033.0.0.6&type=Keyword&term=Flying%20Lessons%20%26%20Other%20Stories&by=KW&sort=MP&limit=TOM=aeb&query=&page=0&searchid=17

[2018-04-05 15:46] sdurphy opened #273 "Add the day of the week to individual Calendar events"
It would be nice if the day of the week was included with the date in the table that displays below the description of the event.

[2018-04-05 15:53] mxsnyder commented on #267
Dropping. This is a content issue.

[2018-04-05 15:53] #267 closed

[2018-04-05 16:12] mxsnyder commented on #253
This would have to be rebuild using either:
- `display: table` and `display: table-cell`
- flexbox

I'll talk to Dan about how bad he wants this.

[2018-04-05 16:15] mxsnyder commented on #253
Also, I can't do this with JS to match the heights, since 3/4 of the tabs are hidden.

[2018-04-05 16:29] mxsnyder commented on #253
@danfox01 confirmed this isn't worth doing right now.

[2018-04-05 16:34] mxsnyder commented on #234
@martypowell Is this done?

[2018-04-05 16:35] mxsnyder commented on #243
@martypowell Do you mean "return to previous page"?

[2018-04-05 16:37] mxsnyder commented on #265
Verified.

[2018-04-05 16:37] #265 closed

[2018-04-05 16:43] mxsnyder commented on #251
File to deploy:
- site.master

[2018-04-05 16:53] #261 closed

[2018-04-05 16:53] #257 closed

[2018-04-05 16:53] #254 closed

[2018-04-05 16:53] #251 closed

[2018-04-05 16:53] #244 closed

[2018-04-05 16:53] #237 closed

[2018-04-05 16:56] danfox01 opened #275 "Book cover grid should items should align consistently"
Currently, book covers displayed in a grid become misalinged and inconsistent when the covers aren't all the same size. Need a way to ensure grids look more consistently griddy.

Example: https://www.bcpl.info/blog/2018/new-next-week

[2018-04-05 16:58] danfox01 commented on #262
@martypowell do you mean display date or display time? We need to display date, not time. According to Samantha, ongiong is just a checkbox option in Evanced, and does not allow setting a time once selected.

[2018-04-05 17:03] martypowell commented on #262
@danfox01 i meant time, sorry.

[2018-04-05 17:04] danfox01 opened #277 "Reduce SVG logo size in Polaris to match SE version"
Compare:

- https://www.bcpl.info/
- https://catalog.bcpl.lib.md.us/polaris/

[2018-04-05 18:16] mxsnyder commented on #277
I'm comparing, but I don't see the difference.

[2018-04-05 18:25] mxsnyder commented on #277
@danfox01 clarified this is an issue on mobile.

[2018-04-05 18:31] mxsnyder opened #280 "Ongoing active events should be under the current date's heading"
As seen here with a test event:
https://www.bcpl.info/events-and-programs/list.html#!/?startDate=September%2018,%202018&endDate=September%2030,%202018

[2018-04-06 12:05] martypowell opened #281 "Flatpickr sometimes throws an error on the Events Page"
Seems to happen when it's a hard refresh.

@danfox01 @mxsnyder have either of you seen this?

[2018-04-06 12:08] mxsnyder commented on #281
I have seen it. I think it's a race condition with FlatPickr running before there's enough loaded page.

[2018-04-06 13:09] mxsnyder opened #283 "Learn more link on login page is broken"

[2018-04-06 13:16] danfox01 opened #284 "Update non-Maryland residents link on Polaris log in screen"
I actually can't fix this via redirect in SE so it will need to be pushed to Polaris today. We can hold off a few hours though and see if anything else needs to go. Maybe plan for 1 or so?

The link should be: **www.bcpl.info/services/get-a-library-card.html#out-of-state**

[2018-04-06 13:24] mxsnyder commented on #283
I think this is handled in the UI or the Language Editor. Would you check the LE?

[2018-04-06 13:32] mxsnyder commented on #277
Done in ILS-TEST.

Files to deploy:
- site.master
- css files

[2018-04-06 13:36] danfox01 commented on #284
Fixed via language editor.

[2018-04-06 13:36] #284 closed

[2018-04-06 13:38] #283 closed

[2018-04-06 13:41] mxsnyder opened #286 "Polaris client spawns AddThis windows, and well... it shouldn't"

[2018-04-06 13:54] mxsnyder commented on #275
Assigning to Dan to close out.

[2018-04-06 14:00] danfox01 commented on #275
Gorgeous!

[2018-04-06 14:00] #275 closed

[2018-04-06 14:25] danfox01 opened #288 "Polaris Items Out screen is cut off in all browsers"
I have not verified but the customer reports: When looking at “Items Out” in your Account, the right side of the screen is cut off.

@mxsnyder thinks this is related to the table display on that page.

[2018-04-06 15:03] mxsnyder commented on #288
Assigned Dan for feedback of we're going to do the 2-column model on small screens.

[2018-04-06 17:33] mxsnyder commented on #268
Files to deploy:
- site.master
- css files

[2018-04-06 17:42] mxsnyder opened #289 "Remove colons from titles in book searches"

[2018-04-06 17:49] danfox01 commented on #288
@mxsnyder related to this table, do we have any control over the order of these columns in Polaris admin or elsewhere?

[2018-04-06 17:53] danfox01 commented on #272
This might need fine tuning, but let's truncate the summary at 100 words for now. That will eliminate the really egregious ones.

[2018-04-07 15:58] danfox01 opened #290 "Footer changes to make Adjust Contrast more prominent"
Can we make the following changes to mitigate feedback that the contraster is too hard to find?

- Increase font size of all gray footer elements to .9em (currently, text is .8em and translate is .75em)
- Increase size of toggle switch about 25%
- Make "Adjust Contrast" text a link that also triggers the toggle?

We might want to pump the text size of the footer promotions to .9 as well so they do

[2018-04-07 16:26] danfox01 opened #291 "Button text size should be 1em"
I am almost positive these used to be larger, but button text is currently 14px for the btn/btn-primary class. It should be 1em to match other body content.

[2018-04-07 16:30] danfox01 opened #292 "Add Polaris autocomplete to global search box"
I believe @martypowell is already looking into this.

The global catalog search in the site header should include the same autocomplete that appears on the main catalog page: http://catalog.bcpl.lib.md.us/polaris/

I think we previously determined this could be done via the Polaris API.

[2018-04-07 16:33] danfox01 commented on #288
This was already reported via another issue from BCPL -- in which any account screen that includes a table is very difficult to use on mobile. @mxsnyder, please advise whether a new issue should be opened, or this one repurposed to expand the scope of this from a bug to en enhancement.

[2018-04-07 16:55] danfox01 commented on #268
Found another page that's affected by this. Please see full display for a title at mobile landscape size. It prob shouldn't render two columns until >768px.

Ex: https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=764291

[2018-04-07 17:20] danfox01 opened #293 "Remove extra padding on title detail view on mobile"
A few of the "c-title-detail" containers have a few ems of right padding that is making the table too narrow.

https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=764291

[2018-04-07 18:58] danfox01 opened #294 "Place labels above content in Polaris results on mobile"
In Polaris search results, all of the labels and details are aligned horizontally on mobile, but vertical would be better on small screens. I was able to edit this in the inspector by changing that div to display:block and width: 100%, but you might have a better way. See screen shots below. I also reduced the padding around the entire container as well so squeeze out a little more space for conte

[2018-04-09 02:53] danfox01 commented on #290
Actually, it looks like .**footer-copyright** and **.footer-copyright-nav** both have font-size: .8em applied... meaning that the nav items are actually being shrunk twice. Can we just take the .8em off of the nav class?

I'd like to still increase the size of the toggle slightly and make the text "Adjust Contrast" into a link.

[2018-04-09 16:51] danfox01 opened #295 "Account login button should be stateful"
When a user it logged in, the button should say "Log Out."

[2018-04-09 17:27] danfox01 opened #296 "Upcoming events feed items should stack on small screens"
Currently display side by side, but they should stack vertically like the homepage.

Example: https://www.bcpl.info/locations/arbutus/index.html

![fireshot capture 066 - arbutus - https___www bcpl info_locations_arbutus_index html](https://user-images.githubusercontent.com/13049389/38512599-a0a4c6fc-3bf9-11e8-83b2-1ad64b107f72.png)

[2018-04-10 12:01] martypowell opened #297 "Location Page Events Widget Not Wrapping on Mobile"
![image](https://user-images.githubusercontent.com/1933400/38555720-2eb8a3c8-3c95-11e8-8f62-c427406afd73.png)

[2018-04-10 12:41] mxsnyder opened #298 "Polaris mobile breakpoints don't match website breakpoints (part 2)"
Specifically on my iPhone 7, landscape renders polaris in a two-column view more suitable for tablet then phone.

Found another page that's affected by this. Please see full display for a title at mobile landscape size. It prob shouldn't render two columns until >768px.

Ex: https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=764291

[2018-04-10 12:43] mxsnyder commented on #289
Moved to 4/11 release.

[2018-04-10 13:03] jeffreytompkins opened #300 "Broken link on renewal reminder"
I got an email and text message telling me that books were due soon.  They referred to link www.bcpl.info/go/account - forwarded the email to my baltimorecountymd.gov email - where the link was then expanded (see below) - but if I just try https://www.bcpl.info/error.html I get 404 (same with http).

**Forwarded email text:**
From: <notice@bcpl.net>
Date: Sun, Apr 8, 2018, 8:18 AM
Subject: A remin

[2018-04-10 13:05] danfox01 commented on #277
There's still some difference between these at sizes <768. Polaris version has image background while site is solid green, and Polaris has more height.

[2018-04-10 13:09] danfox01 commented on #300
Found this in the language editor. I will redirect it.

[2018-04-10 13:12] mxsnyder commented on #277
@danfox01 to clarify, the issue now is the header background, and the height of the header, but the logo is good to go, correct?

[2018-04-10 13:14] danfox01 commented on #277
Correct, the logo itself if good, but the background and height of the header are different from the SE header.

Sorry, didn't realize there were two separate issues. I can open a new issue if needed.

[2018-04-10 13:15] mxsnyder opened #301 "Header for Polaris should match header for site"
![image-1](https://user-images.githubusercontent.com/24256320/38558928-abc637ae-3c9f-11e8-8ecc-756093ea1fb7.jpg)

[2018-04-10 13:15] danfox01 commented on #300
@jeffreytompkins, can you try the link again?

[2018-04-10 13:43] mxsnyder commented on #296
#279 will address

[2018-04-10 13:43] #296 closed

[2018-04-10 13:48] mxsnyder commented on #286
If this isn't quick, move to 4/18 (per @danfox01 )

[2018-04-10 13:49] mxsnyder commented on #281
Fixed by #282

[2018-04-10 13:49] #281 closed

[2018-04-10 13:50] mxsnyder commented on #277
"Yep" - @danfox01

[2018-04-10 13:50] #277 closed

[2018-04-10 14:33] danfox01 commented on #300
Resolved by SE redirect.

[2018-04-10 14:33] #300 closed

[2018-04-10 14:33] #268 closed

[2018-04-10 14:35] mxsnyder commented on #289
Assigned to Dan to close out.

[2018-04-10 14:41] martypowell commented on #262
Fixed by #279

[2018-04-10 14:41] #262 closed

[2018-04-10 14:42] martypowell commented on #247
Resolved with #274

[2018-04-10 14:42] #247 closed

[2018-04-10 14:42] martypowell opened #303 "Event List Does not show the top of the list when navigating back from Event Details"

[2018-04-10 15:11] mxsnyder commented on #236
@martypowell All tests are passing locally, is this just for Travis?

[2018-04-10 15:17] mxsnyder commented on #236
Let's just verify if Travis is OK, and then we can close out.

[2018-04-10 15:44] mxsnyder commented on #294
@danfox01 How's this look?

https://ils-test.bcpl.lib.md.us/polaris/view.aspx?keyword=harry%20potter

[2018-04-10 15:53] danfox01 commented on #294
Still kinda funky on XS screens. Is it the width of the element?

[2018-04-10 16:25] mxsnyder commented on #294
Oops, a last-minute change didn't make it in. Ready for another look.

[2018-04-10 16:33] mxsnyder commented on #294
Per @danfox01 via hangouts, this looks good.

[2018-04-10 16:33] mxsnyder commented on #294
Files to deploy:
- css files

[2018-04-10 17:20] danfox01 opened #304 "Troubleshoot email switcher on Teacher Collection form"
Even though the email switcher was designed for the My Librarian form, we thought it would probably work for other forms as well. I hooked it up to Teacher Collection, but it ain't working. Not sure if it was my error or the script.

It's the second button on this page: https://www.bcpl.info/youth/teachers.html

Form is located at **Modules > Advanced Forms > BCPL > bcpl_teacherscollection**

[2018-04-10 17:26] mxsnyder commented on #304
All you need to do is change the ID on the branch dropdown to "whichBranch" and it'll work.

[2018-04-10 17:31] danfox01 commented on #304
I'm seeing this in the markup:

`<select id="whichBranch" name="whichBranch" class="seSelect seRequiredElement" size="1">`

What am I missing?

[2018-04-10 17:33] mxsnyder commented on #256
Resolved via SE.

@martypowell Please have a look and close out.

[2018-04-10 17:50] mxsnyder commented on #290
@danfox01 Check out https://dev.bcpl.info/index.html and let me know.

[2018-04-10 17:56] danfox01 commented on #290
Size looks great. Is it possible to linkify the adjust contrast text as well? That would make it a bigger target for someone who has low vision.

[2018-04-10 18:14] danfox01 commented on #291
Actually, looks like some buttons are assigned **btn btn-primary** and others are assigned just **btn-primary.** The 14px size is coming from the btn class.

[2018-04-10 18:27] sdurphy commented on #290
sorry about that... I hit close thinking it was save

[2018-04-10 18:28] mxsnyder commented on #290
Linkify I shall.

[2018-04-10 18:38] sdurphy commented on #290
Thanks Yoda

[2018-04-10 18:49] danfox01 opened #305 "Events should display a conditional disclaimer for certain age groups"
For the following age groups:

- Baby
- Toddler
- Preschool
- Elementary School Age

The following text needs to be added to the card, detail and registration screen:

Children under 8 must be accompanied by adult.

On detail and registration screens it can just be appended to the end of the description. We will need a design for the card layout though.

---
File list:
- dist/js/apps/events-page/a

[2018-04-10 20:18] mxsnyder commented on #297
`flex-direction: column` at `$screen-md` and below.

[2018-04-11 11:48] martypowell commented on #297
@mxsnyder i think the markup, maybe just need the `flex flex-column` classes add. See the homepage for an example.

[2018-04-11 12:19] danfox01 commented on #297
Let me know if this is confirmed. I can assign it out for someone to update the markup.

[2018-04-11 12:34] mxsnyder commented on #290
Linkified, it is.

https://dev.bcpl.info/index.html

Note: I did all of this to Polaris too, but you won't see it in dev since it's pointed at the production JS. I did temporarily point it to the dev JS, and it worked splendidly.

[2018-04-11 12:34] mxsnyder commented on #290
Files to deploy:
- site.master
- css files

[2018-04-11 12:37] mxsnyder commented on #290
PRs submitted

[2018-04-11 12:48] mxsnyder commented on #297
It's not the markup, there's a media query doing this in `homepage.min.css`:

[code]

[2018-04-11 12:50] martypowell commented on #297
We should rework this then, so that the grid can handle this. There is no need for this to be specific to this component.

[2018-04-11 13:01] martypowell opened #307 "Duplicated Placeholder Text"
As a result of the accessibility fix for search tabs were are now receiving the duplicate placeholder text on the main site.

[2018-04-11 14:35] mxsnyder commented on #297
It won't be specific to the component -- I'm adding a new `.flex-column-md` class that will take care of what we need.

[2018-04-11 17:34] danfox01 opened #309 "Event registration button should be active as soon as user types a valid phone"
@martypowell and I identified this last week, but it's now been raised as an issue by BCPL.

**Current behavior:**

The submit button doesn't become active until after the user enters valid information in all four boxes. The validation doesn't occur until after the user changes focus, so it's not possible to type a phone and the immediatelly click submit.

**Expected behavior**

The user should be

[2018-04-11 17:40] martypowell opened #310 "Create Template Specific Vendor Js files"
We have a lot of vendor scirpts flying around, it might be good to bundle them.

[2018-04-11 18:28] martypowell commented on #297
@mxsnyder sounds great then.

[2018-04-11 19:26] danfox01 commented on #292
This looks great in dev. Two small changes:

- The selected search term disappears from the input box when you hit enter. Can we get it to stick around?

- There is extra space between the bottom of the autocomplete and the bottom of the transparent container. Can the space be made to match the left and right borders?

[2018-04-11 20:08] mxsnyder commented on #297
@danfox01 Done in dev.

https://dev.bcpl.info/locations/arbutus/index.html

[2018-04-11 20:09] danfox01 commented on #297
Perfect

[2018-04-11 20:14] mxsnyder commented on #297
PR submitted.

[2018-04-11 21:07] danfox01 commented on #304
@mxsnyder See my comment above -- that ID is already in place on the teacher collection form.

[2018-04-12 12:14] martypowell commented on #292
@danfox01 on it.

[2018-04-12 12:41] mxsnyder commented on #297
Looks like the PR closed this one. Reopening.

[2018-04-12 12:59] martypowell commented on #292
Fixed with #315

[2018-04-12 12:59] #292 closed

[2018-04-12 15:16] mxsnyder commented on #288
@danfox01 We can expand scope, since the fix will apply to all tables. I just need clarification on whether or not we're using the 2-column model I proposed.

![image](https://user-images.githubusercontent.com/24256320/38686717-fd5a842c-3e42-11e8-81c7-267b3eeafab1.png)

[2018-04-12 15:17] mxsnyder commented on #288
Leaving this in triage for now.

[2018-04-12 17:07] mxsnyder commented on #304
@danfox01 It looks like this is actually the **bcpl_assignmentalert** form.

[2018-04-12 17:32] mxsnyder commented on #304
@danfox01 The issue is the two forms on one page. It's not insurmountable, it's just what's happening. I'm working on a fix now.

Kudos to @martypowell for helping me figure this out.

[2018-04-12 17:41] mxsnyder commented on #304
I have a fix for this in dev. Submitting PR momentarily.

[2018-04-12 21:14] danfox01 opened #318 "Sort blog by Start Date instead of Print Date"
Marty and I already discussed this pre-launch and deferred any action but BCPL has asked for this to be prioritized. Please not this is for the main blog view and NOT the homepage viewlet, which is displaying fine.

The problem is that SE structured content layouts sort by Print Date and not Start Date. You can see this in action at bcpl.info/blog. Older posts come first and the order is generally

[2018-04-13 13:01] mxsnyder commented on #288
This can be done, but it's a code change. It'll take about 5 minutes; just let me know what order you want them in.

![image](https://user-images.githubusercontent.com/24256320/38736187-439e0998-3ef9-11e8-8709-39361d15f370.png)

[2018-04-13 13:28] mxsnyder commented on #288
@danfox01 Sure thing. Moving to "to do".

[2018-04-13 13:30] mxsnyder commented on #297
@danfox01 Please verify and close out.

[2018-04-13 13:30] mxsnyder commented on #290
@danfox01 Please verify and close out.

[2018-04-13 13:31] mxsnyder commented on #294
@danfox01 Please verify and close out.

[2018-04-13 13:31] mxsnyder commented on #256
@danfox01 Please verify and close out.

[2018-04-13 13:47] martypowell commented on #309
Since, I am familiar with this issue, I'll take a stab at it.

[2018-04-13 14:56] martypowell commented on #293
@danfox01 @mxsnyder do you mind adding a screenshot and pointing out the desired padding to be removed?

[2018-04-13 14:58] martypowell commented on #301
@mxsnyder I believe this was resolved with #315 , can you please confirm?

[2018-04-13 15:26] martypowell commented on #301
@mxsnyder look at production.

[2018-04-13 15:33] martypowell commented on #256
@mxsnyder @danfox01 i checked and it looked good to me.

[2018-04-13 16:34] mxsnyder commented on #301
@martypowell I stand corrected.

[2018-04-13 20:11] sdurphy opened #320 "Polaris - New Books is Missing Content Area Styling"
In Polaris the New Books page in the New Titles section is missing the styling for the content area.
Example: https://catalog.bcpl.lib.md.us/polaris/Search/newreleases.aspx?ListingTypeID=26&ctx=1.1033.0.0.6

[2018-04-13 20:13] sdurphy opened #321 "Polaris - New Videos is Missing Content Area Styling"
In Polaris the New Videos page in the New Titles section is missing the styling for the content area.

Example: https://catalog.bcpl.lib.md.us/polaris/Search/newreleases.aspx?ListingTypeID=27&ctx=1.1033.0.0.6

[2018-04-13 20:14] sdurphy opened #322 "Polaris - New Sound Recordings is Missing Content Area Styling"
In Polaris the New Sound Recordings page in the New Titles section is missing the styling for the content area.

Example: https://catalog.bcpl.lib.md.us/polaris/Search/newreleases.aspx?ListingTypeID=28&ctx=1.1033.0.0.6

[2018-04-13 20:16] sdurphy opened #323 "Polaris - New Large Print is Missing Content Area Styling"
In Polaris the New Large Print page in the New Titles section is missing the styling for the content area.

Example: https://catalog.bcpl.lib.md.us/polaris/Search/newreleases.aspx?ListingTypeID=29&ctx=1.1033.0.0.6

[2018-04-13 20:17] sdurphy opened #324 "Polaris - What's RSS is Missing Content Area Styling"
Example: https://catalog.bcpl.lib.md.us/polaris/rss/whatis.aspx?

[2018-04-14 13:53] danfox01 commented on #318
@mxsnyder I believe this is what we agreed to to resole this issue:

1. Set up a Handlebars template for blog posts
2. Write the JS module to populate the handlebars template and call the blog’s json endpoint (https://www.bcpl.info/blog?format=json), and sort the posts.

The only catch is that the default structured content list page (currently at bcpl.info/blog) needs to remain the default landin

[2018-04-16 11:56] martypowell commented on #324
@mxsnyder this is in polaris, any ideas?

[2018-04-16 13:18] martypowell commented on #293
spoke with @mxsnyder , we are going to wait until @danfox01 returns on wednesday to get this look right. It will not be a big change and will only take a couple of minutes to get ready for release.

[2018-04-16 14:10] danfox01 opened #325 "Estimate effort to enable Swiftype faceted search"
Can you please provide an estimate on effort to enable search faceting in Swiftype for BCPL that will separate web content from blog posts?

https://swiftype.com/documentation/site-search/tutorials/faceted_search

[2018-04-16 14:16] martypowell commented on #309
@danfox01 mike confirmed this in dev, I moved to ready for release, but if you aren't happy with it, go ahead and move it back.

[2018-04-16 14:34] mxsnyder opened #326 "Events page is loading very slowly"
Liz Burnett just reported the events page is loading extremely slowly.

[2018-04-16 14:40] mxsnyder commented on #326
We're both on this. It seems that Evanced is having issues.

[2018-04-16 14:43] mxsnyder commented on #326
From http://www.demcosoftware.com/support/

[2018-04-16 14:46] danfox01 commented on #326
Good find. Can you make sure to pass this on to heather so she can inform BCPL too?

[2018-04-16 14:46] mxsnyder commented on #326
@smarston has already sent in a ticket to Evanced, and alerted Heather. We're considering putting up an alert.

[2018-04-16 14:47] mxsnyder commented on #326
Heather is writing up an alert now, which @smarston will put on the site.

[2018-04-16 14:52] martypowell commented on #321
duplicate of #320

[2018-04-16 14:52] #321 closed

[2018-04-16 14:53] martypowell commented on #322
duplicate of #320

[2018-04-16 14:53] #322 closed

[2018-04-16 14:53] martypowell commented on #323
duplicate of #320

[2018-04-16 14:53] #323 closed

[2018-04-16 15:43] mxsnyder commented on #326
Events page is back! Closing out.

[2018-04-16 15:43] #326 closed

[2018-04-16 15:56] smarston opened #327 "Alert banner description text wrapping below ! icon"
When alert description text is longer than one line, it wraps beneath the ! icon and looks a little off.

![alert text wrapping issue](https://user-images.githubusercontent.com/30531942/38820760-bf3d7ee2-416c-11e8-96b0-b98b30496d0f.jpg)

[2018-04-16 16:32] mxsnyder commented on #288
Before:

![image](https://user-images.githubusercontent.com/24256320/38822694-35a439a4-4172-11e8-86dd-ad8fbf4332f1.png)

After:

![image](https://user-images.githubusercontent.com/24256320/38822717-4a521dc6-4172-11e8-965b-19ce294bf2e5.png)

[2018-04-16 16:35] mxsnyder commented on #288
Added "details" heading to mobile view:

![image](https://user-images.githubusercontent.com/24256320/38822816-9417dd60-4172-11e8-8c0b-e13973870f6d.png)

[2018-04-16 16:48] mxsnyder commented on #288
Submitted PR

[2018-04-16 16:49] danfox01 commented on #288
I like it. What does the i icon do?

[2018-04-16 17:03] mxsnyder commented on #288
The "i" icon brings up a modal with details:

![image](https://user-images.githubusercontent.com/24256320/38824222-8dd626e2-4176-11e8-89ab-fdc78daa857b.png)

[2018-04-16 17:13] martypowell commented on #320
@sdurphy @danfox01 @mxsnyder this has been resolved on ils-test and confirmed by Sam.

[2018-04-16 19:36] mxsnyder commented on #318
@danfox01 I just hit a snag -- the blog JSON only returns the upcoming 10 posts. That means as you page through the blog posts, it'll still be somewhat unsorted. We'll need to get in touch with SA and see what they recommend. I'll email them right now.

[2018-04-16 19:42] mxsnyder commented on #318
Emailed SA support.

[2018-04-16 19:51] mxsnyder commented on #286
@danfox01 Since this is the browser embedded in the Polaris client, we're going to have to talk to them for help. I'll get an email together and send it. Placing this on hold until we hear back.

[2018-04-16 20:29] mxsnyder commented on #318
Big thanks to @danfox01 for finding an old email that described exactly what to do.

1. Go into Modules/Applications > BCPL Blog > Fields > Edit "Content Date" and change the context to "required”
2. Apply the change to layout via Content Landing Page > Edit Layout > Source > Line 29 change content.get_startDate().value to content.get_printDate().value

Currently evaluating process changes.

[2018-04-17 02:50] danfox01 opened #329 "Website search (Swiftype) paging doesn't work"
To replicate:

- Run a website search for a term with many results -- for example, "book"
- Scroll to the bottom and click on page 2 or 3
- Page not found

[2018-04-17 03:03] danfox01 opened #330 "Evaluate development work required for Twitter feed embed"
I know this can be as simple as dropping [embed code](https://dev.twitter.com/web/embedded-timelines) on the page, but does anything else need to happen -- adding to source control or our pattern library, etc.?

[2018-04-17 03:06] danfox01 commented on #309
Thanks, I'll take a look in dev on Wednesday morning. Meantime, can you please ask @smarston to set up a test event and have Jason run a test submission? Just a quick check to make sure phone validation still works as expected, submissions return proper success message, and that nothing else jumps out.

[2018-04-17 03:13] danfox01 commented on #288
Thanks. In that case, one change -- can we move Details to the end?

[2018-04-17 11:42] martypowell commented on #330
@danfox01 I don't see why we would need anything in source control. It might be good to document our widget configuration somewhere in the wiki though.

@mxsnyder what do you think?

[2018-04-17 11:44] martypowell commented on #329
Confirmed.

Unrelated to this bug, but related to this control. These numbers should probably be made easier to select.

[2018-04-17 11:49] martypowell commented on #309
@danfox01 done

[2018-04-17 11:56] martypowell commented on #329
@mxsnyder i'm on this.

[2018-04-17 12:06] martypowell commented on #329
@danfox01 this is resolved in production. The issue was with the template which is an html snippet on the search results page. It wasn't properly generating the link href for the paging buttons.

FYI @mxsnyder

[2018-04-17 12:11] martypowell commented on #325
@danfox01 from the frontend perpective it doesn't look bad, maybe a couple of hours. However, how does swifttype know about our data?

@mxsnyder

[2018-04-17 12:11] martypowell commented on #327
@danfox01 how to you want to handle this?

[2018-04-17 12:29] mxsnyder commented on #330
@martypowell Correct -- as long as we document it, we should be fine.

[2018-04-17 12:33] mxsnyder commented on #288
Sure, I'll move this back to **in progress**.

[2018-04-17 12:34] mxsnyder commented on #288
From email:

[2018-04-17 12:56] mxsnyder commented on #288
Done!

![image](https://user-images.githubusercontent.com/24256320/38870905-396a3722-421d-11e8-839d-2aa83646ce41.png)

[2018-04-17 13:10] martypowell opened #331 "Polaris Catalog Search Options Display an Empty White Box on Mobile"
![image](https://user-images.githubusercontent.com/1933400/38871529-22aac126-421f-11e8-9fd4-5896d7fbcbf2.png)

[2018-04-17 13:10] mxsnyder commented on #318
@danfox01 Done in production, and I set all of the blog post publish dates too.

[2018-04-17 13:14] martypowell commented on #298
@danfox01 I can't seem to recreate this anymore, are you able to?

[2018-04-17 13:29] danfox01 commented on #331
Can we move the search options into the same box as the search input?

[2018-04-17 13:31] danfox01 commented on #318
Thanks! Sort looks great but it looks like we lost all of the thumbnails, at least on mobile which is all I can see right now. Can you investigate?

[2018-04-17 13:31] martypowell commented on #331
I think so, but it would change the desktop view (note this is rough and could be adjusted a bit)

![image](https://user-images.githubusercontent.com/1933400/38872799-1fe9a7ce-4222-11e8-96a5-2966d9b26612.png)

[2018-04-17 13:31] mxsnyder commented on #318
Sure, I'll open a new issue.

[2018-04-17 13:33] mxsnyder opened #332 "Blog thumbnails are missing"
The blog thumbnails are missing since the blog posts were put in order by #318.

[2018-04-17 13:51] martypowell commented on #332
Fixed in production. Editing the template in Site Executive Stripped out the images and therefore is the reason the images weren't showing.

[2018-04-17 13:51] #332 closed

[2018-04-17 13:52] martypowell commented on #332
Instructions for the future can be found [here](https://github.com/baltimorecounty/BCPL-assets/wiki/Sort-Structured-Content-by-Date)

[2018-04-17 14:06] mxsnyder commented on #298
On hold for @danfox01

[2018-04-17 14:06] mxsnyder commented on #293
On hold for @danfox01

[2018-04-17 14:07] mxsnyder commented on #286
I doubt we'll hear back and have a resolution quickly, so I'm pushing this out to the next release.

[2018-04-17 14:37] mxsnyder commented on #303
@martypowell I'm not clear on what you are asking for here. Would you please add a description? Did you want the event list to scroll back to the top when you go back? Also, has @danfox01 said anything about this one?

This also seems like an enhancement to me, and not a bug.

[2018-04-17 14:40] mxsnyder commented on #327
Removed from release since this hasn't been prioritized yet. We can discuss tomorrow morning.

[2018-04-17 14:41] mxsnyder commented on #329
Reopening for @danfox01 to verify and close out.

[2018-04-17 14:51] martypowell commented on #303
Steps to recreate.

1) Go to event list
2) Select an event near the bottom of the list
3) Navigate back to the event list using the browser back button

[2018-04-17 14:52] martypowell commented on #291
@danfox01 see below for a 1em button, let me know if that's what you desire

![image](https://user-images.githubusercontent.com/1933400/38877767-6ec2b9ca-422d-11e8-90f1-3545ab379417.png)

[2018-04-17 15:01] mxsnyder commented on #280
As seen here with a test event:
https://www.bcpl.info/events-and-programs/list.html#!/?startDate=September%2018,%202018&endDate=September%2030,%202018

[2018-04-17 15:06] mxsnyder commented on #280
Two things to fix:

1. The sort order of events, since startDate is null for ongoing events
1. The event displaying under the header for the current day

[2018-04-17 15:10] martypowell commented on #243
@danfox01 I gave this some thought on a mobile device do we really care if this is visible? I would assume most users would either swipe if their browser supports that or use the back button which is available on android devices?

[2018-04-17 15:13] danfox01 commented on #243
Agreed. It’s mostly just to fill empty space on desktop.

[2018-04-17 15:17] martypowell commented on #224
@danfox01 I emailed you the details to send to the vendor. Assigning to you.

[2018-04-17 15:39] martypowell opened #334 "Events API returns Unpublished Events"
**Proposed Fix**: Update service to check for published = true

fyi @danfox01 @smarston

[2018-04-17 16:58] danfox01 commented on #288
Perfect.

[2018-04-17 17:16] martypowell commented on #243
@danfox01 feel free to close this then.

[2018-04-17 18:53] martypowell opened #336 "Re-enable Tests for LibAnswers when Spring Space Error is Resolved"
Once #224 is resolved by the vendor, we can re-enable the tests.

To do this, remove the rules in the karma.config file which tells karma to ignore them.

[2018-04-17 19:39] #67 closed

[2018-04-18 12:52] mxsnyder commented on #334
@martypowell This is only on the event details page, correct?

[2018-04-18 12:53] martypowell commented on #334
@mxsnyder no, it was showing up in the list as well.

[2018-04-18 12:55] mxsnyder commented on #334
@martypowell Are you talking about the Test event you saw on my machine yesterday when you stopped by? That one wasn't unpublished.

[2018-04-18 12:59] mxsnyder commented on #280
Found a bug with this fix that I'll address here:

![image](https://user-images.githubusercontent.com/24256320/38933392-c7b15adc-42e6-11e8-8430-4fa6f11e942f.png)

[2018-04-18 13:12] martypowell commented on #334
https://dev.bcpl.info/events-and-programs/list.html#!/151971

[2018-04-18 13:17] mxsnyder commented on #334
Sure, but it doesn't show up in the list. I'm not saying we shouldn't fix this -- I just want to define the problem.

[2018-04-18 13:46] martypowell commented on #334
After looking at the evanced api, im not even sure if it's on our side. Obviously we should do something about it on the details page.

[2018-04-18 13:56] mxsnyder commented on #280
Fixed. Submitting PR.

[2018-04-18 13:57] danfox01 commented on #330
@sdurphy, I believe we can use Twitter's embed tool to define the basic attributes, and then consider that our standard. Can you create something you are happy with and share it here?

https://dev.twitter.com/web/embedded-timelines

[2018-04-18 13:58] danfox01 commented on #329
Looks great.

[2018-04-18 13:58] #329 closed

[2018-04-18 14:03] danfox01 commented on #309
Found a bug, I believe:

- Click "submit" before filling out any fields.
- Loading indicator appears in button, and buttn becomes unclickable.
- Button remains unclickable even when all fields are filled out.

I think the button should remain clickable at all times, and re-run validation every time it's clicked. If all fields are valid, it should submit.

[2018-04-18 14:13] danfox01 commented on #293
@mxsnyder and @martypowell let me know if this is enough information.

First observe the following:

1. Go to: https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=764291
1. Click "More" to reveal full details.
1. Size the screen to just **above** 500px wide and note the amount of padding on the left.
1. Size the screen down to under 500px and see that the left padding incr

[2018-04-18 14:17] mxsnyder commented on #272
Check out https://www.baltimorecountymd.gov/News/PoliceNews/PoliceTV/policereport.html

[2018-04-18 14:25] danfox01 commented on #272
@mxsnyder, what am I looking at on that page?

[2018-04-18 14:29] martypowell commented on #331
@danfox01 what about the text below that?

[2018-04-18 14:31] danfox01 commented on #331
No strong feelings either way on leaving where it is or moving into the box.

[2018-04-18 14:35] martypowell commented on #176
@mxsnyder if you select this link, you will see the lines of code in question, https://deepscan.io/dashboard/#view=project&pid=2129&bid=10806&subview=issues

[2018-04-18 14:37] martypowell commented on #309
@danfox01 confirmed, on it.

[2018-04-18 14:48] martypowell commented on #309
@danfox01 ready for another look.

[2018-04-18 14:59] danfox01 commented on #309
Looks good to me. I will ask Samantha to create another test event and have Jason run through submission quickly.

[2018-04-18 15:04] danfox01 commented on #291
Since my discovery about size differences between btn and btn-primary being the actual cause of this, I need to think about it a bit more. Can we move this to next week?

[2018-04-18 15:09] martypowell commented on #309
@danfox01 sounds good.

[2018-04-18 15:10] martypowell commented on #291
@danfox01 moving this to next week.

[2018-04-18 15:40] martypowell commented on #298
@danfox01 i've attempted to fix this on ils-test, can you take a look? If it looks good, can you have Jason or Michael bang around on it, the style updates are somewhat generic and i just want to make sure I didn't eff anything up.

[2018-04-18 15:55] sdurphy commented on #330
I haven't found a way to set a max number of Tweets... In the example [here](https://dev.bcpl.info/test.html) the height is fixed, but then that creates the scroll, which i don't like on mobile. So I'm slightly happy. Mike/Marty if I remove the height, do you think we could do something fancy with js that would present the tweets with a "load next 10" button? (Like we do for events)

[2018-04-18 16:34] mxsnyder commented on #273
I'll take care of this while I'm in #338

[2018-04-18 16:41] danfox01 commented on #330
Sam, did you try the tweet-limit parameter? https://dev.twitter.com/web/embedded-timelines/parameters

[2018-04-18 16:46] mxsnyder commented on #273
Normal event's details:

![image](https://user-images.githubusercontent.com/24256320/38946104-76163d44-4306-11e8-97c9-c5febae1b549.png)

Ongoing event's details:

![image](https://user-images.githubusercontent.com/24256320/38946134-8d80616c-4306-11e8-9a22-42e9a8cb1cb2.png)

[2018-04-18 16:47] mxsnyder commented on #273
@sdurphy see the screenshots above, or look at these:
- https://dev.bcpl.info/events-and-programs/list.html#!/133793
- https://dev.bcpl.info/events-and-programs/list.html#!/151972

[2018-04-18 16:57] martypowell commented on #293
talked to @danfox01 , i'm a little nervous about pushing this one tonight, we are pushing to next week.

@mxsnyder

[2018-04-18 17:41] mxsnyder commented on #309
Shouldn't have auto-closed.

[2018-04-18 17:44] martypowell opened #340 "Polaris Catalog Move Search Options to Keyword Search White Box"
Per @danfox01 splitting  this off from #331

There are a bunch of user controls that need to be wrapper properly to make this all show up in the white box as seen here:

![image](https://user-images.githubusercontent.com/1933400/38948798-85ec12ae-430e-11e8-9d9b-7e8ea4114bf5.png)

@mxsnyder

[2018-04-18 17:45] martypowell commented on #331
For release 1.2.0 we will be removing the white space, the rest of the issue has been split into a new issue #340

[2018-04-18 17:45] danfox01 commented on #309
Jason confirmed submission worked. This looks good.

[2018-04-18 17:59] mxsnyder commented on #305
Sam, thoughts?

![image](https://user-images.githubusercontent.com/24256320/38949534-a8fb69a0-4310-11e8-9fac-2343cd7caba2.png)

[2018-04-18 18:35] sdurphy commented on #305
I think this is fine.

@danfox01 do you think we need the word "children" or do you think that silly people would think that if they drop off 9 kids they won't need to accompany them? lol

[2018-04-18 19:07] mxsnyder commented on #305
@danfox01, please have a look. If you don't see any changes, let me know and I'll redeploy the branch.

https://dev.bcpl.info/events-and-programs/list.html#!/?ageGroups=Baby%20(0%20to%2023%20months),Toddler%20(2%20to%203%20years),Preschool%20(2%20to%205%20years),Elementary%20School%20Age%20(6%20to%2011%20years)&startDate=April%2023,%202018&endDate=May%2018,%202018

https://dev.bcpl.info/events-and

[2018-04-18 19:12] danfox01 commented on #298
Sorry, just getting to this. Doesn't seem to be resolved in ils-test. We can pull it from this week's release and address next week.

[2018-04-18 19:37] danfox01 commented on #305
The only change I have for now is that the disclaimer should be in the same place on both the detail page and registration page. Right now the placement is good for the detail page, but if you select register, the disclaimer jumps up above the description.

[2018-04-18 19:41] mxsnyder commented on #245
More info - in this example, as you search, you won't know you search completed. Since it's a live search, we can't just scroll down when the results populate. What if we display an "Event list updated!" message under the search box that fades after a second or two?

![image](https://user-images.githubusercontent.com/24256320/38954096-c6491c1a-431e-11e8-81bc-e93b3949b937.png)

[2018-04-18 19:44] mxsnyder commented on #330
Since this is not a development issue, does anyone object to me dropping it from the 4/25 release and closing it out?

[2018-04-18 19:47] mxsnyder commented on #305
I've made your dreams come true:

https://dev.bcpl.info/events-and-programs/list.html#!/register/129086

[2018-04-18 19:53] danfox01 commented on #330
@mxsnyder We can remove from the project but I’m waiting for @sdurphy to answer my question before closing out...

[2018-04-18 19:54] mxsnyder commented on #330
Removed!

[2018-04-18 20:08] mxsnyder commented on #327
HTML and CSS worked out here:
https://codepen.io/anon/pen/KRKJqM

[2018-04-18 20:18] mxsnyder commented on #327
How about this? (emergency version)

![image](https://user-images.githubusercontent.com/24256320/38955944-1550edb0-4324-11e8-94f5-349a902d4dbf.png)

[2018-04-18 20:19] mxsnyder commented on #327
(I fixed the "View All Alerts" not being uppercase after the screeny, btw)

[2018-04-18 20:27] mxsnyder commented on #327
Single line version:

![image](https://user-images.githubusercontent.com/24256320/38956396-6ee26100-4325-11e8-9da0-52bad861b477.png)

[2018-04-19 01:42] danfox01 opened #343 "Renewing an item in Polaris leads to confirmation page without proper styling"
I'm pretty sure this existed before the change, but just noticed now. My test account is out of renewals so I will have to wait till morning to grab a screen shot.

[2018-04-19 01:44] danfox01 opened #344 "Document process for cache-busting Polaris"
In the 1.2 release, a hard refresh is required to see changes. Do we update query strings similar to SE, or is there another process?

[2018-04-19 02:07] #318 closed

[2018-04-19 02:08] danfox01 commented on #289
Confirmed.

[2018-04-19 02:08] #289 closed

[2018-04-19 02:10] danfox01 commented on #290
Verified.

[2018-04-19 02:10] #290 closed

[2018-04-19 02:11] #256 closed

[2018-04-19 02:12] #294 closed

[2018-04-19 02:12] #301 closed

[2018-04-19 03:11] danfox01 opened #345 "Polaris "no results" page needs styling"
Just needs to be wrapped in a white content box, and the bulletted items need to actually look like bullets.

https://catalog.bcpl.lib.md.us/polaris/search/searchresults.aspx?ctx=1.1033.0.0.6&type=Keyword&term=asdf&by=KW&sort=MP&limit=TOM=*&query=&page=0

[2018-04-19 11:45] martypowell commented on #343
@danfox01 you'll have to show me this one, I am not familiar with renewals.

[2018-04-19 11:46] martypowell commented on #344
@danfox01 as part of the release process we will need to add a step. This step will involve updating the site.master file with the new query strings

[2018-04-19 12:45] danfox01 commented on #331
Confirmed resolves in release 1.2.0

[2018-04-19 12:45] #331 closed

[2018-04-19 12:46] danfox01 commented on #320
Confirmed resolved in release 1.2.0

[2018-04-19 12:46] #320 closed

[2018-04-19 12:46] danfox01 commented on #298
Confirmed resolved in release 1.2.0

[2018-04-19 12:46] #298 closed

[2018-04-19 12:46] danfox01 commented on #309
Confirmed resolved in release 1.2.0

[2018-04-19 12:46] #309 closed

[2018-04-19 12:54] mxsnyder commented on #280
Verified!

[2018-04-19 12:54] #280 closed

[2018-04-19 12:55] mxsnyder commented on #273
@sdurphy This is now ready to be verified in production and closed out.

[2018-04-19 12:56] danfox01 commented on #304
Going to hold off closing this until we do more testing today, since we ran into a small issue last night during the change.

[2018-04-19 12:58] danfox01 commented on #288
Looks good. I want to make a couple of tweaks if possible for next week. Will open a new issue.

[2018-04-19 12:58] #288 closed

[2018-04-19 13:06] danfox01 opened #347 "SE Housekeeping: Remove old fonts"
I believe the **_fonts** folder contains our current licensed fonts and the previous unlicensed versions we used for staging. Can we clean those up and remove the old versions?

[2018-04-19 13:09] danfox01 opened #348 "SE Housekeeping: Remove old data files"
Please check out the **_data** folder and remove anything we don't need.

[2018-04-19 13:29] danfox01 opened #349 "Evaluate effort to change emergency alerts behavior and switch to JSON"
My original plan for the emergency banner was a drop-down of issue types that could be selected (e.g., holiday, weather closure, website downtime, etc.) and would automatically determine the sort order of the alert and the color of the banner. I **think** due to limitations with HTML scraping we instead opted for a few yes/no toggles for "Show in bar?" and "Is emergency?" to set the priority and c

[2018-04-19 13:34] mxsnyder commented on #327
It's responsive too:

![image](https://user-images.githubusercontent.com/24256320/38994606-d99d8918-43b4-11e8-8e0a-713b21c7d0d1.png)

[2018-04-19 13:58] mxsnyder commented on #334
This page needs some work for when an event id is invalid. It can be fixed here.
https://dev.bcpl.info/events-and-programs/list.html#!/99999999999

[2018-04-19 13:58] martypowell opened #351 "Active Ongoing Event showing is over message"
Pretty straight forward here, example https://www.bcpl.info/events-and-programs/list.html#!/144618

[2018-04-19 14:02] martypowell commented on #351
@danfox01 this has been moved to production, you might need a hard refresh to see the results.

[2018-04-19 14:10] sdurphy commented on #273
Verified in production. Thanks Mike

[2018-04-19 14:10] #273 closed

[2018-04-19 14:24] mxsnyder commented on #334
Deploy list:
- /dist/js/apps/events-page/app.js
- /dist/js/apps/events-page/partials/eventDetail.html

[2018-04-19 14:31] mxsnyder commented on #327
Confirmed!

[2018-04-19 14:37] martypowell opened #355 "Active Ongoing Event Showing in the Wrong Place in the Event List"
This event, https://www.bcpl.info/events-and-programs/list.html#!/144618. Shows up here:

![image](https://user-images.githubusercontent.com/1933400/38998364-6a84c7fe-43bd-11e8-97ba-06c0fe662fc6.png)

It seems like this is an issue with the evanced api, as the results returned are in the order we suspect. @smarston confirmed we are not able to set a EventStart for Ongoing events.

@danfox01 we pro

[2018-04-19 14:57] martypowell commented on #325
@mxsnyder do you mind documenting what you can here, i know you told me in person yesterday but i have a mind like a 🐟

[2018-04-19 14:59] martypowell opened #356 "BranchEmailSwitcher is injecting jQuery Improperly"
Since the form is loaded before jQuery is, there are problems. Therefore our script isn't the way we want it to be.

[2018-04-19 15:10] sdurphy commented on #245
@mxsnyder could we add a button to the fade in that would actually scroll you down to the list if pressed?
![screen shot 2018-04-19 at 11 10 17 am](https://user-images.githubusercontent.com/2189638/39000555-4f7bd538-43c2-11e8-8b56-949996af9e12.png)

[2018-04-19 15:15] mxsnyder commented on #245
I like it. Sure, we can do that.

[2018-04-19 15:16] martypowell commented on #303
I'm gonna try and see if i can this working

[2018-04-19 15:16] martypowell commented on #356
Potential idea on how to fix

https://jsfiddle.net/gossh4gf/4/

[2018-04-19 15:53] sdurphy commented on #330
Updated...https://dev.bcpl.info/test.html

The feed is in a div with the ".pull-image-left" class, and that is all within a snippet. The clear at the bottom of the page is to prevent the feed from poking out of the content area.

[2018-04-19 16:12] danfox01 commented on #355
Can you break down the scope of the problem so I can evaluate? I'm not understanding what aspect of the API is causing this.

If we need to rely on the vendor to fix this, we can assume it won't be resolved. Not trying to be dramatic, but they're something like 1 for 7 on issue resolution with us. So if that is the case, we should determine what options we do have, even if that means hiding ongoin

[2018-04-19 16:27] mxsnyder commented on #334
Dan approved via IM.

PR submitted.

[2018-04-19 16:30] mxsnyder commented on #356
What about attaching to window.onload, which (i believe) fires after document.ready?

[2018-04-19 16:37] danfox01 opened #359 "SE Housekeeping: In the homepage template, component-hero should be nested within container-home-header"
**component-hero** is no longer a part of **container-home-header**. At some point the content of component-hero was copied directly into the container. Can the original layout be restored?

[2018-04-19 16:42] mxsnyder commented on #355
@danfox01 I can answer this. The events returned from Evanced are sorted by EventStart. That property is null for ongoing events, so they're sorted to the bottom of the list.

The only idea I have (and it's not a great idea) is to pull down a big list of events, and then sort them ourselves in the BCPL API. Then we'd cache them, and display the cached versions. We'd just have to be mindful of how

[2018-04-19 17:26] danfox01 commented on #355
I'm not saying we don't contact them. I'm just saying our backup plan is probably going to be our only plan. Their support is atrocious. Sometimes we don't even get a response.

[2018-04-19 17:26] danfox01 commented on #355
This has inspired me to make a list of all the stuff their API doesn't do and send it all to them.

[2018-04-19 17:33] danfox01 opened #360 "Add publish/unpublish time to BCPL alerts"
@mxsnyder, we currently have a start/end date for BCPL alerts but not a time. We definitely need to add a time. Does the script need to be updated to accommodate this, or can it be accomplished purely in the content collection?

Good catch, @smarston

[2018-04-19 17:49] danfox01 commented on #305
Hooray! Let's kill the period after "adult" to match the registration required label, and it's all good.

[2018-04-19 18:04] danfox01 commented on #305
Erm, also, can we reduce the space between the two alerts slightly? They seem a little too far apart compared to everything else

[2018-04-19 18:43] mxsnyder commented on #360
@danfox01 The issue is that Alert Start and Alert End are `date` and not `date/time`. You'll want to delete those two fields and replace them with `date/time` fields with the same names and labels (so, Alert Start and Alert_Start, and Alert End and Alert_End).

[2018-04-19 18:47] danfox01 commented on #360
Thanks. Will do this in dev first.

[2018-04-19 18:48] danfox01 commented on #347
Removed old fonts from prod SE per @mxsnyder.

[2018-04-19 18:48] #347 closed

[2018-04-19 19:06] danfox01 commented on #360
@mxsnyder, not seeing the dev alert in dev. Is something pointed at prod?

[2018-04-19 19:08] mxsnyder commented on #325
Sure. What I was thinking is we could theoretically put a meta tag on the blog, and have search exclude it.

@danfox01 Were you just interested in site search without the blog?

[2018-04-19 19:08] danfox01 commented on #336
The BCPL resource who handles SpringShare is OTO until Monday. Will follow up then.

[2018-04-19 19:11] mxsnyder commented on #325
Also, check this out: https://swiftype.com/documentation/site-search/path_rules#blacklist we can blacklist URLs with a pattern, so we could exclude urls that start with `/blog`.

[2018-04-19 19:12] mxsnyder commented on #360
More than likely. Let me undo that - one moment please.

[2018-04-19 19:12] danfox01 commented on #291
@martypowell I think this is OK as is. At least for now. I will remove from this release unless you have an objection. Bigger fish to fry.

[2018-04-19 19:15] danfox01 commented on #324
@sdurphy where did you find this link?

[2018-04-19 19:16] danfox01 commented on #327
I think this is all good.

[2018-04-19 19:18] mxsnyder commented on #360
It's bring a pain. Another moment please.

[2018-04-19 19:26] martypowell commented on #291
@danfox01 sounds good to me.

[2018-04-19 19:33] martypowell opened #361 "Inconsistent Links in Polaris"
https://catalog.bcpl.lib.md.us/polaris/search/searchresults.aspx?ctx=1.1033.0.0.6&type=Keyword&term=asdf&by=KW&sort=MP&limit=TOM=*&query=&page=0&searchid=1

Most Content Links should be underlined, but they are not.

@danfox01

[2018-04-19 19:33] martypowell commented on #345
@danfox01 apparently we just didn't copy this over. It's ok on ils-test. While troubleshooting @danfox01 links are messed up on some pages. This issue is tracked here #361

[2018-04-19 19:38] martypowell commented on #361
maybe we can get most of these by addresses the content-container class

[2018-04-19 19:40] martypowell commented on #324
Does this work?

![image](https://user-images.githubusercontent.com/1933400/39014283-f51a19c6-43e7-11e8-99cc-05f3f45c0e93.png)

[2018-04-19 19:44] mxsnyder commented on #360
All set, and it works. For reference, here's the new layout:

[code]

[2018-04-19 19:46] sdurphy opened #363 "Polaris - Tables under Working List section are missing content background."
To observe issue please do the following:
1. After searching for a book, add the book to your list, using the “Add to My List” button.
2. Once, it’s added, under the “Working List” menu on the left side of the page, select, “Show list details…”
3. You will be taken to the working list page. On this page, the availability table is missing the white content area background. (The table
![screen shot

[2018-04-19 19:50] sdurphy commented on #324
Is it possible to get rid of that excessive space above "About RSS"?

[2018-04-19 19:52] danfox01 opened #364 "Items Out Table Tweaks"
Per conversation with @mxsnyder this morning:

- The "Call Number" column should be hidden to save space in the table.
- The column widths should be adjusted if possible to allow more width for the title.

[2018-04-19 19:54] mxsnyder commented on #295
@martypowell you can reaplce the log in button with this (below). It should do the trick.

[code]

[2018-04-19 19:54] danfox01 commented on #360
Thank you sir. I will let you know when I'm ready to make this change in prod tomorrow.

[2018-04-19 19:56] martypowell commented on #324
https://ils-test.bcpl.lib.md.us/polaris/rss/whatis.aspx

[2018-04-19 19:58] martypowell commented on #245
@sdurphy do we have a mockup for when the control is collapsed?

[2018-04-19 19:58] mxsnyder commented on #295
And now it is.
https://ils-test.bcpl.lib.md.us/polaris/

@danfox01 is this what you had in mind?

[2018-04-19 20:00] sdurphy commented on #245
wouldn't it be this?:
![38954096-c6491c1a-431e-11e8-81bc-e93b3949b937](https://user-images.githubusercontent.com/2189638/39015247-c7a55e4e-43ea-11e8-8550-3a71cfa967c5.png)

[2018-04-19 20:02] danfox01 commented on #295
Indeed! I think it should be log out though, since we say log in?

[2018-04-19 20:02] sdurphy commented on #324
Looks good

[2018-04-19 20:07] mxsnyder commented on #295
Done!

[2018-04-19 20:08] danfox01 commented on #245
Sorry, late to the party. I like this. What is the reason for placing it under the input instead of using the standard purple window shade?

[2018-04-19 20:14] martypowell commented on #245
just so everyone is in the loop, the filter box needs to be expandable on mobile, intially collapsed @sdurphy the man is going to give me something to work with

[2018-04-19 20:15] mxsnyder commented on #364
I've removed "Call Number" but didn't adjust the column widths, per @danfox01.

[2018-04-19 20:23] danfox01 opened #365 "Tablenate the "Requests" table"
https://catalog.bcpl.lib.md.us/polaris/patronaccount/requests.aspx

- Just like Items Out, this table needs to be tablenated for mobile.
- Also, please move the Format and Details ("i") column to the end.

[2018-04-19 20:27] mxsnyder commented on #364
And, to make myself sound like a liar, I just adjusted the columns and they're much better now.

![image](https://user-images.githubusercontent.com/24256320/39016483-982da276-43ee-11e8-8c60-ed4706dd998e.png)

Submitting PR

[2018-04-19 20:28] sdurphy commented on #245
@martypowell - see attached

@danfox01 - what do you think about "Filter Events"?
![screen shot 2018-04-19 at 4 29 08 pm](https://user-images.githubusercontent.com/2189638/39016539-b9949438-43ee-11e8-817f-9dc9710a6a0b.png)

[2018-04-20 11:37] martypowell opened #366 "Locations Usability on Mobile"
This is the same issue as #245 but for the locations page. @danfox01 on this page there is also a hours table which takes up a lot of space, not sure if we want to collapse this too.

I will leave this open and let you determine where to put it.

[2018-04-20 12:07] mxsnyder commented on #327
Just realize the exclamation icon on yellow is supposed to be light tan. Fixing now.

[2018-04-20 12:26] danfox01 commented on #245
I think that works great. I would like the button to be a bit taller, and I think the plus icon should be larger.

This should be the default behavior for all of our filters on mobile — databases, locations and events.

[2018-04-20 12:59] mxsnyder commented on #360
Changes made. This is good to close.

[2018-04-20 13:01] mxsnyder commented on #325
If the blacklisting works, we can call this done.

[2018-04-20 13:03] mxsnyder commented on #272
@danfox01 Apologies, that was a note to self.

[2018-04-20 13:04] danfox01 commented on #325
I'm looking for the ability to separate blog posts from site content, so users can filter their search by one or the other. I don't want to exlcude posts entirely.

[2018-04-20 13:09] danfox01 commented on #360
Indeed! Thanks.

[2018-04-20 13:09] #360 closed

[2018-04-20 13:44] danfox01 commented on #293
Let's talk about this one soonish. @martypowell had some concerns about the implications of this change elsewhere in Polaris. It's not critical, so if the risk outweighs the benefit, we can shelve it.

[2018-04-20 13:45] mxsnyder commented on #325
I just went over this with Dan.
- Site search from the header will only search site pages
- On the results page, you have the option of repeating your search for the blog via a button or something simple

I recommend we use filtering rather than facets. Here's what we'd do:
1. Add a `<meta property='st:type' content='blog' />` tag to the `<head>` of the blog pages.
1. Add a `<meta property='st:typ

[2018-04-20 13:47] mxsnyder commented on #325
@danfox01 Consider this estimated. Good to go? I recommend making a new issue for the work, and adding in the thoughts from my comment above.

[2018-04-20 13:49] mxsnyder commented on #325
This will be useful too:

![image](https://user-images.githubusercontent.com/24256320/39054599-15340a76-4480-11e8-8afa-6c51beb64287.png)

[2018-04-20 13:51] mxsnyder commented on #365
On the case.

[2018-04-20 13:51] mxsnyder commented on #272
I want to discuss with @martypowell before taking this on.

[2018-04-20 13:59] mxsnyder commented on #365
Done in dev, submitting PR. @danfox01 please to be having a look.

[2018-04-20 15:31] martypowell commented on #245
@mxsnyder @danfox01 this in testing and is the reason its moved to on hold

[2018-04-20 15:55] danfox01 commented on #330
@mxsnyder @martypowell Any semantic concern about using the pull-image-left class on a non-image element?

[2018-04-20 16:24] danfox01 commented on #272
Per conversation with @mxsnyder, let's do a character count of 500.

[2018-04-20 16:28] mxsnyder commented on #272
Cool - check it out
https://ils-test.bcpl.lib.md.us/polaris/view.aspx?keyword=harry%20potter

[2018-04-20 16:31] danfox01 commented on #272
Perfect.

[2018-04-20 16:37] danfox01 opened #368 "Implement Swiftype filtering to web content pages from blog posts"
See #325 for background.

From @mxsnyder

[2018-04-20 16:47] mxsnyder commented on #272
Great! I also added the truncation tool to the main site, so it can be used there.

Submitting PR

[2018-04-20 16:49] mxsnyder commented on #272
File list:
- site.master
- search/components/ajaxResults.aspx
- scripts/bcpl/truncator.js

[2018-04-20 16:54] mxsnyder commented on #245
Renamed the "on hold" column "blocked" and moved this back in "in progress".

[2018-04-20 16:57] sdurphy commented on #330
@mxsnyder .pull-left wouldn't work because it doesn't include the lovely margins we have in place.

[2018-04-20 17:12] mxsnyder commented on #343
How's this?

![image](https://user-images.githubusercontent.com/24256320/39064427-797ff51e-449c-11e8-848c-9840e6edef1b.png)

[2018-04-20 17:12] mxsnyder commented on #343
(the refresh eContent button is a different part of the page, and I'm not really sure what do to about it)

[2018-04-20 17:16] mxsnyder commented on #343
File list:
- patronaccount/itemsout.aspx

[2018-04-20 17:29] danfox01 opened #369 "Links in SE don't take bold styling"
It seems that the font weight of an <a> tag is taking precedence over the weight of a strong tag. So, essentially, you can't make a link bold in the SE wizzy.

Example -- all the links on this page have strong applied:
https://dev.bcpl.info/_style-library/collections-df.html

[2018-04-20 17:34] danfox01 commented on #343
Much better. I don't really care about the econtent button.

[2018-04-20 17:44] danfox01 opened #370 "Log in/out button text in Polaris should be uppercase"
Currently SE version is uppercase but Polaris is not. Polaris should be updated to match.

[2018-04-20 17:52] mxsnyder commented on #359
Yeah, this is actually pretty simple.
1. update component-hero from container-home-header
1. publish component-hero
1. embed component-hero in container-home-header
1. publish container-home-header

[2018-04-20 17:57] mxsnyder commented on #355
Per discussion with Dan, we're removing from the release unit this can actually be worked on.

[2018-04-20 17:57] mxsnyder commented on #286
Per discussion with Dan, we're removing from the release unit this can actually be worked on.

[2018-04-20 17:57] mxsnyder commented on #224
Per discussion with Dan, we're removing from the release unit this can actually be worked on.

[2018-04-20 17:57] mxsnyder commented on #336
Per discussion with Dan, we're removing from the release unit this can actually be worked on.

[2018-04-20 17:58] danfox01 opened #371 "Download to Calendar does not work on iOS device"
Reported by Jason while testing events dev. This issue currently exists in prod:

In BrowserStack and on my personal iPhone, when I selected the “Download to Calendar” link, Safari displayed the screen shown below. No matter which blue link or taskbar symbol I clicked, I never saw an option to select the Calendar app.
![image](https://user-images.githubusercontent.com/13049389/39066384-e3195c80-44

[2018-04-20 18:12] danfox01 opened #372 "Enable multi-item scrolling on book cover carousels"
**Current behavior:**
Clicking an arrow on the book carousel advances one item at a time.

**New behavior:**
Clicking an arrow advances the same number of items as currently show. For example, if 4 items are shown, clicking an arrow will advance to the next 4; if 3 items are shown, the arrow will advance to the next 3. And so forth, and so on, and what not, and what have you.

[2018-04-20 18:14] mxsnyder commented on #371
It turns out this is a known issue with iPhones. There are workarounds, but that's not a reasonable solution.

What if instead of downloading the ICS file, we email it to you?

[2018-04-20 18:14] mxsnyder commented on #371
(emailed ICS files are supposed to work just dandy)

[2018-04-20 18:15] mxsnyder commented on #372
This is a feature of slick. We just need to add the `slidesToScroll` setting. See the second example here:

http://kenwheeler.github.io/slick/

[2018-04-20 18:42] mxsnyder commented on #370
Done - https://ils-test.bcpl.lib.md.us/polaris/

[2018-04-20 18:47] mxsnyder commented on #372
'kay.

https://dev.bcpl.info/

[2018-04-20 18:57] mxsnyder commented on #369
@danfox01 https://dev.bcpl.info/_style-library/collections-df.html

[2018-04-20 18:57] mxsnyder commented on #359
Discussed with Dan, I'm doing this first thing Monday morning.

[2018-04-20 18:58] danfox01 commented on #369
That does it.

[2018-04-20 19:01] danfox01 commented on #372
This might be trickier than expected. It scrolls great at full width, but continues to scroll by 4 at smaller sizes.

[2018-04-20 19:05] mxsnyder commented on #372
Fixed. I forgot to do the responsive settings.

[2018-04-20 19:06] mxsnyder commented on #370
PR submitted

[2018-04-20 19:06] mxsnyder commented on #369
PR submitted

[2018-04-20 19:06] mxsnyder commented on #372
PR submitted

[2018-04-20 19:07] danfox01 commented on #372
Beautiful.

[2018-04-20 19:18] danfox01 opened #375 "On 320px screens (iPhone SE) in Polaris, hamburger and search buttons don't scale properly."
This issue only seems to affect screens at 320px. To replicate, compare SE global header to Polaris global header in Chrome's iPhone5 view. Note that the icons scale in the SE version, but stack in Polaris version. Polaris should be updated to match SE.

SE:
![fireshot capture 075 - baltimore county public library home_ - https___www bcpl info_](https://user-images.githubusercontent.com/13049389/3

[2018-04-20 19:34] mxsnyder commented on #368
API work done, PR submitted.

[2018-04-20 19:38] mxsnyder commented on #368
SE steps:
1. Copy the BCPL-internal-hub template as BCPL-blog
1. Add meta tag (see above) to the BCPL-blog template
1. Publish the BCPL-blog template
1. Switch the blog to the BCPL-blog template
1. Add content meta tags to the other templates

[2018-04-20 19:42] mxsnyder commented on #368
I'll do the SE steps on Monday. Not that I don't like making production changes on a Friday afternoon...

[2018-04-20 19:50] mxsnyder commented on #375
![image](https://user-images.githubusercontent.com/24256320/39070728-7f4b9208-44b2-11e8-9bdd-8edfb414663f.png)

Done in dev. Submitting PR.

[2018-04-20 20:07] danfox01 commented on #375
Two things:
- the logo/buttons are slightly lower in Polaris than SE
- the icons are a bit larger in Polaris test than SE prod. I actually prefer the ones in Polaris test.

So...
- Can Polaris test be updated to match the logo/button spacing of SE?
- Can SE be updated to match the icon size of Polaris test?

[2018-04-20 20:08] danfox01 commented on #368
Great work.

[2018-04-23 12:29] danfox01 commented on #371
@mxsnyder can you please send me a link to more detail on this issue? Forum post or something? Just want to understand the nature of it.

[2018-04-23 12:39] mxsnyder commented on #359
Done and done! To @danfox01 for Approval and to close out.

[2018-04-23 12:42] danfox01 commented on #359
Thanks!

[2018-04-23 12:42] #359 closed

[2018-04-23 12:48] mxsnyder commented on #371
I found an old article that suggests it's a mime-type issue:
https://apple.stackexchange.com/a/83523

I'll check it out.

[2018-04-23 13:00] mxsnyder commented on #371
Requested the IIS mime types from Shep.

[2018-04-23 13:09] mxsnyder commented on #368
Tag format:
* `<meta class='swiftype' name='type' data-type='enum' content='[type value]' />`

Doing the SE steps now.

[2018-04-23 13:17] mxsnyder commented on #368
SE steps completed.

@danfox01 would you kick off the reindex?

[2018-04-23 13:30] danfox01 opened #376 "Move Events filters below H1 at mobile size."
On the [Events ](https://www.bcpl.info/events-and-programs/list.html#!/)page at mobile size, the filter component falls above the H1, but similar components on [Databases](https://www.bcpl.info/books-and-more/databases.html) and [Locations](https://www.bcpl.info/locations/index.html) appear below the H1.

Can the Events page be tweaked so that the the filters appear below the H1?

[2018-04-23 13:30] danfox01 commented on #245
@martypowell, Jason did finish. The only major issue he found was #371, but that was not a result of your change.

I also found one other layout issue unrelated to your change that I'd like to fix if possible -- #376.

[2018-04-23 13:32] danfox01 commented on #368
Will do.

[2018-04-23 13:36] mxsnyder commented on #370
@danfox01 https://ils-test.bcpl.lib.md.us/polaris/

Moving to r4r.

[2018-04-23 13:36] mxsnyder commented on #369
Moved to r4r.

[2018-04-23 13:37] martypowell commented on #376
@danfox01 the layouts for these two pages are different. Realistically we should probably consolidate the layouts so they are the same. This might be a good opportunity to start a blueprint for our atomic design and create one (see [here](http://bradfrost.com/blog/post/atomic-web-design/#templates))

[2018-04-23 13:37] mxsnyder commented on #351
@danfox01 This is in prod - would you verify and close out when you get a chance?

[2018-04-23 13:39] mxsnyder commented on #368
API deployed to staging. I can continue my testing after the reindex is done.

[2018-04-23 13:40] martypowell commented on #245
@danfox01 I will submit a pr for this, and work on the others independently.

[2018-04-23 13:41] danfox01 opened #377 "Update H1 style for blog posts"
When the templates changed in #368 it reminded me of a quick dynamic style fix I put in place for BCPL testing and forgot about.

The following is applied to the dynamic head section for blog posts, since some titles are too long and illegible in QuoteScript. Can we please get this into master so I can remove from dynamic style?

.blog-post h1 {font-family:Open Sans; font-size:2.2em; font-weight:7

[2018-04-23 13:43] martypowell commented on #245
pr #378 submitted

[2018-04-23 13:47] martypowell commented on #366
@danfox01 see #376 for my recommendation here.

[2018-04-23 13:50] danfox01 commented on #376
@martypowell, what's involved and how long would it take?

[2018-04-23 13:53] mxsnyder commented on #371
For the fun of it, I uploaded an .ics file to SE and downloaded it on an iOS device via BrowserStack, and it worked great. So, this leads me to believe the problem is the ICS plugin.

[2018-04-23 14:39] martypowell commented on #376
@danfox01 per our discussion the creation of the documentation might be a half an hour. The template updates might be a day or two worth of work, with that including some heavy testing.

[2018-04-23 14:56] mxsnyder commented on #371
As an alternative, I could try implementing the iCal.net package in the BCPL web service, and serve iCal files that way. I don't know that it'll work any better, but it's worth a shot.

[2018-04-23 15:04] danfox01 commented on #371
As long as it won't take too long, let's try it.

[2018-04-23 16:28] danfox01 opened #379 "Margin issue with global nav panels on desktop"
Something is up with the horizontal spacing of the global nav elements on desktop. Specifically, check out Services, and note that the last item, "Licenses, Permits and Taxes" breaks onto two lines even though there's definitely space for it to fit on one.

I'm seeing a margin-right of 7em within the panels that is probably causing this.

[2018-04-23 17:32] danfox01 commented on #371
Verified in Browserstack. Nice work!

[2018-04-23 17:34] danfox01 commented on #245
@martypowell I just noticed that the windowshade is also triggered when click an event and go to the details screen. That shouldn't happen. Let me know if that should be logged a separate issue.

[2018-04-23 17:37] martypowell opened #381 "Window Shade showing when navigating to event details."
fyi @danfox01

[2018-04-23 18:08] mxsnyder commented on #371
File list:
- dist/js/apps/events-page/app.js
- dist/js/apps/events-page/partials/eventDetails.html
- dist/js/apps/events-page/partials/eventRegistration.html
- BCPL Web Service

[2018-04-23 18:09] danfox01 opened #382 "In Polaris in IE11, there's too much vertical space around BCPL logo"
View in IE11 and compare to the rest of the site: https://catalog.bcpl.lib.md.us/polaris

[2018-04-23 18:15] danfox01 opened #384 "Global menu item "overview" button too narrow in Edge"
Compare Edge to Chrome.

[2018-04-23 18:53] danfox01 commented on #293
Moving this to next week.

[2018-04-23 19:16] mxsnyder commented on #368
This isn't as straightforward as it initially appeared. I may have to contact Swiftype if I can't get this soon.

[2018-04-23 19:37] martypowell commented on #384
@danfox01 this is in dev, if you are happy please move to ready for release.

[2018-04-23 19:43] danfox01 commented on #384
@martypowell unfortunately now the first column is too wide in all browsers... Also the right side of the menu is breaking the grid in Edge and FF

[2018-04-23 19:48] mxsnyder commented on #368
API work is done - I'll work on the front-end stuff tomorrow.

[2018-04-24 11:59] martypowell commented on #382
Dan this has been updated on ils-test. Let me know what you think, and I'll submit the pull request.

[2018-04-24 14:18] danfox01 commented on #382
Looks good.

[2018-04-24 14:29] mxsnyder commented on #368
File list:
- BCPL API
- dist/js/master.min.js
- dist/js/page-specific/site-search-results.min.js
- mockups/handlebars-templates/search-results-template.html (needs to go in the snippet on `/search-results.html`)

[2018-04-24 14:32] martypowell commented on #245
@danfox01 i think this is ready, but i can't check dev at the moment.

[2018-04-24 14:54] mxsnyder commented on #368
@danfox01 approved over IM

[2018-04-24 14:57] danfox01 commented on #368
Look great. Two questions:

- This will apply to searches originating from the Polaris version of the header as well?
- Not for now, but I assume that changing the look of the "search our blog/search out site" link is an fairly easy? For example, if we wanted to make it more cohesive with the existing "search the catalog instead" button?

If the answer to both of those is yes, this is good to go.

[2018-04-24 15:07] martypowell commented on #381
@danfox01 this is in dev.

[2018-04-24 15:07] martypowell commented on #245
@danfox01 this is ready for another look

[2018-04-24 15:43] mxsnyder commented on #327
To release, replace the content of the snippets in these two content items with the following:
- _inclusions > alerts > container-alerts
- _inclusions > alerts > container-alerts-homepage

[code]

File list:
- master and high-contrast css

[2018-04-24 15:48] martypowell commented on #375
@danfox01 both requested changes are in their respective environments.

[2018-04-24 15:58] martypowell commented on #368
@mxsnyder moved this back into in progress dues to @danfox01 's pending question.

[2018-04-24 17:25] martypowell commented on #379
@danfox01 you said this was actually fixed now right?

[2018-04-24 17:49] mxsnyder commented on #368
- Regarding Polaris -- it should default to a content search if there are no search parameters, but I'll verify.
- Regarding the link -- yep, very easy to change. That code is in a snippet.

[2018-04-24 18:01] mxsnyder commented on #368
Good call about Polaris. I just submitted #388 to default a lack of filters to be a content filter.

[2018-04-24 18:21] martypowell opened #389 "Add local-master.js to source control"
@danfox01 this is important for next release, if we don't do this, we might forget about it.

[2018-04-24 18:44] mxsnyder commented on #377
Done:
https://dev.bcpl.info/blog/2018/meet-the-book-club-the-page-turners

Submitting PR now.

[2018-04-24 19:27] mxsnyder commented on #344
https://github.com/baltimorecounty/BCPL-assets/wiki/Cache-Busting-(Web-or-Polaris)

[2018-04-24 20:00] danfox01 commented on #349
Cool. Would you have time to start on this before you go? At least lay the ground for a future release?

[2018-04-24 20:04] danfox01 commented on #330
@sdurphy decided a layout and dropped the code snippet on a dev page, which would have been blown away in this morning's refresh.

The only remaining issue was @mxsnyder's recommendation that we use the .pull-left/.pull-right class for positioning, plus and additional class for proper padding. The padding class doesn't exist. Can you two work together to come up with something to satisfy that last

[2018-04-24 20:05] mxsnyder commented on #349
Sure. Is that the full scope of the requirements? Just to switch from API to JSON? Or is the requirement to remove the yes/no's, and just make the dropdown work? Is there another compelling reason to switch to JSON? (I'm not trying to be difficult, I just want to make sure my eyes are on the correct prize)

[2018-04-24 20:06] mxsnyder commented on #330
Sure. If @sdurphy would be so kind as to document how much padding he wants, we can add something to the codebase.

From: danfox01 <notifications@github.com>
Sent: Tuesday, April 24, 2018 4:04 PM
To: baltimorecounty/BCPL-assets <BCPL-assets@noreply.github.com>
Cc: Michael Snyder <mxsnyder@baltimorecountymd.gov>; Mention <mention@noreply.github.com>
Subject: Re: [baltimorecounty/BCPL-assets] Evalua

[2018-04-24 20:10] danfox01 commented on #349
Yup -- switch to JSON and replace the yes/no's with a drop-down that handles the thinking for the user. Let me know if you have any concerns with that at the moment -- I can document the details for you first thing tomorrow.

Would this have any impact on the way the alerts are pulled into Polaris?

[2018-04-24 20:12] sdurphy commented on #330
yikes.... the test page was obliterated in this morning's refresh.

[2018-04-24 20:12] mxsnyder commented on #349
Great point. If we switch to JSON, we'll have to set the rendering server to allow cross-origin calls, or they'll be blocked. I'll email Mr. Sheppard and see what he things. We may have to discuss with SystemsAlliance.

[2018-04-24 20:13] sdurphy commented on #330
i can quickly create again. @mxsnyder the margins should be exactly the same as the ones for pull-image-left

[2018-04-24 20:17] danfox01 commented on #349
Ok, yes please start with Shep and we’ll take it from there. At half a day it’s worth the squeeze but I don’t know about much more than that. Thanks!

[2018-04-24 20:24] mxsnyder commented on #330
@sdurphy No problemo. Do you want one for the right side too?

[2018-04-24 20:27] sdurphy commented on #330
@mxsnyder Yes, right should be, margin: 5px 0 20px 30px

[2018-04-25 11:40] martypowell commented on #349
@mxsnyder could we use services.bcpl.info to consume the site executive structured content json and allow both site executive and polaris to hit it?

[2018-04-25 11:42] martypowell commented on #344
Closing as I have reviewed the document and it looks good.

[2018-04-25 11:42] #344 closed

[2018-04-25 12:47] danfox01 commented on #381
Looks good.

[2018-04-25 12:48] danfox01 commented on #375
Looks good.

[2018-04-25 12:51] danfox01 commented on #377
Approved.

[2018-04-25 14:06] smarston commented on #291
Dan changed his mind. :(

[2018-04-25 14:06] #291 closed

[2018-04-25 14:14] smarston commented on #243
Dan said yes, close it. 😁

[2018-04-25 14:14] #243 closed

[2018-04-25 14:40] danfox01 commented on #305
@mxsnyder, can we kill the period after "adult" in the card disclaimer in time for this release?

[2018-04-25 14:53] mxsnyder commented on #364
Verified in dev!

[2018-04-25 15:09] mxsnyder commented on #305
I think that won't be a problem. One sec.

[2018-04-25 18:28] mxsnyder commented on #349
I have the API work done for this and merged into the master branch. I can do the front-end after tonight's deploy, so, tomorrow.

[2018-04-25 19:45] mxsnyder commented on #348
Deleted:
- mock-featured-events.json
- bcpl-databases.html

[2018-04-25 19:54] mxsnyder commented on #363
Adding the `content-container` class to the table, and the `content-module` class to the parent `<div>` will result in this:

![image](https://user-images.githubusercontent.com/24256320/39269441-d1d639e6-48a0-11e8-9946-f834e39ab13c.png)

The margins could use some work, but this gets us 90% of the way to where we want to be. Another thought--should this table be full-width?

[2018-04-25 19:57] mxsnyder commented on #253
We were using imageTitle instead of title on the third line. This will resolve the issue:

[code]

[2018-04-25 20:01] mxsnyder commented on #330
We can add something like this:

[code]

[2018-04-25 20:05] danfox01 opened #392 "AddThis modal in full detail view needs styling"
To replicate:
- Go to https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=891923
- On the left, click "Share"
- Scream

I figure this should have the same black background  that AddThis usually has and should be centered.

[2018-04-26 01:15] martypowell opened #394 "Branch Name seems clickable but isn't on the Locations Page"
fyi - @danfox01

i keep doing this

![image](https://user-images.githubusercontent.com/1933400/39280511-cdd9a756-48cd-11e8-94fd-25d113aa4991.png)

[2018-04-26 01:29] martypowell opened #395 "Catalog Search No Results Not Styled"
https://catalog.bcpl.lib.md.us/polaris/search/searchresults.aspx?ctx=1.1033.0.0.6&type=Default&term=lpkp&by=KW&sort=MP&limit=TOM=*&query=&page=0&searchid=1

[2018-04-26 01:33] martypowell commented on #293
https://catalog.bcpl.lib.md.us/polaris/rss/whatis.aspx

[2018-04-26 01:37] danfox01 opened #396 "Paging is missing on Polaris search results"
Just identified this in 1.3 -- not sure how long this issue has been present. There is no UI element for paging through results.

To replicate, search for Harry Potter and note that you can't navigate to additional pages of results.

[2018-04-26 02:02] danfox01 opened #399 "Current requests cannot be canceled in Polaris"
Returns a a generic error message: An error was encountered.

According to @jdomasky this functionality has worked in the past. It's unclear if this was tested since the upgrade, though it is part of the test plan.

[2018-04-26 02:08] mxsnyder commented on #396
Try again?

[2018-04-26 02:12] mxsnyder commented on #399
This is `/polaris/PatronAccount/requests.aspx`.

[2018-04-26 12:07] mxsnyder opened #400 "Calendar downloads open blank window on iOS"
Bug fix for #371

The calendar invites still aren't opening correctly from the event details and events registration pages.

- iOS/Safari: Calendar invitation flashes for a second then vanishes
- iOS/Chrome: Blank tab

[2018-04-26 12:09] mxsnyder commented on #400
Taking a look...

[2018-04-26 12:09] mxsnyder commented on #371
Created #400 for the bug fix.

[2018-04-26 12:15] mxsnyder commented on #400
This works in dev and prod in BrowserStack, which is perplexing since they use real devices for testing.

[2018-04-26 12:35] martypowell commented on #395
@danfox01 @mxsnyder this was on me, i missed this in the zip provided to mike kollin

[2018-04-26 12:57] danfox01 commented on #399
Steps to recreate:
1. Log in to [Polaris](https://catalog.bcpl.lib.md.us/polaris/)
1. Select "[Requests](https://catalog.bcpl.lib.md.us/polaris/patronaccount/requests.aspx)" on the left nav.
1. Select a checkbox next to one of your active requests (Karrie will need to add these to your test account if you don't have any.)
1. Choose "Cancel Selected"
1. Choose "Submit"

Instead of cancelling the re

[2018-04-26 12:58] martypowell opened #402 "Move truncator extension to polaris"
As part of the release we moved this into master js, but Site Executive will not use this logic.

[2018-04-26 13:13] mxsnyder commented on #399
Here is the error from the server:

[code]

[2018-04-26 15:14] martypowell commented on #399
Status Update:

The last version of this working has been moved to production, so this is no longer a problem. However, we lost the tablenator (don't worry it'll be baacccckkkkk).

@danfox01 tablenator is in ils-test, let me know if you are able to cancel and active item. If so , we can move this as a hotfix.

[2018-04-26 15:16] #242 closed

[2018-04-26 15:27] mxsnyder commented on #400
This is fixed for Safari for iOS, and will (more than likely) be released this afteroon.

[2018-04-26 15:39] martypowell commented on #363
@mxsnyder are you waiting for @sdurphy on this one?

[2018-04-26 15:40] mxsnyder commented on #253
Ready for review on the dev homepage:
https://dev.bcpl.info/

[2018-04-26 15:40] martypowell commented on #366
@danfox01 we are waiting for you on this one see my comment above.

[2018-04-26 15:44] mxsnyder commented on #363
In fact I am waiting on @sdurphy.

[2018-04-26 15:44] martypowell commented on #253
looks AMAZING

[2018-04-26 16:02] sdurphy commented on #363
@mxsnyder can we make full width?

[2018-04-26 16:08] danfox01 commented on #399
@martypowell the version in ils-test is not working again -- I get the error when trying to cancel.

The version that is in ils-test is tablenated **and** has the modified column order. Is that what you intended? Do we want to say if the tablenated version with the original column order will solve the problem?

[2018-04-26 16:10] danfox01 commented on #253
A real beauty.

[2018-04-26 17:06] martypowell commented on #399
@danfox01 that is actually good, this means tablenator is breaking the cancel. I will look into this.

fyi @mxsnyder

[2018-04-26 17:14] mxsnyder commented on #330
@sdurphy I applied `.left-aside-padded` to the Twitter thingy on https://dev.bcpl.info/test.html. Good to go?

[2018-04-26 17:45] martypowell commented on #399
@danfox01 can you please try this again in ils-test, it should have tablenator, and hoping you are also able to cancel.

[2018-04-26 18:28] danfox01 commented on #399
@martypowell,  there is no tablenator in ils-test

[2018-04-26 18:37] mxsnyder commented on #363
@sdurphy How's this?

![image](https://user-images.githubusercontent.com/24256320/39325092-5042330c-495f-11e8-9cae-bfba2e55ee05.png)

[2018-04-26 18:37] mxsnyder commented on #363
Or should the table be a part of the "card" above it?

[2018-04-26 18:39] mxsnyder commented on #363
Like so:

![image](https://user-images.githubusercontent.com/24256320/39325187-8f156ec8-495f-11e8-821a-df3923e8f725.png)

[2018-04-26 18:42] sdurphy commented on #363
I didn't think we could add it to the card above... I totally prefer it as part of the card.

[2018-04-26 18:43] sdurphy commented on #363
I NEED MORE PADDING AROUND THAT TABLE @mxsnyder
![more-cowbell](https://user-images.githubusercontent.com/2189638/39325443-31cc2684-4960-11e8-899a-668c7c99d897.gif)

[2018-04-26 18:59] mxsnyder commented on #363
@sdurphy Done and done. Please review on ILS-TEST.

[2018-04-26 19:06] sdurphy commented on #363
perfect. thanks @mxsnyder

[2018-04-26 19:08] mxsnyder commented on #392
This is awful in more ways then my grasp of the English language can express.

[2018-04-26 19:13] mxsnyder commented on #363
![image](https://user-images.githubusercontent.com/24256320/39326883-55f41d38-4964-11e8-96b7-ace143cd5bc5.png)

[2018-04-26 19:17] mxsnyder commented on #392
@danfox01 I took a look, and this is an `<iframe>` and due to same-origin policy, I can't inject CSS into it. I'm looking to see if others have hit this problem, but in the meantime, maybe we should consider removing Polaris's left-side share button.

[2018-04-26 19:27] mxsnyder commented on #392
@danfox01 Nevermind, I was looking in the wrong place. I got it. Preview coming to a test website near you soon.

[2018-04-26 19:32] mxsnyder commented on #392
@danfox01 Ready for preview:

https://ils-test.bcpl.lib.md.us/polaris/view.aspx?keyword=harry%20potter

[2018-04-26 20:16] danfox01 commented on #392
@mxsnyder Looks great on desktop, but weird on mobile. Let me know if you need "weird" defined, but I think you'll see it.

[2018-04-26 20:29] mxsnyder opened #406 "Add drop shadows to everything"
Something like this:

![image](https://user-images.githubusercontent.com/24256320/39330227-e52109a8-496e-11e8-9685-ad6834ac4c1e.png)

[2018-04-26 20:29] danfox01 commented on #406
LOL. Much better.

[2018-04-26 20:30] sdurphy commented on #406
@mxsnyder you must already be at the bar

[2018-04-27 10:59] danfox01 commented on #369
Resolved with Release 1.3

[2018-04-27 10:59] #369 closed

[2018-04-27 11:00] danfox01 commented on #377
Resolved with Release 1.3

[2018-04-27 11:00] #377 closed

[2018-04-27 11:02] #355 closed

[2018-04-27 11:02] #356 closed

[2018-04-27 11:02] #363 closed

[2018-04-27 11:02] #364 closed

[2018-04-27 11:02] #365 closed

[2018-04-27 11:02] #366 closed

[2018-04-27 11:02] #368 closed

[2018-04-27 11:02] #370 closed

[2018-04-27 11:02] #371 closed

[2018-04-27 11:02] #372 closed

[2018-04-27 11:02] #375 closed

[2018-04-27 11:02] #376 closed

[2018-04-27 11:02] #381 closed

[2018-04-27 11:02] #382 closed

[2018-04-27 11:02] #384 closed

[2018-04-27 11:03] #304 closed

[2018-04-27 11:03] #305 closed

[2018-04-27 11:03] #324 closed

[2018-04-27 11:03] #327 closed

[2018-04-27 11:03] #330 closed

[2018-04-27 11:03] #334 closed

[2018-04-27 11:03] #343 closed

[2018-04-27 11:03] #348 closed

[2018-04-27 11:03] #351 closed

[2018-04-27 11:04] #245 closed

[2018-04-27 11:04] #272 closed

[2018-04-27 11:04] #295 closed

[2018-04-27 11:04] #297 closed

[2018-04-27 11:06] danfox01 commented on #379
Yes, this was resolved when #384 was addressed.

[2018-04-27 11:06] #379 closed

[2018-04-27 11:48] martypowell commented on #399
@danfox01 yea we messed up...working on getting that in now.

[2018-04-27 12:07] martypowell commented on #399
@danfox01 this is back on ils-test

[2018-04-27 12:31] danfox01 commented on #399
Interesting... So, it works in desktop view, but once it gets tablenated at mobile, I still get an error.

[2018-04-27 12:33] martypowell commented on #399
that makes total sense actually, although now the solution is more murky.

[2018-04-27 12:39] martypowell commented on #361
@sdurphy we need to determine what is the default behavior for a link. It seems we have inconsistent behavior (that we talked about yesterday on chat) on bcpl. Once we figure that out, i will update polaris.

fyi @danfox01

[2018-04-27 13:02] danfox01 opened #407 "What is the process for updating only the nav in Polaris? Is it documented?"
@mxsnyder We are going to start having link and nav changes in the global header on a fairly regular basis. What is the best way to document what's changing to ensure the right stuff gets copied over?

Also, should small changes wait for a change control, or can they be updated on demand (assuming NSU is available, of course). I'd prefer for the nav not to be out of sync for very long.

[2018-04-28 14:26] #345 closed

[2018-04-28 14:34] danfox01 opened #409 "AddThis not functioning properly on Events page"
BCPL reported that nothing happens when they select the "Share" button on the events page. I have not been able to replicate this in any browser **but** I did discover another issue:

When clicking the Share button on an event detail screen, the link defaults to the main Events page (https://www.bcpl.info/events-and-programs/list.html#!) instead of the specific event (e.g, https://www.bcpl.info/ev

[2018-04-28 14:36] danfox01 commented on #409
Also, I realize some of the functionality is redundant to the "Email to a Friend" feature on the left, but for the sake of template consistency the share button should work on every page

[2018-04-30 11:49] martypowell opened #410 "Document BCPL Services"
http://services.bcpl.info/

Probably best to use swagger at this point.

[2018-05-01 11:43] martypowell commented on #407
@danfox01 I will figure this out and get back to you

[2018-05-01 11:59] martypowell commented on #399
@danfox01 ready for testing.

just need to hear back from you on whether we want the table with the content container around it, or without it, like on requests

[2018-05-01 17:09] martypowell commented on #293
@danfox01 in dev, pending code review

[2018-05-01 17:10] martypowell commented on #399
@danfox01 in dev, pending code review

[2018-05-01 18:49] danfox01 opened #412 "Polaris "My Account" menu disappears on small screens"
When browsing account features (https://ils-test.bcpl.lib.md.us/polaris/patronaccount/), the "My Account" menu disappears at small sizes.

To replicate:

- View the site at 650 px, scroll down and note that "My Account" shows.
- Size down to 649 px or smaller, and note that "My Account" disappears.

"My Account" menu should show at all sizes.

[2018-05-01 19:37] danfox01 opened #413 "Add conditional age disclaimer to "All Ages" events"
Events that could have a child under 8 in attendance dynamically include a disclaimer stating that children must be accompanied by an adult. (See #305 details.)

The "All Ages" group needs to be added to the age groups that display the disclaimer.

[2018-05-01 20:38] danfox01 commented on #399
@martypowell, two showstoppers reported by @jdomasky:
- Tablenator doesn't 'nate in IE11
- On the Requests page, when sized down to mobile size in Chrome and FF, the Title and Hold Position turn blank.

Let me know if you'd prefer to see separate issues opened for these.

[2018-05-02 12:03] martypowell commented on #412
@danfox01 ready for review in dev.

[2018-05-02 12:04] martypowell commented on #399
@danfox01 ready for review in dev, I don't have any hold position records in an account, well need to test that somehow.

[2018-05-02 14:31] martypowell commented on #349
this is in production confirmed by @mxsnyder

[2018-05-02 14:31] #349 closed

[2018-05-02 14:32] martypowell commented on #395
@danfox01 this is in dev, confirmed by me.

[2018-05-02 14:32] #395 closed

[2018-05-02 14:42] danfox01 commented on #349
@martypowell, just to confirm: Before he left I believe Mike told me the API changes were in prod but the CSS/JS and XML changes would be deployed with 1.4 .We're accounting for those, right?

[2018-05-02 14:43] martypowell commented on #349
@danfox01 correct, yes.

[2018-05-02 15:13] jdomasky commented on #399
I tested canceling a request in Polaris dev and I was successful.
Also, I have a request with a hold position and I confirmed that the hold position remained visible at mobile widths in desktop Firefox and on an Android phone.
And finally, I sized down IE 11 to mobile width and the tablenator kicked in.
Based on my tests, it seems like this issue is fixed in dev, including both of yesterday's show

[2018-05-02 15:14] danfox01 commented on #399
Thank you!

@martypowell, sounds like this is good to go.

[2018-05-02 16:50] danfox01 opened #416 "Implement GA autotrack to extend analytics tracking"
It looks like this is a fairly simple implementation with a pretty good default configuration for adding things like outbound link tracking to GA. I'd like to know what sort of effort we'd be looking at to set this up and test.

https://github.com/googleanalytics/autotrack

[2018-05-02 17:26] martypowell commented on #416
@danfox01 will need to know specifically what we want to do with this.

[2018-05-02 17:30] danfox01 commented on #416
@martypowell dunno yet. Just wanted to log it. I’ll add more detail when I figure it out.

[2018-05-02 23:09] danfox01 commented on #407
Thanks. I thought Mike documented this somewhere but I can't find it.

[2018-05-03 01:13] martypowell commented on #242
@danfox01 this still is somewhat difficult to select on android if you are selecting not sliding.

[2018-05-03 01:52] danfox01 opened #417 "Fees table needs to be tablenated"
https://catalog.bcpl.lib.md.us/polaris/patronaccount/finesfees.aspx

Also, we can wipe out the content box around it, to make it match the other tables we've done.

[2018-05-03 02:04] danfox01 opened #418 "Add to List is showing as a link instead of a button"
The Add to List button (underneath Place Hold on the left side) is rendering as a link, but turning back into a button on hover. I am seeing this in all cases in Chrome on my PC. @sdurphy says it's displaying normally on his Mac.

https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=13374

[2018-05-03 02:06] danfox01 opened #419 "Check Out button not rendering properly"
The Check Out button (similar to Place Hold but usually appears for ebooks) is no longer rendering properly. It sould be the standard green button style but instead of showing white while a gray hover state.

https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=544043

[2018-05-03 11:45] martypowell commented on #418
@danfox01  in all major window browsers on the county network, this looks okay to me.

[2018-05-03 14:39] danfox01 commented on #389
@martypowell can you confirm this is in place and close?

[2018-05-03 14:39] danfox01 commented on #412
Implemented in 1.4

[2018-05-03 14:39] #412 closed

[2018-05-03 14:40] martypowell commented on #389
confirmed.

[2018-05-03 14:40] danfox01 commented on #399
Implemented in 1.4

[2018-05-03 14:40] #399 closed

[2018-05-03 14:40] danfox01 commented on #293
Implemented in 1.4

[2018-05-03 14:40] #293 closed

[2018-05-03 14:41] danfox01 commented on #253
Implemented in 1.4

[2018-05-03 14:41] #253 closed

[2018-05-03 14:41] danfox01 commented on #392
Implemented in 1.4

[2018-05-03 14:41] #392 closed

[2018-05-03 14:42] danfox01 commented on #419
Implemented in 1.4.1

[2018-05-03 14:42] #419 closed

[2018-05-03 14:42] danfox01 commented on #418
Implemented in 1.4.1

[2018-05-03 14:42] #418 closed

[2018-05-03 14:45] danfox01 commented on #416
@martypowell specifically:

**Must have:**

- Outbound link tracking from GA on bcpl.info

**Nice to have, if effort is low:**

- Other interaction tracking, such as clicks on accordions and filters
- Scroll tracking to show how far users move down the page.

All of these things seems to be supported with autotrack, but they word is low effort. I don't want to implement if it's a big lift or compl

[2018-05-03 15:34] #389 closed

[2018-05-04 13:18] martypowell opened #420 "Add API Testing"

[2018-05-07 14:02] martypowell commented on #410
@danfox01 - This was overwritten on testservices, so that we could test the download endpoint, the docs and the download changes will be merged prior to the next release

[2018-05-07 14:04] martypowell opened #421 "Remove Unused Collections Endpoint in the BCPL Web Service"

[2018-05-07 14:04] martypowell commented on #421
confirmed with @mxsnyder this is unused.

[2018-05-07 14:11] martypowell opened #422 "Fix Download Calendar Events for BCPL Web Service"
In production this is working, but the latest greatest code is not. It does not appear that any of the the information telling the stream that it is a calendar event is included.

[2018-05-07 14:27] martypowell opened #423 "Wrap Site Nav in Polaris to make it easier to copy and paste in changes"

[2018-05-07 14:27] martypowell commented on #407
@danfox01 I think this is basically copy what is in dev or staging on a rendered page and move it into site.master in the polaris project. Next time we do this I can wrap the stuff that needs replaced in comments  (tracked [here](https://github.com/baltimorecounty/BCPL-assets/issues/423)).

[2018-05-07 17:46] danfox01 opened #424 "Items cannot be renewed on an iPhone"
https://catalog.bcpl.lib.md.us/polaris/patronaccount/itemsout.aspx

On an iPhone 7, selecting an item for renewal then clicking "Renew Selected Items" causes the page to reload instead of renewing the item. The expected behavior is for a confirmation message to appear.

Appears to work fine on desktop Chrome and IE11. Currently testing other browsers and devices.

[2018-05-07 18:44] danfox01 commented on #424
Resolved by HF.

[2018-05-07 18:44] #424 closed

[2018-05-08 12:12] martypowell commented on #413
@danfox01 this is ready for testings in dev

[2018-05-08 13:44] danfox01 opened #426 "When an event has multiple ages, the conditional age disclaimer doesn't show"
Examples:
- https://www.bcpl.info/events-and-programs/list.html#!/149029
- https://www.bcpl.info/events-and-programs/list.html#!/148727

Expected behavior:
The age disclaimer should show for applicable groups, regardless of how many different age groups the event applies to.

[2018-05-08 13:45] danfox01 commented on #413
This looks good, though I found this related bug (#426 ) that currently exists in prod.

[2018-05-08 16:10] danfox01 commented on #422
@martypowell I thought this was already done in prod? Is this just to update source control?

[2018-05-08 16:53] martypowell commented on #422
@danfox01 update in source control, so we can release the other changes to the service.

[2018-05-08 17:29] martypowell commented on #426
@danfox01 ready to test in dev.

[2018-05-08 18:45] danfox01 opened #429 "Event registration should close when an event starts, not before"
https://www.bcpl.info/events-and-programs/list.html#!/

**Current functionality:**
Event registration closes 30 minutes before an event starts, even if there are still seats available.

**New functionality:**
Event registration should close when the event starts.

Any rules regarding when registration opens, event capacity, wait lists, etc. should be unchanged.

[2018-05-09 19:22] martypowell opened #433 "Cypress - See if we can remove some of the waits"
we have used wait to handle animations and ajax, and maybe we shouldn't be.

[2018-05-10 14:20] martypowell opened #434 "Add E2E Tests for Footer"
- https://github.com/baltimorecounty/BCPL-assets/wiki/Footer-Features-Test-Plan

[2018-05-10 17:17] martypowell opened #436 "Add E2E for Search Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Search-Test-Plan

[2018-05-10 19:13] martypowell opened #437 "Polaris too slow for e2e-testing"
When you redirect to a Polaris page, the tests take forever, we need to figure out a way to speed this up, not only so we can navigate to them in our tests, but also run tests on them.

Example, https://github.com/baltimorecounty/BCPL-assets/wiki/Search-Test-Plan

[2018-05-11 11:54] martypowell commented on #416
@danfox01 can you break the other two requests into issues.

- In my last job, i wrote a small js library to make it pretty easy to adding events for analytics. Not a big effort.
- Not sure about the scroll tracking, I can take a look at the library you shared and see how they do it. This will be more effort.

[2018-05-11 12:15] martypowell commented on #413
@danfox01 both addressed, please move to ready for release if you are happy with the fixes.

[2018-05-11 12:19] martypowell opened #439 "Add E2E for Alerts Test Plan"
This will be tricky because alerts aren't always visible, more to come.

[2018-05-11 12:20] martypowell opened #440 "Add E2E for Breadcrumbs and Print/Share Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Breadcrumbs-and-Print-Share-Test-Plan

[2018-05-11 12:21] martypowell opened #441 "Add E2E Global Navigation Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Global-Navigation-Test-Plan

[2018-05-11 12:21] martypowell opened #442 "Add E2E Locations Page Test Plan"
- https://github.com/baltimorecounty/BCPL-assets/wiki/Locations-Page-Test-Plan
- https://github.com/baltimorecounty/BCPL-assets/wiki/Location-Details-Page-Test-Plan

[2018-05-11 12:22] martypowell opened #443 "Add E2E Databases Page Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Databases-Page-Test-Plan

[2018-05-11 12:22] martypowell opened #444 "Add E2E Events Page Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Events-Page-Test-Plan__

[2018-05-11 12:23] martypowell opened #445 "Add E2E Hub Pages Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Hub-Pages-Test-Plan

[2018-05-11 12:23] martypowell opened #446 "Add E2E Modal Gallery Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Modal-Gallery-Test-Plan

[2018-05-11 12:24] martypowell opened #447 "Add E2E Template Testing Test Plan"
https://github.com/baltimorecounty/BCPL-assets/wiki/Template-Testing-Test-Plan

[2018-05-11 12:28] martypowell commented on #407
this is just waiting for the next update to the nav.

[2018-05-11 12:49] danfox01 opened #448 "Add interaction tracking to GA"
Specifically, I would like to know when major UI elements are interacted with -- for example, button clicks, filter changes, etc.

[2018-05-11 12:50] danfox01 opened #449 "Add scroll tracking to GA"
According to the autotrack documentation, it's possible to determine how far down a page users scroll. If this can be easily implemented, I'd like to add the functionality.

[2018-05-11 12:50] danfox01 commented on #416
Sure thing. See #448 and #449

[2018-05-11 17:02] martypowell commented on #416
@danfox01 outbound tracking will be available in 1.5.0 and will need to be tested in prod

[2018-05-11 17:05] martypowell commented on #436
resolves #436

[2018-05-11 17:06] martypowell commented on #436
fixed by #438

[2018-05-11 17:06] #436 closed

[2018-05-11 17:41] danfox01 opened #450 "Investigate appearance of additional "Holds" and "Availability" lines for digital materials"
OverDrive and cloudLibrary (ebooks and audiobooks) are now showing two lines of availability and holds, wheras BCPL reports there used to just be one line. Apparently there are two different values for digital materials -- one for BCPL and one for the entire Maryland system. For whatever reason, only BCPL's numbers were shown before and now both numbers are showing.

Also noteworthy... these numbe

[2018-05-14 12:31] martypowell commented on #420
These still need some work but the initial add is done.

[2018-05-14 12:35] martypowell commented on #410
@danfox01 these are done, we will need to make sure these are maintained on each change.

[2018-05-14 12:44] danfox01 commented on #410
Awesome. What is the link for BCPL?

[2018-05-14 12:51] martypowell commented on #410
dan, this is missing a couple things, updating this now.

[2018-05-14 14:13] danfox01 commented on #413
This is confirmed.

[2018-05-14 14:14] danfox01 commented on #426
@martypowell, Issue still exists, at least in some cases. Search for "bibliobop" and note that no disclaimer is shown.

[2018-05-14 14:49] martypowell commented on #426
@danfox01 please check again, js wasn't uploaded (from our chat)

[2018-05-14 15:14] danfox01 commented on #426
Confirmed.

[2018-05-14 20:04] danfox01 commented on #429
@martypowell confirmed this is not resolved yet. Just checked an event that begins in 25 min. It should still be available for registration, but it's marked closed.

[2018-05-15 18:51] danfox01 commented on #417
@martypowell, just found one issue: At mobile size, after I select a fine to pay and click "Pay Fines Now," a get a prompt that says, "You must select at least one fine."  It appears the check box isn't being recognized at that size.

Desktop works fine. If the fix doesn't jump right out at you, we can delay this portion of the release. Not a problem.

[2018-05-16 13:52] jsmith176 opened #455 "High Contrast does not persist when navigating to a new page"
1. Set the Adjust Contrast toggle to true.
2. Navigate to a new page.

The toggle button is now false and the high contrast style is lost.

4. Set the Adjust Contrast toggle to true.
5. Click the back button.

The toggle is in the true position, isHighContrast is false, and the high contrast style is lost.

[2018-05-16 14:00] danfox01 commented on #455
@jsmith176 very good catch. @martypowell can we look into a HF for this after today's release is out the door? The contraster is actually a really big deal for accessibility,.

[2018-05-16 14:01] martypowell commented on #455
@danfox01 yes

[2018-05-16 14:03] martypowell commented on #455
@danfox01 assigned to josh, he is going to start workign on it

[2018-05-16 15:00] martypowell opened #457 "Production Web.config contains test values"
When pushing the production code, values pointed to ils-test instead of catalog, these need to be fixed in the services web.config

[2018-05-16 15:00] martypowell commented on #457
@danfox01 this is a high priority prior to next release.

[2018-05-16 15:03] martypowell opened #458 "Events - Adjust card layout at md screen size"
![image](https://user-images.githubusercontent.com/1933400/40125382-c8ca6a9e-58f8-11e8-98e9-5ed7c72780c1.png)

[2018-05-16 15:06] martypowell commented on #458
This sized screen should also look like, with the time and branch above the other information.

![image](https://user-images.githubusercontent.com/1933400/40125493-11e5f694-58f9-11e8-9a9e-0f7f9587c989.png)

@danfox01 moved to a priority

[2018-05-16 16:26] danfox01 commented on #458
@martypowell, renames this issue to make it better match the solution we discussed.

[2018-05-16 17:38] martypowell commented on #442
Putting this in blocked for now, since a lot of the work has been done, but pending other prioritites.

[2018-05-16 17:39] #421 closed

[2018-05-16 17:43] #410 closed

[2018-05-16 17:43] #420 closed

[2018-05-16 17:45] #422 closed

[2018-05-16 20:27] danfox01 opened #462 "Polaris is accessible over http"
Account features seem to require https, but shouldn't we be forcing https everywhere?

[2018-05-16 20:29] danfox01 opened #463 "In Polaris, addthis share link opens addthis.com instead of a modal"
I believe we traced this to GA autotrack. @martypowell I thought this was fixed but I still see it in prod. Has it just not been implemented yet?

[2018-05-17 11:51] martypowell commented on #463
@danfox01 some poor merging on my part, we should be good now. Please close if you are happy.

[2018-05-17 12:30] danfox01 commented on #463
Looks good. Thanks.

[2018-05-17 12:30] #463 closed

[2018-05-17 12:35] danfox01 opened #465 ""Return to Previous Page" link doesn't work on some pages/browsers"
I'm having trouble understanding this one because I have been able to replicate it. BCPL reported this that the Return to Previous page link isn't working in some browsers, here: https://www.bcpl.info/_confirmations/confirmation-purchase-suggestion.html.

It seems to work fine in Chrome but in FF or IE it just opens the URL "http://javascript." I have confirmed that there is a previous page in the

[2018-05-17 18:25] danfox01 commented on #416
Released in 1.5

[2018-05-17 18:25] danfox01 commented on #426
Released in 1.5

[2018-05-17 18:27] danfox01 commented on #417
Released in 1.5

[2018-05-17 18:27] danfox01 commented on #465
@martypowell was this considered a hotfix?

[2018-05-17 18:28] martypowell commented on #465
@danfox01 yep...

[2018-05-17 18:52] danfox01 commented on #407
@martypowell, to document our previous discussion:

SE has been updated with the global nav change. Just need to finalize the steps for getting it into Polaris. Not urgent but should be done sometime next week.

[2018-05-17 18:53] danfox01 commented on #402
@martypowell, was this done?

[2018-05-17 19:01] danfox01 opened #466 "Alternative designs for "Registration" and "Children Under 8" on Events page"
We have discussed this a little bit but made no decisions. The addition of the age disclaimer for most events has made the events page feel pretty red-heavy. Any ideas?

https://www.bcpl.info/events-and-programs/list.html#!/

[2018-05-17 19:44] danfox01 commented on #466
That's a possibility. I was thinking maybe a key at the top and then just icons on the cards or something. Or maintain the disclaimer on the cards but try to tone down the intensity.

[2018-05-18 12:32] martypowell commented on #455
this was pushed on 5/17

[2018-05-18 12:32] #455 closed

[2018-05-18 12:33] martypowell opened #467 "Contraster Flashed when changing pages"

[2018-05-18 14:39] danfox01 commented on #458
Thanks @jsmith176! This looks good in dev. I am reopening until this goes into production. That's generally how we want to do it, so we don't lose track of the changes between releases.

[2018-05-18 14:45] jsmith176 commented on #458
@danfox01 I will keep that in mind for the next one!

[2018-05-18 14:47] danfox01 commented on #394
Discussed with @sdurphy and @hburnopp. Let's change the second instance of the branch name to a static  header, "Address." That should solve the confusion about whether it's clickable, and makes things less redundant.

[2018-05-18 14:50] danfox01 commented on #467
FYI, this behavior did not occur in original version of the contraster, before the version that fixed #455. However, not an urgent issue.

[2018-05-18 15:49] martypowell commented on #457
this appears to be a user error on my part, thanks for looking into this @jsmith176

[2018-05-18 15:49] #457 closed

[2018-05-18 19:30] jsmith176 commented on #466
Maybe change them to the purple color of the event date bar?

[2018-05-18 19:31] jsmith176 commented on #466
![image](https://user-images.githubusercontent.com/2495453/40254176-7973d192-5ab0-11e8-8156-85f4a664704f.png)

[2018-05-18 20:09] jdomasky commented on #466
I like your suggestion a lot, @jsmith176! It no longer feels red-heavy to me.
I'm concerned about putting the disclaimers at the top and using icons because I've never regarded key/icon systems to be mobile-friendly.

[2018-05-21 11:52] martypowell commented on #394
Just to make this clear for me, Each branch name will change to "Address" which will be updated in the events app template.

[2018-05-21 11:53] danfox01 commented on #394
On the locations template, not events

[2018-05-21 11:53] martypowell commented on #394
even better haha

[2018-05-21 15:06] danfox01 commented on #466
You're on the right track @jsmith176 -- purple definitely softens everything and I like that it keeps with the brand colors.  I think we would still be in the same position, though -- only too much purple now, instead of too much red.

I think it's might actually be more of a text problem than a color problem. It's just a lot with the addition of the second tag. @sdurphy any thoughts?

[2018-05-21 15:48] jsmith176 commented on #466
@danfox01 How do you feel about this color? (#a12600)
![image](https://user-images.githubusercontent.com/2495453/40316497-844ff17a-5cec-11e8-8805-1411f28b07b9.png)
It's the complementary color of the header.

[2018-05-21 19:43] danfox01 opened #471 "Update Polaris global nav to match BCPL SE nav"
See also: #423 and #407. This change is minor, but we need to make sure the process is documented as well.

The specific changes that need to be translated to Polaris in this update:

- Additional "Summer Reading Challenge" `<li>` added to Youth section
- "Log in to Your Account" `<h3>` in slide down-nav is now "Your Account"

[2018-05-21 20:02] danfox01 opened #472 "Polaris menu icons are smaller than SE versions"
Polaris search and hamburger icons are smaller than SE versions at XS screen size. The Polaris header should be updated to match the sizes and breakpoints of SE.

SE on left, Polaris on right. I believe this was introduced by #387.

![screenshot-2018-5-21 baltimore county public library home](https://user-images.githubusercontent.com/13049389/40327205-152829ba-5d10-11e8-922b-5217c6743c8a.jpg)

[2018-05-22 11:47] martypowell commented on #471
@jsmith176 FYI

[2018-05-22 13:45] sdurphy commented on #466
Can we simplify so that the star is purple (#802754) and the text is dark gray (#666). Please see attached mockup.
![screen shot 2018-05-22 at 9 42 39 am](https://user-images.githubusercontent.com/2189638/40366352-e572ba4c-5da4-11e8-9982-2c97453031aa.png)

[2018-05-22 14:03] ascire commented on #466
`#666` is the Gray of the Beast.

\*Exits thread.\*

[2018-05-22 14:04] jsmith176 commented on #466
It looks good though.

[2018-05-22 14:11] sdurphy commented on #466
HAHAHA @ascire

[2018-05-22 16:28] danfox01 opened #474 "When contraster is active, breadcrumb arrows get huge in IE11"
Reported by @jdomasky. Not the results of a recent change -- this currently exists in prod as well.

To replicate, turn contraster on in IE11 and note the hugeness of the breadcrumb.

[2018-05-22 17:42] martypowell commented on #474
@danfox01 this fix is in dev.

[2018-05-22 17:53] martypowell commented on #407
@jsmith176 since you updated the nav, can you take a quick stab at this, basically just say exactly what you did.

[2018-05-22 17:55] martypowell commented on #409
@danfox01 oh how i love addthis, going to attempt to do this one.

[2018-05-22 18:14] jsmith176 commented on #407
@martypowell How detailed does this need to be? Are we talking programmer exact or something less technical?

[2018-05-22 18:25] jsmith176 commented on #471
@danfox01 This is ready for testing.

[2018-05-22 18:40] jsmith176 commented on #407
The non-technical version:

- Navigate to the BCPL Home Page
- Inspect the changes (with chrome developer tools) noted in the issue
- Copy the changed elements into site.master
- Upload the changes

[2018-05-22 19:14] martypowell commented on #407
@danfox01 see above. Is this sufficent?

[2018-05-22 19:15] danfox01 commented on #458
One change: At full size, the event card cols should be 4 and 8, not 3 and 9.

You can compare that breakpoint to prod to see the expected widths. They are correct in prod.

[2018-05-22 19:19] martypowell commented on #394
addressed by #470

[2018-05-22 19:23] martypowell commented on #409
@danfox01 this is in dev.

[2018-05-22 19:42] danfox01 commented on #474
Confirmed in dev.

[2018-05-22 19:47] danfox01 commented on #471
Something is still funky here. If you open two tabs and toggle back and forth between Polaris and SE you can see some differences at identical sizes. Also, when you size down 320 (iPhone SE size), menu icons stack instead of shrinking in Polaris.

[2018-05-22 22:26] danfox01 commented on #466
Let's go with @sdurphy's version. Moving this to To-Do.

[2018-05-23 13:09] danfox01 commented on #407
If we assume that @martypowell and @jsmith176 aren’t here (god help us), would this be enough info for another developer to figure out everything that needs to be done? If so, I’m good. If not, please add whatever additional info is needed. We should keep this somewhere easily accessible... maybe in the BCPL Github wiki?

Thanks!

[2018-05-23 13:16] martypowell commented on #407
Yea I think this is probably sufficient then, but we might want to update our documentation on maintaining the Polaris skin to supplement this.

[2018-05-23 14:28] jsmith176 commented on #458
@danfox01 this is ready for testing again. The changes are in dev.

[2018-05-23 14:44] danfox01 commented on #458
Looks good. Thanks!

[2018-05-23 14:48] danfox01 opened #479 "Allow users to sign up for event reminders during event registration"
I believe the SignUp API allows users to opt in to text or email reminders when registering for an event. I'm also pretty sure that the registration endpoints are undocumented, but can inferred here: https://bcpl.evanced.info/signup/EventDetails?EventId=155846. That's how Mike originally identified them and confirmed they were correct with vendor support.

At this time, I just want to mimic the ex

[2018-05-23 14:51] martypowell commented on #466
@danfox01 this is in dev, please verify that @jsmith176 's changes are still reflected with the responsiveness.

[2018-05-23 14:59] martypowell commented on #479
@danfox01 per our convo, let's put some analytics tracking on this feature so that we can evaluate it's use in the future.

[2018-05-23 17:14] martypowell commented on #471
@danfox01 i did not mean to assign to you.

[2018-05-23 18:08] danfox01 commented on #466
Confirmed, looks good.

[2018-05-23 18:09] danfox01 commented on #409
Looks good.

[2018-05-23 18:39] danfox01 commented on #472
Per conversation with @martypowell.

At XS size, the buttons should look like the screenshot on the left, until you hit 320px, which is the smallest size we currently support (iPhoneSE). At 320, the buttons should shrink to fit and look more like the nav on the right. The issue is that in Polaris currently, the buttons shrink sooner than they should.

Super short version: The way that it looks in

[2018-05-23 19:17] sdurphy opened #480 "Add a Class for Captioned Images"
We need a class for images with captions. Basically a user should be able to create a div, insert an image into that div and place a caption below the image that conforms to the width of the image. The image and caption should be responsive. Comps are attached.
![caption-desktop](https://user-images.githubusercontent.com/2189638/40446173-5c665e36-5e9c-11e8-9302-744bddf1d42c.png)
![caption-mobile](

[2018-05-23 19:33] jsmith176 commented on #472
@danfox01 This is ready for another look.

[2018-05-23 19:45] danfox01 opened #481 "Image widths should be defined by CSS"
Currently images are being scaled by SE and stuff is getting weird. I think we want our CSS classes to handle the scaling instead.

Sort of guessing here, but 40% seems like a good target for images that have text wrap, though Sam might want other options. At XS size, I think 100% width would work for everything.

Needs a little more discussion with @martypowell and @sdurphy. Open to suggestions o

[2018-05-24 12:05] martypowell opened #482 "Add Version to API"
Since the API is separate from assets, we need to maintain it's own versioning.

https://github.com/Microsoft/aspnet-api-versioning/wiki/How-to-Version-Your-Service

[2018-05-24 12:56] martypowell commented on #450
@danfox01 I believe we researched this last Friday and couldn't come up with anything. Next step to reach out to the vendor?

[2018-05-24 13:11] martypowell commented on #467
is still flashing slightly despite releasing what appears to be working in dev. @danfox01 @jsmith176

[2018-05-24 13:23] danfox01 commented on #450
@martypowell , yeah I've been meaning to talk to Karrie. Meanwhile, one additional quirk. In IE11, this issue behaves a little differently. Use the link above and note that the two additional lines show a loading spinner but then disappear. If you click on a record, the lines show again. This is still not what's supposed to happen, but it's different than what occurs in Chrome. Does this give you

[2018-05-24 13:28] martypowell commented on #434
merged into master.

[2018-05-24 13:28] #434 closed

[2018-05-24 14:05] danfox01 commented on #479
Rethinking my original plan to simply mimic the Evanced version of the form... Please see attached wireframe. I think this might be a pretty non-invasive way to add this to the UI.

No reminder would be the default behavior. The full list of options would only be seen by users who opt in.

![reminder signup](https://user-images.githubusercontent.com/13049389/40490525-bb06179a-5f39-11e8-8745-3adcb2

[2018-05-24 14:13] jdomasky commented on #479
I like the wireframe, @danfox01. By initially hiding the options, the form is simpler for users at first glance.

[2018-05-24 14:15] martypowell commented on #479
This is actually what I had in mind as well. What do you think about the "Days Before" being a textbox?

[2018-05-24 14:16] danfox01 commented on #472
@jsmith176, This is really close. Two things:

- The "Digital Materials" heading in the slide-out global nav is no longer styled properly in ils-test... it should be TT Rounds Bold like the other top-level items.
- It looks like the button heights are a little different in SE vs. Polaris. This is not a showstopper, but if it's easily fixable, Polaris should match SE. I doubt many people will notic

[2018-05-24 14:34] martypowell commented on #479
@danfox01 if thats the case, we should switch to radio buttons

[2018-05-24 14:57] danfox01 commented on #479
Good idea.

[2018-05-25 15:45] martypowell commented on #467
investigating a strategy to make sure this doesn't blink...partially works, need to figure out what's going wrong.

[2018-05-25 15:52] martypowell commented on #448
We want to be able to track events for anything. Take a look at https://github.com/baltimorecounty/BCPL-assets/blob/integration/js/utility/bc-google-analytics.js.

We want to add  a function to this file called "trackEvent". That function should accept:
- category (required)
- label
- value (required)

see [here](https://developers.google.com/analytics/devguides/collection/gtagjs/events)

@danfox0

[2018-05-25 19:13] danfox01 commented on #466
@martypowell this is still marked pending code review. Good to close?

[2018-05-25 19:14] danfox01 commented on #474
Released in 1.5.2

[2018-05-25 19:14] #474 closed

[2018-05-25 19:14] danfox01 commented on #458
Resolved in 1.5.2

[2018-05-25 19:14] #458 closed

[2018-05-25 19:15] danfox01 commented on #409
Resolved in v1.5.2

[2018-05-25 19:15] #409 closed

[2018-05-25 19:34] jsmith176 commented on #448
@marty we should probably require an action as well

[2018-05-25 20:00] danfox01 commented on #224
Finally contacted LibAnswers about this. @martypowell, will let you know what they say.

[2018-05-29 11:30] martypowell commented on #224
@danfox01 I think the error has changed slightly now.

![image](https://user-images.githubusercontent.com/1933400/40656301-0b4583f4-6312-11e8-9072-bdb3bae8dbc2.png)

To view the current errors, simply inpsect in chrome and view the console.

[2018-05-29 11:33] martypowell commented on #448
@jsmith176 you are right, I updated my comment above.

[2018-05-29 15:31] martypowell commented on #224
@danfox01 this is ready for the next release.

[2018-05-29 15:41] danfox01 commented on #479
Since our reminders via the API didn't work, I'm going to try signing up directly in Evanced and see if we get a different result.

[2018-05-29 15:50] danfox01 commented on #479
Submitted via Evanced and requested an email reminder 1 day in advance. Here's the source:

{"RegistrationModel":{"PatronID":"","FirstName":"Dan","LastName":"Fox","Email":"daniel.fox@live.com","Phone":"2402157498","IsPatronChanged":false,"NotificationMethod":0,"NotificationOffset":"1","GroupCount":"","EventID":"135621","RegistrationID":"","RegistrationNotes":"","PaymentReceived":false,"PaymentID":

[2018-05-29 18:44] danfox01 opened #486 "Job posting landing page shows Open Until Filled and closing date the the same time"
Jason noticed that this view of the job post structured content lists "Open Until Filled" as well as the closing date: https://www.bcpl.info/about-us/job-announcements/2018/.

Open Until Filled should only appear when there is no closing date. See the viewlet on this page for expected behavior: https://www.bcpl.info/about-us/job-opportunities.html.

[2018-05-29 19:01] martypowell commented on #467
per @danfox01 not a priority.

[2018-05-29 19:26] #486 closed, assigned to martypowell

[2018-05-30 13:26] martypowell opened #487 "Polaris - Search Agent page needs tablenated"
You need to be logged in to view this enhancement.

https://ils-test.bcpl.lib.md.us/polaris/patronaccount/searchagent.aspx

[2018-05-30 13:36] martypowell opened #488 "Polaris - Reading History needs tablenated"
https://ils-test.bcpl.lib.md.us/polaris/patronaccount/readinghistory.aspx?ctx=1.1033.0.0.6

[2018-05-30 15:51] danfox01 commented on #479
@martypowell, when I registered directly in Evanced, I **did** get an email reminder. Can we compare the above data to what we tested via the API and see if anything is different?

One thought on the emails: We have always had issues with emails from this version of Evanced going to County addresses. For testing, we should probably use personal accounts.

[2018-05-30 17:39] danfox01 opened #489 "Thumbnails and article titles in blog list and landing views don't need link titles"
The structured content layout appears to by dynamically generating link titles for these two elements by pulling in the post titles and using it as link title. This technically isn't needed because we don't enforce link titles anymore. Ideally, these fields would not be included. Low priority.

[2018-05-30 17:52] martypowell opened #490 "Polaris - Contraster not working"

[2018-05-30 18:00] danfox01 opened #491 "Requests table: Move "Format" and "i" columns to end of table"
Can the "i" and Format columns (currently columns 2 and 3) be moved to the end of the table to better match the Items Out table?

[2018-05-30 18:03] danfox01 opened #492 "For Keyword Search Results page, move "Search By" and "Limit By" dropdowns into same box as "Keyword search""
On mobile, this would also mean that the "Select Options" button goes away, and these three fields are always shown.

https://ils-test.bcpl.lib.md.us/polaris/search/searchresults.aspx?ctx=1.1033.0.0.6&type=Default&term=harry%20potter

[2018-05-31 15:01] martypowell commented on #407
These are located in the readme, for the tfs project.

[2018-05-31 15:02] martypowell commented on #407
@danfox01, @jsmith176 reviewed these and is comfortable with the changes.

[2018-05-31 15:02] #407 closed

[2018-05-31 15:12] danfox01 opened #493 "Height of drop-down menus should match heigh of text inputs on Advanced Search"
https://ils-test.bcpl.lib.md.us/polaris/search/default.aspx?ctx=1.1033.0.0.5&type=Advanced

Can the drop down menus on this page be aligned to match the height of the text inputs next to them?

[2018-05-31 18:23] martypowell commented on #493
@danfox01

![image](https://user-images.githubusercontent.com/1933400/40800334-1ab6f0b6-64de-11e8-938e-6166317bc2bf.png)

???

[2018-06-01 12:35] martypowell commented on #479
on hold per @danfox01 until next week most likely.

[2018-06-01 14:02] danfox01 opened #494 ""More Search Options" modal isn't working in test"
When you select "more search options" after running a keyword search, the modal appears but doesn't work correctly.

- The button in the lower right reads "undefined." In prod, the buttons are "Set Search Options" "Clear" and "Close."

- Changes don't actually update the search query.

- The Exclude checkboxes in the modal don't align properly in test.

Compare to prod for proper functionality.

[2018-06-01 14:49] martypowell commented on #494
@danfox01 please verify the modal in test, I don't think any of the changes were necessary.

[2018-06-01 15:38] martypowell commented on #448
@danfox01is there a certain interaction that you want to start tracking?

[2018-06-01 15:40] martypowell commented on #493
@danfox01 this is in test, please let me know what you think?

[2018-06-01 15:49] danfox01 commented on #493
Looks good to me!

[2018-06-01 16:07] danfox01 commented on #448
Re: your questions from a few days ago (sorry, didn't see it till now) -- yes, I think Swiftype covers everything we need for search.

I am most curious about tracking filter usage -- events, locations, databases.

[2018-06-01 16:08] martypowell commented on #448
sounds good, ill add an issue or two so we can do this.

[2018-06-01 16:12] danfox01 commented on #494
Marty, documenting what we discussed in Hangouts. I don't think we need the additional styling -- the way it looks now is fine. Jason retested and it sounds like he's still  have sporadic issues with the "undefined" button appearing. I wonder if it's because of the lag in test.

[2018-06-01 17:07] martypowell commented on #494
@danfox01 it's the lag in test, doesn't seem like there is anything we can do about that. I think this can be resolved.

[2018-06-01 17:22] martypowell opened #495 "Add Event Tracking to Event Filters"
Events to track

- Keyword Search
  - action: "Keyword Search"
  - category: "Events"
  - label: the actual search term
- Start/End Date Change
  - action: "{Start/End} Date Filter Selection"
  - category: "Events"
  - label: the new date
- Filter List Checkbox Click
  - action: "{groupHeading} Filter Selection" (ex: "Branches Filter Selection")
  - category: "Events"
  - label: the actual selecti

[2018-06-01 17:50] danfox01 commented on #494
Yup, agreed. Thanks Marty.

[2018-06-01 17:50] #494 closed

[2018-06-01 17:52] danfox01 commented on #495
This looks good to me.

[2018-06-01 19:46] danfox01 opened #496 "Make content element spacing more consistent"
There's a little bit of variation in the bottom/top margins of some of our elements -- H2s, H3s, Ps, ULs, accordions, etc. -- that is causing some pages to look a little choppy. This is a good example: https://www.bcpl.info/youth/teachers.html.

@martypowell and @sdurphy can we talk about some spacing tweaks to make the groupings more consistent? We might need to set up a demo page in dev with a b

[2018-06-01 19:47] danfox01 commented on #493
@martypowell, let me know if I should move this to ready to release.

[2018-06-04 11:45] martypowell commented on #493
@danfox01 it is ready, so I moved for you.

[2018-06-04 11:46] martypowell commented on #496
I think a demo page would be good, that sam can decide. I'll offer any input if I have any.

[2018-06-04 12:12] martypowell commented on #495
@danfox01 you can test this in dev. You will see the output in the console so that we can "debug" this logic. When debug mode is turned off, it will send it to google analytics.

![image](https://user-images.githubusercontent.com/1933400/40916778-04ac7464-67cf-11e8-93fb-28a7214dd291.png)

[2018-06-04 12:13] martypowell opened #498 "Research Google's CustomSearch API"
@danfox01 assigning to you, so you can get me the information we talked about.

[2018-06-04 12:15] martypowell commented on #442
Can be found in this in this branch, if anyone wants to grab this.

https://github.com/baltimorecounty/BCPL-assets/tree/e2e-locations

[2018-06-04 12:43] martypowell commented on #479
sent a test record today for baby story time in towson on thursday (135343), will let you know if I get the notification.

[2018-06-04 12:47] danfox01 commented on #498
Our Swiftype contract is up in October, so I'd like to explore the feasibility of switching to this at that time. The API allows 100 queries per day for free, so that should be more than enough for testing. I can share the Google API key with you offline.

Main questions for you:
- What is the level of effort to switch BCG and BCPL sites from Swiftype to Google CSE API?
- Is it possible to use the

[2018-06-04 12:48] martypowell commented on #498
@danfox01 I need more explanation on last bullet, but the rest is clear.

[2018-06-04 15:46] danfox01 commented on #495
Sweet. Looks good.

[2018-06-05 12:40] jsmith176 commented on #471
@danfox01 This is ready for testing. It also addresses the "Digital Materials" heading in the slide-out global nav no longer being styled properly. It should be the correct font now.

[2018-06-05 12:50] jsmith176 commented on #472
@danfox01 the button sizes look correct now. They may have been fixed as a side effect of updating the Polaris global nav.

[2018-06-05 14:00] danfox01 commented on #472
@jsmith176, indeed they do. Let's consider this as ready to release when Polaris test gets pushed to prod. Last I heard that will happen on June 24.

[2018-06-05 14:05] danfox01 commented on #471
@jsmith176 can you please double check? I'm not seeing these in test. http://ils-test.bcpl.lib.md.us/polaris/

[2018-06-05 14:09] jsmith176 commented on #471
@danfox01 Woopse! Should be there now.

[2018-06-05 18:53] martypowell opened #499 "Add One Click Button for Overdrive"
For Overdrive books an option to one click get should be available.

fyi @danfox01

[2018-06-05 18:53] martypowell commented on #499
This was removed as part of the copy, it conflicts with some of the changes we have made, so it will have to be updated manually.

[2018-06-05 19:05] martypowell opened #500 "Add Event Tracking for the Locations Page"
Events to track

- Map Marker Click
  - action: "Map Marker Click"
  - category: "BCPL Locations"
  - label: the location name
- Filter List Checkbox Click
  We want these the same as events so use this
[code]
  Note: bcplLocationsCategory needs to be added to the constants and should be "BCPL Locations"

- Filter Tag List
  - action: "Filter Tag Selection"
  - category: "BCPL Locations"
  - label

[2018-06-06 15:08] martypowell opened #501 "Featured Events Widget is only Displaying 3 Events when it's set to 4"
@danfox01 fyi.

[2018-06-06 15:08] martypowell commented on #501
This appears to be happening because the events being returned are in a smaller date range than we desire.

[2018-06-06 15:38] martypowell commented on #501
@danfox01 this is in dev, hotfix is pending pull request.

[2018-06-06 15:42] danfox01 commented on #501
Looks good to me in dev. Thanks Marty.

[2018-06-06 15:45] martypowell commented on #501
will be released as a hotfix as soon as the code has made it through pr.

[2018-06-06 18:40] martypowell commented on #501
Released as hotfix [1.5.3](https://github.com/baltimorecounty/BCPL-assets/releases/tag/1.5.3)

[2018-06-06 18:40] #501 closed

[2018-06-06 18:41] danfox01 commented on #394
Resolved in 1.5.2

[2018-06-06 18:41] #394 closed

[2018-06-06 18:41] danfox01 commented on #466
Resolved in 1.5.2

[2018-06-06 18:41] #466 closed

[2018-06-06 18:44] danfox01 commented on #499
Documenting earlier conversation: One-click actually applies to all materials, not just e-content like Overdrive.

[2018-06-06 18:50] danfox01 opened #504 "Homepage events feed should pull in non-featured events if fewer than 4 featured events are available."
The homepage featured event widget was originally built to pull in non-featured events if there weren't enough featured events to populate all 4 slots. This feature seems to no longer be in place.

- When fewer than 4 events are marked featured, any "empty" spaces will be filled by the next upcoming event.
- Events should still display in date order, even when non-featured events are used.

I'm ac

[2018-06-07 13:57] martypowell commented on #498
Remaining Tasks

- Get Autocomplete integrated into the template (includes styling)
- Look into mobile version of paging
- Merge new code into service
- Ensure we can flip between providers

[2018-06-07 13:58] martypowell commented on #498
@danfox01 marking this is blocked until we are ready to move forward with this.

[2018-06-08 11:58] martypowell commented on #481
@danfox01 can you please confirm this is what we are looking for?

[2018-06-08 12:08] martypowell commented on #489
@danfox01 please test in dev.

https://dev.bcpl.info/blog

[2018-06-08 12:09] martypowell commented on #496
@danfox01 assigning to @sdurphy for a demo page.

[2018-06-08 12:30] martypowell commented on #492
@danfox01 should select options work the way it does now on larger screens?

[2018-06-08 12:39] martypowell commented on #480
pr #505 fixes this issue.

[2018-06-08 12:39] martypowell commented on #499
@danfox01 i think this is good now?

[2018-06-08 14:19] danfox01 commented on #489
I'm seeing one issue that may just need a process change regarding image size when we upload.

At desktop, sometime images smaller than 250px are used. When you size down to mobile, these seem to scale up, which makes them pixelated. This would be especially noticeable on a mobile device with hi res display.

For example, see this post and reduce to mobile size: https://dev.bcpl.info/blog/2018/bet

[2018-06-08 14:21] danfox01 commented on #481
I'm seeing one issue that may just need a process change regarding image size when we upload.

At desktop, sometime images smaller than 250px are used. When you size down to mobile, these seem to scale up, which makes them pixelated. This would be especially noticeable on a mobile device with hi res display.

For example, see this post and reduce to mobile size: https://dev.bcpl.info/blog/2018/bet

[2018-06-08 14:22] danfox01 commented on #489
Looks good.

[2018-06-08 14:50] martypowell commented on #489
resolved by #505 and similar to #480

[2018-06-08 15:39] danfox01 commented on #499
@martypowell, should I be seeing one-click for all materials, or are you still working on it?

[2018-06-08 15:40] martypowell commented on #499
my guess is this has been overwritten.

[2018-06-08 15:49] martypowell commented on #481
this has been resolved with #506

[2018-06-08 16:00] danfox01 commented on #499
Nope, I was looking in prod like a moron. Test looks good.

[2018-06-08 16:42] danfox01 commented on #496
Threw this together so Sam doesn't have to: https://www.bcpl.info/_test/copy-style-test.html

A lot of these are edge cases, but show a lot of combinations that result in weird spacing.

[2018-06-11 11:54] martypowell commented on #496
@danfox01 great, now should this be assigned to sam, to determine the spacing rules?

[2018-06-11 12:35] danfox01 commented on #496
@martypowell, yeah I'd like @sdurphy to look at it. It's still assigned to him.

[2018-06-11 14:15] martypowell commented on #489
@danfox01 in production.

[2018-06-11 14:15] #489 closed

[2018-06-11 14:37] martypowell commented on #496
waiting for sam to grab this

[2018-06-11 14:55] jsmith176 commented on #488
@danfox01 the reading history in ils-test has some different columns than in production.

[2018-06-11 15:19] sdurphy commented on #496
Can we make the following changes for this in dev?:

1. For "h1, h2, h3" can we make the margin-top ,and margin-bottom, 25px?
2. Can we remove "margin:o;" from ".address span + .content-accordion, .address strong + .content-accordion, .ekko-lightbox.modal .modal-title + .content-accordion, p + .content-accordion"
3. For ".btn, .buttonPrimary, .seButton, .seButton.buttonPrimary" can we change the m

[2018-06-11 17:32] sdurphy opened #507 "Polaris and BCPL Website - Change Active and Focused Color for Buttons"
In Polaris and on the BCPL site, can we change the active and focused color for buttons from the default Bootstrap blue, to dark Turquoise (#137875)? Ex: "Log In Now" button under "Account" in top right of BCPL site.

[2018-06-11 18:12] martypowell commented on #507
@sdurphy yes. @jsmith176 if you take this one, this will be applicable for both bcpl and polaris.

[2018-06-11 18:18] martypowell commented on #449
@danfox01 please review this, https://www.lunametrics.com/blog/2016/04/25/scroll-tracking-implement/.

We may one to consider some specific use cases for this.

Thoughts?

[2018-06-11 18:18] martypowell commented on #462
@danfox01 sheppard is going to look into this for us.

[2018-06-11 18:23] danfox01 commented on #449
@martypowell, I'll get back to you on this. We can move to a lower priority or move to blocked until then -- whichever you think is best.

[2018-06-11 18:31] martypowell commented on #449
@danfox01 moved near the bottom of the list now.

[2018-06-11 18:53] martypowell commented on #491
@danfox01 changing the order seems to disable functionality. I think this maybe be a case, where the juice isn't worth the squeeze.

[2018-06-12 13:13] jsmith176 commented on #488
@danfox01 This is in ils-test and is ready for testing.

[2018-06-12 16:18] danfox01 commented on #491
In that case, let's hold off on his for now. I have a few questions, but not pressing.

[2018-06-12 17:34] martypowell opened #509 "Adding Pagination and Filtering to Blog"
fyi @danfox01

@sdurphy is reaching out to Systems to see if this is possible.

[2018-06-12 17:36] martypowell opened #510 "Research - Allow "Remember Me" option when logging in"
fyi @danfox01

This is a top BCPL wish list item. Please research the feasibility and security of this. Not sure what’s involved, or if this is even possible

[2018-06-12 17:37] martypowell opened #511 "Add indication that when user is logged in."
fyi @danfox01

Maybe just add a user fa icon the user name next to the “print” icon? Clicking the name take you to the main account screen? Just a thought. Open to ideas and we can tweak later.

[2018-06-12 17:39] danfox01 commented on #509
Sorry, I put in a ticket for this a few months ago when Mike was still here. They said something to the effect if, it's possible if we want to write our own custom container:

[2018-06-12 18:18] jsmith176 commented on #490
@danfox01 this is in ils-test and is ready for testing.

[2018-06-12 18:53] danfox01 commented on #490
Looks good!

[2018-06-12 19:19] jsmith176 commented on #490
This will be temporarily broken in ils-test since it gets the js files from prod.
The contraster should work again after the next release.

[2018-06-13 12:54] jsmith176 commented on #487
@danfox01 This is in ils-test and is ready for testing.

[2018-06-13 17:18] jdomasky commented on #511
This will be a helpful enhancement. I suggest displaying an icon similar to Google, when a user doesn't have a profile photo, such as this:
![image](https://user-images.githubusercontent.com/13354985/41367015-d8733164-6f0b-11e8-8582-afa6c15b3ffe.png)
In BCPL colors, of course.
I don't think we should display the user name because the user name for most customers is their library card number. So, t

[2018-06-13 17:37] sdurphy commented on #511
For example:
![screen-shot-2018-06-13-at-1 25 54-pm](https://user-images.githubusercontent.com/2189638/41368097-e77205ac-6f0e-11e8-8ed6-16ec68a8d53e.jpg)

[2018-06-13 18:48] danfox01 commented on #511
When you are logged in to Polaris currently, doesn't it display "Last Name, First Name" in the account details menu (on the left). Can we use that same bit of data in the location on the right as well?

We should also discuss what, if anything is displayed here when the user is not logged in, and how this element will impact the user's expectation of the main Account menu as well.

[2018-06-14 11:57] martypowell commented on #507
@sdurphy we want to use rgb(20,120,118); which is slightly different than the hex you provided above, but already existed.

[2018-06-14 13:29] jsmith176 commented on #507
@danfox01 This is in both dev and ils-test. Ready for testing.

[2018-06-14 13:33] martypowell commented on #500
@danfox01 as we discussed, the bug jason found is related to debugging on the developers end. We are going to leave for now.

[2018-06-15 12:03] martypowell opened #514 "Book Carousel Images Not Displaying"
Not all images are loading.

[2018-06-15 14:57] martypowell commented on #224
@danfox01 this no longer shows up in the bcpl pages. 🙌

[2018-06-15 14:57] #224 closed

[2018-06-15 15:04] danfox01 commented on #224
Yes!

[2018-06-15 16:20] danfox01 commented on #514
Resolved in 1.5.4

[2018-06-15 16:20] #514 closed

[2018-06-15 16:20] danfox01 commented on #500
Resolved with 1.5.4

[2018-06-15 16:20] #500 closed

[2018-06-15 16:21] danfox01 commented on #481
Resolved with 1.5.4

[2018-06-15 16:21] #481 closed

[2018-06-15 16:21] danfox01 commented on #480
Resolved with 1.5.4

[2018-06-15 16:21] #480 closed

[2018-06-15 16:21] danfox01 commented on #495
Resolved with 1.5.4

[2018-06-15 16:21] #495 closed

[2018-06-15 16:22] danfox01 commented on #448
Resolved with 1.5.4

[2018-06-15 16:22] #448 closed

[2018-06-15 17:02] martypowell commented on #509
To clarify on this the requirements for this specific problem are to be able to filter by category and have a numbered list of pages.

[2018-06-15 17:28] jsmith176 commented on #511
@danfox01 This is implemented in ils-test. I have the icon displayed as "Log in" initially and then the users first name after logging in. What do you think?

[2018-06-15 18:41] jdomasky commented on #511
This looks great! I just tried it in ils-test. It says "HI JASON". When I select it, I'm taken to My Account, which is expected.
However, I noticed when I'm browsing any of the My Account pages, the URL is different (it links to an error message):
https://ils-test.bcpl.lib.md.us/polaris/patronaccount/polaris/patronaccount/

[2018-06-15 18:58] sdurphy commented on #511
This does look great!

Is it possible to have it display at mobile size even though we hide the print and share at mobile size?

(I've attached a comp.)
![screen shot 2018-06-15 at 2 59 31 pm](https://user-images.githubusercontent.com/2189638/41484944-9be85d26-70ac-11e8-8f04-36cfa6d24fa6.png)

[2018-06-15 19:23] jsmith176 commented on #511
@jdomasky I see what happened there. I can fix that!
@sdurphy I'm sure that can be done. Let me tinker with it.

[2018-06-18 11:56] martypowell opened #518 "Implement Google CustomSearch API"
Implement the research done here, https://github.com/baltimorecounty/BCPL-assets/issues/498

[2018-06-18 11:56] martypowell commented on #498
@danfox01 closing and creating a new issue for hte implementation.

[2018-06-18 11:56] #498 closed

[2018-06-18 12:10] martypowell commented on #491
moving to the bottom of the priority list.

[2018-06-18 15:01] danfox01 commented on #511
This looks awesome! Nice work @jsmith176!

I just have a few UX questions we need to think through before this goes live, so I'd like to hold it back from the June 24 upgrade. Can we plan to release this separately, after the upgrade is complete?

[2018-06-20 12:53] jsmith176 commented on #511
@danfox01 I don't see an issue with doing a separate release. What do you think @martypowell ?

[2018-06-21 13:15] jsmith176 opened #519 "Some modals are not opening in ILS-Test"
Steps to reproduce (first modal):
1. Perform a keyword search.
2. Click on the format icon (i.e., book symbol) below the cover art.

Steps to reproduce (second modal):
1. Log into account.
2. View Items Out.
3. Click on the info sign glyph (i.e., “i” in a circle) in right column.

Steps to reproduce (third modal):
1. Log into account.
2. View your Fees.
3. Click on Estimate Overdue Fines.

Notes:

[2018-06-21 13:43] martypowell opened #520 "About RSS Page Is Missing White Content Container, But Container Is Present in Production"
When I compare https://ils-test.bcpl.lib.md.us/polaris/rss/whatis.aspx with prod, the content isn’t displayed with a white background, like it is in prod:
https://catalog.bcpl.lib.md.us/polaris/rss/whatis.aspx

[2018-06-21 14:03] martypowell commented on #520
@jdomasky ready for another look.

[2018-06-21 14:05] martypowell opened #521 "Self-Registration Form in ILS-Test Has No H1 and an Extra Field Not in Production"
In ILS-Test, the self-register form has a “Language Preference” field that doesn't display in prod.
This field includes instructions that overlap the dropdown.
The form page has no H1 and the form has other layout issues.
In prod, an H1 (“Register”) is displayed.

Steps to reproduce:
1. Link: https://ils-test.bcpl.lib.md.us/polaris/patronaccount/selfregister.aspx?ctx=1.1033.0.0.6
1. Select a branc

[2018-06-21 14:15] jdomasky commented on #520
@martypowell this is resolved. The RSS page in ILS-Test is now identical to production.

[2018-06-21 14:46] martypowell opened #522 "Estimate Overdue Fines Button Appears in ILS-Test, But Is Missing in Production"
In ILS-Test, on the “My Account > Fees” and “My Account > Items Out” pages, below the Charges/Deposits/Credits table, an “Estimate Overdue Fines” button appears.
The button doesn’t work at this time, but it functioned correctly on June 1.
In prod, this button is not displayed on these pages.

[2018-06-21 14:49] martypowell commented on #522
this appears to be related to #519, once that code is integrated this will be ready for test.

[2018-06-21 14:50] martypowell opened #523 "Large Cover Image Is Not an Option in ILS-Test, But It Appears in Production"
In ILS-Test in Full Display mode, I don’t see a drawer for Large Cover Image.
This option is present in prod.

[2018-06-21 14:51] martypowell commented on #523
it sounds like this might be a product of test...we will rollback to the vendors version to see if this is still an issue.

[2018-06-21 14:53] martypowell commented on #522
@jdomasky ready for another look.

[2018-06-21 14:53] martypowell commented on #519
@jdomasky ready for another look.

[2018-06-21 14:56] martypowell opened #524 "Email Saved List Broken in ILS-Test, But Works OK in Production"
While viewing a saved list in ILS-Test, when I type an email address (jason.domasky@gmail.com or jason@bcpl.net) in the box at the top of the list, and click “Email Page to:” or “Email All to:,” the page reloads and displays the screenshot below, which is an error message.
This procedure works correctly in prod.

[2018-06-21 15:08] jdomasky commented on #523
Steps to recreate this issue:

1. Browse dev: https://ils-test.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=7713
2. Scroll down to the drawers and observe that 'Large Cover Image' is missing.
3. Browse prod: https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?cn=7713
4. Scroll down to the drawers and observe that 'Large Cover Image' is present.

[2018-06-21 15:31] martypowell opened #525 "General Polaris Test Plan > 3 - My Account > 3.2 - Verify that you can edit your account information"
Steps to reproduce:
1. Log into account.
2. Under Contact Information and Preferences, edit a field.
3. Click: Submit Change Request.
4. The expected behavior is for an acknowledgment of the change request to appear in the Messages section.

Notes:
In ILS-Test, after I log into my account, I expanded the “Contact Information and Preferences” section.
The “State/Province” field was already set to M

[2018-06-21 15:31] jdomasky commented on #522
Although the button is not displayed in prod, this issue is resolved in dev. The button functions correctly by opening a modal.

[2018-06-21 15:32] jdomasky commented on #519
All three modals are now opening, as expected, after testing in multiple browsers at the major breakpoints. This issue is resolved.

[2018-06-21 15:49] martypowell commented on #525
@danfox01 I have a feeling maybe this never works in test, because there is some sort of work flow.

[2018-06-21 15:52] sdurphy opened #526 "Update Blog Tabs Mobile Menu"
For the blog, at mobile size can the tabs mimic the behavior of the tabs on the book carousel at the bottom of the BCPL index? I've attached a comp.

![mobile](https://user-images.githubusercontent.com/2189638/41730307-82188bae-7549-11e8-8010-791ee9bccab3.jpg)

[2018-06-21 15:58] martypowell commented on #526
@sdurphy we should also do this for the tabs on the homepage for new arrivals correct?

[2018-06-21 15:58] #519 closed

[2018-06-21 15:59] #520 closed

[2018-06-21 16:07] danfox01 commented on #526
Sorry guys, late to this party. I know I'm really behind. I thought we were going to be using the standard filtering UI we use on other pages (databases, locations, etc.). Is there a reason we don't want to do that?

[2018-06-21 17:00] danfox01 commented on #525
@martypowell, this is definitely possible.

@jdomasky, do you know if this feature worked in test while we were using 5.5?

[2018-06-21 17:09] #522 closed

[2018-06-21 17:10] martypowell commented on #523
per karrie

"Most of those tabs come from Syndetics and, as far as I remember, that is not set up in Test."

closing.

[2018-06-21 17:10] #523 closed

[2018-06-21 17:12] martypowell commented on #526
Dan you are talking about taking this (mocked up version)

![image](https://user-images.githubusercontent.com/1933400/41734391-be36c852-7554-11e8-8b77-e61ff110c964.png)

and making it look like...

![image](https://user-images.githubusercontent.com/1933400/41734402-cb4fcebc-7554-11e8-8093-4afa9cc3b17b.png)

[2018-06-21 17:15] martypowell commented on #524
@danfox01 @jdomasky i feel like this never worked in test, i dont have any concrete evidence. Do either of you have any ideas?

[2018-06-21 17:16] danfox01 commented on #526
Yeah, I must have completely missed the mockup or I would have mentioned this sooner. BCPL wants to add additional tags over time, so the tabs could get unwieldy. If it's a filter list it's easier to add to.

[2018-06-21 18:27] jdomasky commented on #524
@martypowell @danfox01 this is the first time I've tried the Email Saved List feature in ILS-Test. It's possible it never worked. This feature isn't covered by the Polaris test plans.

[2018-06-21 18:37] martypowell commented on #524
@jdomasky no problem, dan i talked about this and we will something we will address as a hotfix as needed

[2018-06-21 18:51] jdomasky commented on #525
On May 16, after I edited my account in ILS-Test by changing the text message preference, I clicked the submit button and a red message was displayed in the Messages section acknowledging the change.
As we know, yesterday, when I tried to edit my account in ILS-Test, I entered a county into the empty County field, and nothing happened after submission. In comparison, this worked in Polaris prod.
I

[2018-06-22 12:21] jsmith176 commented on #521
@danfox01 this is in ils-test and is ready for testing.

[2018-06-22 12:46] danfox01 commented on #521
@jdomasky, can you take a look please?

[2018-06-22 13:42] danfox01 opened #527 "Polaris databases page is unstyled"
https://ils-test.bcpl.lib.md.us/polaris/search/misc/esources.aspx?Category=80

We don't link to or promote this page, but it is technically possible for some users to still stumble on it. Can we give it a basic style update to match the other pages and fix the layout issues? Nothing fancy, just enough to get by.

[2018-06-22 13:46] martypowell commented on #521
@jdomasky we needed to get this code ready for production, it looked good to both @danfox01 and I. I am making a note that there is potential risk which opens up the possibility for a hotfix.

[2018-06-22 16:23] jdomasky commented on #521
The form looks good to me in IE! Thanks for moving forward on this.

[2018-06-25 01:59] danfox01 opened #528 "Book carousels are not loading on BCPL site."
After 6.0 upgrade, carousel feeds from Polaris do not render on BCPL site.

[2018-06-25 02:27] danfox01 opened #530 "When viewing a full title record, the "Add to List" button shows as a link instead of styled as a button"
Jason sees this issue in IE11 and Chrome, Michael sees it in IE11 only, and I'm not seeing it at all. This is an issue we've had in the past -- can you look into it?

https://catalog.bcpl.lib.md.us/polaris/search/title.aspx?ctx=1.1033.0.0.6&cn=924682

[2018-06-25 03:18] danfox01 opened #531 "At mobile size, global search button changes size when active"
Occurs in Polaris only, at mobile sizes.

![fireshot capture 093 - baltimore county public library_ - https___catalog bcpl lib md us_pol](https://user-images.githubusercontent.com/13049389/41828732-e5b5d636-7804-11e8-9dcd-c51613d26e5b.png)

[2018-06-25 11:53] martypowell opened #532 "esources.aspx not displaying propertly"
https://catalog.bcpl.lib.md.us/polaris/search/misc/esources.aspx?Category=80

This is the vendor's version. Seems like it's missing the navigation.

[2018-06-25 12:00] martypowell commented on #530
@danfox01 i went on browserstack and tested about 12 browsers, 6 on windows 10, 6 on ios and could not replicate this.

[2018-06-25 12:03] martypowell opened #533 "Alert List text appears to be a heading"
https://www.bcpl.info/alerts.html

I think this may be the intended behavior, but the text is awfully aggressive.

fyi @danfox01 @sdurphy

[2018-06-25 12:09] martypowell commented on #511
@jsmith176 go ahead and move this back into ils-test and assign to dan for testing.

[2018-06-25 12:16] martypowell commented on #527
@jsmith176 @danfox01 ... dan is going to have michael look into this to see if its an issue inside polaris

[2018-06-25 12:18] martypowell commented on #527
https://catalog.bcpl.lib.md.us/polaris/search/misc/esources.aspx?Category=80

[2018-06-25 12:19] martypowell commented on #532
related to #527, but it appears our style changes are okay

[2018-06-25 12:20] martypowell commented on #532
@jsmith176 @danfox01 ... dan is going to have michael look into this to see if its an issue inside polaris

[2018-06-25 12:33] martypowell commented on #524
per @danfox01 email works in production, IT DOES NOT in test. This is something we should document in our test plans.

[2018-06-25 12:45] martypowell commented on #528
released as a hotfix in #534

[2018-06-25 12:45] #528 closed

[2018-06-25 13:05] danfox01 opened #535 "BCPL emergency alert banner does not seem to honor start time set in structured content"
We posted an alert banner that was scheduled to post at 9 a.m. It showed up immediately after being published, 15 minutes before the time we specified. It still came down at the correct scheduled time.

[2018-06-25 13:10] martypowell commented on #530
per @danfox01 the testing was sufficient to close this.

[2018-06-25 13:10] #530 closed

[2018-06-25 13:49] jsmith176 commented on #531
@danfox01 this is ready for testing.

[2018-06-25 14:11] danfox01 commented on #531
Looks good.

[2018-06-25 16:21] danfox01 commented on #532
Looks like Polaris truncated the descriptions in the new version which, cut off a bunch of closing tags in the markup, Michael removed the descriptions in the client, since they're no longer needed anyway. Resolved.

[2018-06-25 16:21] #532 closed

[2018-06-25 17:29] #492 closed

[2018-06-25 17:29] danfox01 commented on #531
@jsmith176 @martypowell Can we release this today, please?

[2018-06-25 17:30] #524 closed

[2018-06-25 17:33] danfox01 commented on #471
Looks like the Summer Reading Challenge nav link got dropped from Polaris at some point. Can we get those back in?

There should be an <li> for "Summer Reading Challenge" in the **Events and Programs** menu and the **Youth** menu. Please see the BCPL site in SE for exact placement: www.bcpl.info. They should match.

[2018-06-25 18:15] martypowell commented on #531
@danfox01 yes, looking at this now.

[2018-06-25 18:19] martypowell commented on #531
@danfox01 please confirm.

[2018-06-25 18:20] danfox01 commented on #531
Perfect, thanks.

[2018-06-25 18:20] #531 closed

[2018-06-25 18:35] danfox01 opened #536 ""Check In" button for Polaris e-content doesn't work"
Confirm by Jason and Michael... the "Check In" button that appears on the Items Out page should do ... something. Currently selecting it doesn't check the item back in or provide any kind of feedback.

![image1](https://user-images.githubusercontent.com/13049389/41868726-de101f92-7884-11e8-95e6-691c07ee7cc1.jpg)

[2018-06-25 19:17] martypowell commented on #536
@danfox01 this has been implemented in prod and confirmed by @jdomasky

[2018-06-25 19:37] martypowell commented on #471
@danfox01 summer reading has been added to production.

[2018-06-25 19:38] martypowell commented on #535
as dicussed over chat @danfox01 will "alert" me when this situation is available in production again. @sdurphy level pun here.

[2018-06-25 19:58] sdurphy commented on #535
![clapping-gif-2015](https://user-images.githubusercontent.com/2189638/41872679-a620c666-7890-11e8-8e6c-e6bba08a27e5.gif)

[2018-06-26 00:59] danfox01 commented on #536
Thanks!

[2018-06-26 00:59] #536 closed

[2018-06-26 11:45] martypowell opened #537 "Ensure Mobile Menu is Easily Selectable on Smaller Screens"
Visit http://catalog.bcpl.lib.md.us/polaris/ on a smaller sized screen.

![image](https://user-images.githubusercontent.com/1933400/41909213-7431bcbc-7914-11e8-9979-9e0ff577be87.png)

If you select anywhere inside of the red circles nothing will happen. If you compare that to bcpl.info, you the menu should should function as expected.

fyi @danfox01

[2018-06-26 13:13] danfox01 opened #538 ""Get It" menu in Items Out does not work"
Michael reported this one. Similar to the  Check In button, this menu appears when you have an e-book available to download. Selecting an option is supposed to trigger the download, etc., but currently it seems nothing is happening. Please check in with Michael for details -- I don't know much about this one.

![image2](https://user-images.githubusercontent.com/13049389/41914424-06cfaf46-7921-11e8

[2018-06-26 14:02] jdomasky commented on #521
Now that the upgrade is complete, I noticed that the "Language preference" field is missing on the self-registration form in prod. This field still exists in ILS-Test.
I'm unsure if this is intentional, but regardless of the reason, this issue was not a waste of time because the H1 was needed.
Compare: https://catalog.bcpl.lib.md.us/polaris/patronaccount/selfregister.aspx
...with: https://ils-test

[2018-06-26 14:05] martypowell commented on #521
My guess is this is some sort of configuration, @jdomasky can you please check with Karrie to see if this is true?

[2018-06-26 14:30] danfox01 commented on #490
Confirmed in prod.

[2018-06-26 14:30] #490 closed

[2018-06-26 14:31] danfox01 commented on #471
Confirmed in prod.

[2018-06-26 14:31] #471 closed

[2018-06-26 14:44] jdomasky commented on #521
Good idea! I made an inquiry. I'll share her reply.

[2018-06-26 16:38] danfox01 opened #539 "Link hover states in body copy should be consistent"
In body copy, link underlines disappear on hover when they are in <p> tags, but don't disappear when they are in <li> elements.

[2018-06-27 13:07] martypowell commented on #509
@jsmith176 please add a parameter for and/or to the GetFilterQuery method in the ExpressionHelper

[2018-06-27 14:28] jdomasky commented on #533
@martypowell I agree that the alert text on the Alerts page is too aggressive, especially because most alerts will be holiday closings rather than emergencies.
@danfox01 @sdurphy It might be more user-friendly if we reduce the text size to 18px, similar to the database titles on the Research Databases page:
https://www.bcpl.info/books-and-more/databases.html

[2018-06-27 14:44] sdurphy commented on #533
@jdomasky I definitely thin k 18px would work. @martypowell can we make that change without effecting cards in other sections?
![screen shot 2018-06-27 at 10 44 14 am](https://user-images.githubusercontent.com/2189638/41981517-1b007604-79f7-11e8-8523-dde7b41f0ddc.png)

[2018-06-27 14:48] jdomasky commented on #527
@martypowell @jsmith176 Currently, the Polaris databases page is styled correctly in prod, but it has layout and display problems in dev.
Compare: https://catalog.bcpl.lib.md.us/polaris/search/misc/esources.aspx?Category=80
...with: https://ils-test.bcpl.lib.md.us/polaris/search/misc/esources.aspx?Category=80
@danfox01 I'm mentioning this in case there's a possibility of regressing this page the n

[2018-06-27 17:56] danfox01 opened #540 "Featured event feed isn't honoring max events attribute"
Oddly, this only appears to be happening on this page: https://www.bcpl.info/_style-library/index.html

The widget is supposed to display 3 events by default, which other values set by the `results-to-display` attribute. For some reason, on this page, that value doesn't have an effect, and events are overflowing the page.

More documentation on this feature: https://github.com/baltimorecounty/BCPL

[2018-06-28 11:46] martypowell commented on #540
@danfox01 this is working as expected. If you take a look at the source it reads as follows:

![image](https://user-images.githubusercontent.com/1933400/42032363-585a14f0-7aa7-11e8-85e6-0e9a4bbf5257.png)

I would would like we can update that page to show 4?

[2018-06-28 11:49] martypowell commented on #527
@danfox01 I'm not seeing any difference apart from the content (Ex: Mango Languages near Lynda). I have a very strong suspicion that this is something to do with a bad tag in the description. It might be worth having Michael clean up those in dev too?

[2018-06-28 11:53] martypowell commented on #533
@sdurphy I've added a class to the list of the alerts, so that we can target this specific list.

Personally even at 18 px, the bold still seems agressive. It also seems to me that this page may benefit from a brief one or two sentence overview

[2018-06-28 11:58] danfox01 commented on #540
Did you adjust anything? It does look OK now, but this is how it appeared yesterday:

![fireshot capture 096 - _sample - https___www bcpl info__style-library_index html](https://user-images.githubusercontent.com/13049389/42032891-0785d9a4-7aa9-11e8-9e6b-9f896cf25475.png)

[2018-06-28 12:01] danfox01 commented on #527
@martypowell I'm sure that's the case. They are supposed to refresh test from prod this weeked so I believe this will work itself out.

[2018-06-29 13:13] danfox01 commented on #488
@jdomasky, do you have reading history turned on in prod? I can't verify if this table was tablenated in prod because I don't have a history,.

[2018-06-29 13:14] danfox01 commented on #487
Verified in prod.

[2018-06-29 13:14] #487 closed

[2018-06-29 13:14] danfox01 commented on #493
Confirmed in prod.

[2018-06-29 13:14] #493 closed

[2018-06-29 13:14] danfox01 commented on #472
Confirmed in prod.

[2018-06-29 13:14] #472 closed

[2018-06-29 13:15] danfox01 commented on #525
Confirmed in prod.

[2018-06-29 13:15] #525 closed

[2018-06-29 13:54] danfox01 commented on #540
@martypowell you can see this bug in action right now -- 6 events are showing instead of the set value of 3, and they're overflowing the content area: https://www.bcpl.info/_style-library/index.html

[2018-06-29 15:04] mjsheppard74 commented on #462
DONE. you guys can check this one off. Test it out and let me know if you see any issues.

[2018-06-29 15:07] danfox01 commented on #462
Looks good to me. Thanks @mjsheppard74. @jdomasky can you please take a quick look as well, before I close it out?

[2018-06-29 17:34] jdomasky commented on #462
The problem appears to be fixed. IE was previously able to hold onto an http connection (for the main page only) after the cache was cleared. Today, it's consistently refreshing to https.

[2018-06-29 18:32] jdomasky commented on #521
@martypowell @danfox01 End of week update: Email was sent on June 26. I'll follow-up next week if no response is received.

[2018-06-29 19:19] danfox01 commented on #488
Thanks!

[2018-06-29 19:19] #488 closed

[2018-06-29 19:51] #462 closed

[2018-06-30 10:50] martypowell commented on #540
Still can't see it.

![image](https://user-images.githubusercontent.com/1933400/42124515-dd80cad0-7c31-11e8-967c-190a6077604b.png)

On Monday first thing, let's take a look at this.

[2018-06-30 10:51] martypowell commented on #462
awesome thanks @mjsheppard74 and welcome 😄

[2018-07-03 14:28] martypowell opened #541 "Events API returning invalid results when specifying a start and end date"
When specifying dates the response should respect the limit specified. In this case, it doesn't.

**Request Url**: http://services.bcpl.info/api/Evanced/Signup/Events

**Request Payload**: {"Limit":3,"OnlyFeaturedEvents":false,"StartDate":"2018-07-03T10:21:52-04:00","EndDate":"2018-09-
01T10:21:52-04:00"}

[2018-07-03 14:29] martypowell commented on #541
fyi @danfox01

@jsmith176 @tmccoy529 it would be good for one of you two to grab this.

[2018-07-03 15:43] danfox01 commented on #537
@tmccoy529 what is the status of this one?

[2018-07-03 15:45] danfox01 commented on #511
In terms of testing, this look good. I want to discuss the UX of adding this with a @hburnopp and @sdurphy . Moving this to blocked until we have a chance to chat about it.

[2018-07-03 15:46] tmccoy529 commented on #537
The issue was resolved but adding a width to the button so it would span the length of the row. The empty space should now be clickable.

[2018-07-03 15:53] danfox01 commented on #537
Yeah I thought I saw this working in ILS-TEST a few days ago but I'm not seeing it now. Can you please double check that it's still there? There are some other issues with menu font weights that seem to have popped in recently too. Not sure where they originated.

[2018-07-03 15:56] tmccoy529 commented on #537
I moved integration branch back over to test. Looks like its back. I have been working on another bug so I'm guessing I didn't get the latest from integration before I pushed my new branch over. Sorry about that.

[2018-07-03 18:34] martypowell commented on #541
this is a duplicate of #540, this issue has more details, so i am closing #540

[2018-07-03 18:35] martypowell commented on #540
closing in favor of #541

[2018-07-03 18:35] #540 closed

[2018-07-03 19:03] jdomasky commented on #521
@martypowell @danfox01 Karrie met with me yesterday and we confirmed the difference between dev and prod. She is going to investigate.

[2018-07-09 11:59] martypowell commented on #535
@danfox01 any luck with this?

[2018-07-09 12:40] danfox01 commented on #535
Unable to replicate. Closing for now, will reopen if it occurs again.

[2018-07-09 12:40] #535 closed

[2018-07-09 12:45] tmccoy529 commented on #537
Dan, can you test this issue? Test should be restored back to the correct branch. Thanks!!

[2018-07-09 12:48] danfox01 commented on #537
Confirmed. Looks good. Thanks!

[2018-07-09 13:02] martypowell opened #542 "BCPL Careers styling"
Dropdown menus have the same height as the text inputs? See the first screen of the "Create Account" page for an example.

[2018-07-09 13:05] martypowell commented on #539
@danfox01 , @tmccoy529 is currently working on this

[2018-07-09 13:09] martypowell commented on #496
I can hop on this today.

[2018-07-09 13:11] danfox01 opened #543 "When opening multiple accordions, panels should stay open until closed by the user"
We would like for accordion panels on the BCPL site to remain open even when another panel is opened. Currently, opening a second panel automatically closes the first one.

I believe this can be accomplished by simply removing the "dataparent" attribute from the panels. Tested in dev, this appears to work find, but @martypowell can you please confirm that this is kosher?

- Docs: https://getbootst

[2018-07-09 13:15] martypowell commented on #542
This is for Cyber Recruiter. Example page is [here](https://libcyber01p.bcpl.lib.md.us/careers/AppSelfService.aspx?adata=EFnTlvRNZ0v1UddZ5vVXTn%2fybp4Q1KjOKrZ9kRJpTp54%2bYPb%2b%2bIv7S5fXY%2bvAMkoe9h1UW8CnN7MmqajqHT9ikbAAiaT12m7AJGYQ9jNh8jAunWbNUsjf%2fcXVn%2fsElt5Un3VH8zrGJhb6iTah0Kui1c1O9R8fIxMYotFCwAdHqVsC8kBNbcIrkLCjQj%2fY%2fteEfcZxwyMS3G%2fS2SxfAnbbMEx3KzPdlM8ba%2fA0Fa8oj6QY5nHYl3nMqmhozLyLDbhC

[2018-07-09 13:16] martypowell commented on #542
![image](https://user-images.githubusercontent.com/1933400/42452697-ccec0f4e-8358-11e8-99bf-516258a2e76e.png)

[2018-07-09 13:19] martypowell commented on #543
@danfox01 you are correct, do you want/need us to do anything?

[2018-07-09 13:23] danfox01 commented on #543
@martypowell not right now. I will need a dev to  update the Accordionater to allow for this when generating new markup -- I will log a separate issue.

Will assign this markup changes in SE to my team.

[2018-07-09 13:31] danfox01 commented on #543
@theilman7, do you have time to work on this one? We just need to remove the "data-parent" attribute from our accordions on BCPL... probably 10-ish pages or so. I will fill you in outside of this thread.

[2018-07-09 13:40] martypowell commented on #510
@danfox01 just to clarify, I'm assuming they want both username and password remembered?

[2018-07-09 13:43] theilman7 commented on #543
@danfox01 I can do that. I'll keep an eye out for the follow up regarding which pages, and any other info there is.

Thank you!
_Travis

[2018-07-09 13:53] martypowell commented on #510
I think this is probably something we would need to request from the vendor as the only implementations I can find as best practice need to happen on the server side.

[2018-07-09 16:29] danfox01 commented on #510
Thanks @martypowell. I referred this to Cathy as a potential vendor enhancement and she raised a number of concerns regarding security policy that would need to be addressed at the management level, before we even pursue the question further. Closing, since this will likely never see light of day.

[2018-07-09 16:29] #510 closed

[2018-07-09 16:31] danfox01 commented on #509
@martypowell, what is the status of this, and the filtering enhancement?

[2018-07-09 17:06] martypowell commented on #509
in progress, currently the api is in a pull request, once that is approved, we can start moving the app to dev.

[2018-07-10 11:56] martypowell opened #544 "BCPL Blog Cache Busting"
Since we have to query all records to find out the number of pages and records, we need a way to ensure the cache updates once a new blog post is published.

We will need to create a script and schedule it through espresso to ensure cache has been updated.

**API**
- Create an additional endpoint that does not use the cache helper to get blog posts
- Create an endpoint that clears all the cache fo

[2018-07-10 12:53] danfox01 opened #545 "Add border to accordions"
Now that multiple accordions can be open at once, it makes sense to wrap them in some kind of visual container. Can we please add a border of 1px #ebebeb as shown in Sam's mockup below?

![screen shot 2018-07-10 at 8 17 33 am](https://user-images.githubusercontent.com/13049389/42510809-10e55a8c-841e-11e8-8ea9-f11ceed677f2.png)

@sdurphy FYI

[2018-07-10 12:54] martypowell commented on #544
The cache duration on the default get blog end point will need to be adjusted and tested once this is complete as well.

[2018-07-10 13:12] martypowell commented on #545
@danfox01 @sdurphy do we want any bottom margin on these?

[2018-07-10 15:47] martypowell commented on #544
@jsmith176 @tmccoy529 in the api response you will have `NextPageLink` this should help you get all the request you need to make to build the cache back up

[2018-07-10 16:03] martypowell commented on #496
@sdurphy can please provide sample links for each of the selectors in item number 2?

[2018-07-10 16:28] martypowell opened #547 "Add Parameter to allow user to toggle and/or condition"
Someone consuming the api should be able to specify if they only want to return a single category or multiple categories.

_Scenarios_

1. If you select 'Category 1' it will only show category 1
1. If you select "Category 1' and 'Category 2' you all records that contain either 1 or category 2
1. If you select 'Category 1' and 'Category 2' you only see records with both categories

We probably want

[2018-07-10 16:39] martypowell commented on #547
would probably want to default to `or`

[2018-07-10 17:38] sdurphy commented on #496
https://www.bcpl.info/services/meeting-rooms-study-rooms.html#meetingroompolicy

https://www.bcpl.info/youth/birth-to-five.html#BabyBoosters

[2018-07-11 12:04] martypowell commented on #496
ok, I think maybe i didn't understand how sass was creating the sass file. Can you confirm in dev that all spacing issues have been resolved?

[2018-07-11 20:21] danfox01 commented on #543
Resolved by markup changes.

[2018-07-11 20:21] #543 closed

[2018-07-11 20:32] danfox01 commented on #545
resolved by 1.5.5

[2018-07-11 20:32] #545 closed

[2018-07-12 11:51] martypowell commented on #518
👍

[2018-07-13 17:57] jsmith176 commented on #542
@danfox01 this is ready to be looked at.

[2018-07-13 17:58] danfox01 commented on #542
Looks good!. Thanks.

[2018-07-16 18:59] danfox01 opened #549 "Add additional margin to gray buttons"
@jsmith176 In #548, we added additional margin to buttons but forgot about another button style. Can you please update? I believe we need to add margin-bottom: `30px` to `btn-default` and `seButton`. You can see the issue here: https://www.bcpl.info/_style-library/index.html#form

@sdurphy can provide more detail if needed. Thanks!

[2018-07-16 19:09] jsmith176 commented on #549
@danfox01 can do!

[2018-07-16 20:01] jsmith176 commented on #549
@sdurphy there are no bottom margins currently in [dev](https://dev.bcpl.info/_style-library/index.html#form). Before I change anything, do we know that we want the 30px bottom margin?

[2018-07-18 16:03] sdurphy commented on #549
Sorry for the delay... it looks like the margin-bottom for btn-default should be 2 em.

[2018-07-18 18:42] jsmith176 commented on #549
@sdurphy @danfox01 this is in [dev](https://dev.bcpl.info/_style-library/index.html#form) and is ready for testing.

[2018-07-18 19:17] sdurphy commented on #549
Looks good to me! Thanks @jsmith176

[2018-07-18 20:05] danfox01 commented on #541
FYI @martypowell, I swapped out the inclusion on the page mentioned above to prevent the issue from being seen for now. The issue still exists, but I switched to an inclusion that isn't affected.

So... whenever you jump back into this, we'll need to revert to the original.

[2018-07-19 12:29] jsmith176 commented on #549
Can do! I'll start working on this now.

[2018-07-19 15:52] danfox01 opened #554 "Establish design for additional/conditional branch hours"
@sdurphy this was a to-do from before launch that we need to come back to. The following branches have some form of additional hours to display. These hours are currently added as text below the standard hours, but BCPL would like them to stand out a little bit more. Can you come up with some options?

- https://www.bcpl.info/locations/reisterstown/index.html
- https://www.bcpl.info/locations/cato

[2018-07-19 15:58] jsmith176 commented on #549
@sdurphy I merged the lastest changes into the master branch.
I moved the changes into dev just in case you want to check them out first.

The following files need to be moved into SE:
- dist/css/master.min.css
- dist/css/master-high-contrast.min.css

@martypowell may need to check on this when he is back in case I missed a step.

[2018-07-19 16:36] danfox01 commented on #549
Thanks @jsmith176!

[2018-07-19 20:04] danfox01 opened #555 "Callout boxes need 1em of top padding"
Minor change: `.page-callout` doesn't have any top padding. I added it in the head section of this page as a quick fix, but we'll need to update site CSS at some point:

https://www.bcpl.info/services/wireless-printing.html

[2018-07-20 12:46] jsmith176 commented on #555
@danfox01 are there any other pages with a `.page-callout`? I've made the change but the wireless printing page does not have a layout in dev.

[2018-07-20 12:55] danfox01 commented on #549
@sdurphy did this get deployed to SE?

[2018-07-20 12:57] sdurphy commented on #549
@danfox01 I didn't replace these files in prod yet. I can today

[2018-07-20 13:15] sdurphy commented on #549
@jsmith176 just confirming... should I take the files from tis location? (master branch): https://github.com/baltimorecounty/BCPL-assets/tree/master/dist/css

[2018-07-20 14:16] jsmith176 commented on #549
That's the one!

[2018-07-20 15:12] sdurphy commented on #549
ok. thanks @jsmith176

[2018-07-20 15:43] sdurphy commented on #549
@jsmith176, @danfox01, this has been deployed to prod.

[2018-07-20 18:10] jdomasky commented on #533
@sdurphy, an alert was activated today [in prod](https://www.bcpl.info/alerts.html) that will be there for a week. I'll leave it up to @danfox01 to decide if this is an issue another developer can (should?) pick up.

[2018-07-20 19:46] danfox01 commented on #555
Sorry @jsmith176, just saw this. This is only on that page for now, and it's new so it's not in dev. We copy down again on Tuesday if you just want to wait till then.

[2018-07-20 20:08] danfox01 commented on #533
Not urgent. Sam, if you want to keep working on this with @jsmith176 that is fine, but I think this can easily wait, too.

[2018-07-23 12:42] jsmith176 commented on #555
@danfox01 No problem, I did a test on the styles page and it looks pretty good.

![image](https://user-images.githubusercontent.com/2495453/43077033-3e859d4a-8e54-11e8-8268-4e8a5271b567.png)

[2018-07-23 12:59] jsmith176 commented on #533
Keeping with the theme here. How about a white icon with bold dark teal text?

![image](https://user-images.githubusercontent.com/2495453/43077858-a7a029f6-8e56-11e8-9809-4c4b6bac2478.png)

[2018-07-23 13:04] danfox01 opened #556 "Polaris alert banner doesn't show proper color for emergency alert types"
In both SE and Polaris, banners are supposed to be gold by default but purple if one of the two "emergency" alert types are selected. We posted an emergency alert type this week that showed as purple in SE but yellow in Polaris.

My theory is that when we updated the code to interpret alerts from structured content we didn't update Polaris to do the same.

[2018-07-24 15:51] danfox01 commented on #555
@jsmith176, the screen shot above looks great. We refreshed dev today if you want to put it in place on that WiFi page. We just need to wipe out the head section styles on that page first.

@sdurphy, looking at the callout style together with the success and error styles... do you think they should all have the same padding?

[2018-07-24 17:36] danfox01 opened #557 "Homepage events feed showing more than 4 events"
The homepage feed is supposed to only show four events. I confirmed it contains an attribute of `results-to-display="4"`, however it's currently showing 5 events. (See screenshot.) Not sure why it's doing that now and has never done it in the past.

I assume it's related to #541, but a bigger deal becase it's the home page.

![fireshot capture 102 - baltimore county public library home - https___w

[2018-07-24 17:46] danfox01 commented on #557
This issue seems to occur when one of the featured events is currently in progress. In the screen shot above, "Developer in Residence" was currently underway. When I removed the event from this list, the display went back down to four. I have confirmed this behavior on a few of the branch pages as well with other events.

[2018-07-24 18:11] jsmith176 commented on #555
@danfox01 do you want this is now as a hotfix?

[2018-07-24 18:59] danfox01 commented on #555
It's not pressing. As far as I'm concerned it can wait until the next release, unless you'd rather just get it in now.

[2018-08-01 13:25] danfox01 opened #559 "Red alert banner styling doesn't match the gold version."
We have two types of alert banners on BCPL -- red and yellow. Besides color, the styling should be the same but it isn't. Note the placement of the "view all alerts" button on prod vs. dev:

- www.bcpl.info
- dev.bcpl.info

@sdurphy and @jsmith176 can you please try to figure out why the red banner isn't displaying correctly? It should match the gold version. I'd like to get a hotfix in for this t

[2018-08-01 13:49] danfox01 commented on #559
Also, I completely forgot to mention the most important detail: The difference between the two occurs at smaller screen sizes.

[2018-08-01 14:00] jsmith176 commented on #559
Looking into this now.

[2018-08-02 13:52] danfox01 commented on #559
@jsmith176, any ideas on this yet?

[2018-08-03 13:23] danfox01 opened #560 "Events page intermittently fails to render any events"
Console shows this error... appears related to the date picker. Doesn't happen every time, but it's fairly often.

[code]

@jsmith176 or @tmccoy529 can you please investigate?

[2018-08-03 13:38] danfox01 commented on #559
@jsmith176 please provide a status update.

[2018-08-03 13:41] danfox01 opened #561 "One blog post icon isn't rendering on BCPL homepage"
No clue what could be causing this. This post appears to have all the required elements in the data source, but the icon isn't rendering. The fa-book class isn't being inserted in the markup like the others.

![fireshot capture 103 - baltimore county public library home - https___www bcpl info_](https://user-images.githubusercontent.com/13049389/43645873-2e1fd83e-9701-11e8-9878-b6b3568f06e3.png)