[2018-08-03 14:31] danfox01 commented on #561
And now it's randomly working again. Putting on hold until it occurs again.

[2018-08-06 12:44] jsmith176 commented on #559
@danfox01 sorry for the late reply. I was out of the office unexpectedly Thursday and Friday. I have this issue fixed but my SE password was reset again. I sent @sdurphy an email but he may have not seen it.

[2018-08-06 12:48] jsmith176 commented on #560
I'll investigate.

[2018-08-06 12:57] danfox01 commented on #559
No worries, thanks for the update. @sdurphy is working on your acces. Just let me know when it's ready for testing in dev.

[2018-08-06 15:51] jsmith176 commented on #560
@danfox01 @sdurphy I'll need to log in to SE to test this one.

[2018-08-06 16:57] sdurphy commented on #560
@jsmith176, you should be able to log into dev now. Let me know if you have any issues.

[2018-08-06 17:05] jsmith176 commented on #560
I'm in, thank!

[2018-08-06 17:14] jsmith176 commented on #559
@danfox01 This is in dev now. The emergency banner isn't up of course but here is a screen shot sized at iPhone 5/SE.

![image](https://user-images.githubusercontent.com/2495453/43730773-6e96606a-997a-11e8-8b0b-002d1698da1b.png)

[2018-08-06 17:39] danfox01 commented on #559
Awesome! I just activated a new one in dev, we'll see how it looks once the server cache clears in a few min.

[2018-08-06 17:53] danfox01 commented on #559
Confirmed! Looks good.

[2018-08-10 23:31] danfox01 opened #563 "Polaris "Return to List" button should return the user to their position to a specific position in search results"
This is a feature in vanilla Polaris that it seems we might have borked with our styling.

Basically, the user's position on the search page is supposed to be retained when they navigate between the search results and individual records. That's not happening right now.

**To replicate:**

- Perform a search of the BCPL catalog
- Choose any item from the search results and click through to that rec

[2018-08-13 13:13] jsmith176 commented on #560
FYI: Still investigating this. Seems like sometimes the event results return before the date picker element is loaded on the page.

[2018-08-13 13:38] martypowell commented on #560
@jsmith176 i think this is right, this had been a problem mike and worked on before

[2018-08-13 13:41] martypowell commented on #563
appears to be a javascript error

```Uncaught TypeError: Cannot read property 'offsetTop' of null```

![image](https://user-images.githubusercontent.com/1933400/44035221-fd9825a2-9edc-11e8-9cbe-2b4f385acc5f.png)

[2018-08-13 13:44] martypowell commented on #533
Where are we at with this?

[2018-08-13 13:45] martypowell commented on #549
@danfox01 can this be closed?

[2018-08-13 13:46] danfox01 commented on #533
Just been chillin since you've been out. I'm fine with whatever styling you and @sdurphy decide on. I will also add a little bit of intro copy like you suggested.

[2018-08-13 13:47] martypowell commented on #533
@sdurphy this is on you, we can make the changes once you provide them.

[2018-08-13 13:50] martypowell commented on #549
@jsmith176 can you please add release notes for this hotfix.

[2018-08-13 14:36] jsmith176 commented on #549
Release notes have been added.

[2018-08-13 15:14] #549 closed

[2018-08-13 15:38] jsmith176 commented on #560
@danfox01 this is in dev and is ready for testing.

[2018-08-13 15:41] danfox01 commented on #560
Thanks @jsmith176! @jdomasky can you please run this through the events test plan?

[2018-08-13 18:49] martypowell commented on #521
@jdomasky was there ever any update on this?

[2018-08-13 18:57] martypowell commented on #557
we will be looking into this tomorrow at 1pm.

[2018-08-13 19:00] martypowell opened #565 "Resolve Security Vulnerabilities in this repo"
https://github.com/baltimorecounty/BCPL-assets/network/dependencies

[2018-08-13 19:14] danfox01 commented on #555
This one is still pending release, right @jsmith176 ?

[2018-08-13 19:24] #565 closed, assigned to martypowell

[2018-08-13 19:29] jsmith176 commented on #555
Yep! This is ready to go.

[2018-08-13 20:26] jdomasky commented on #560
Yes, I'll test this in dev on August 14 and report back here.

[2018-08-13 20:28] jdomasky commented on #521
@martypowell ...no. I'm going to follow-up again.

[2018-08-14 14:36] jdomasky commented on #560
@danfox01 The Events interface in dev fully passed the Events Test Plan.

[2018-08-14 15:16] danfox01 commented on #560
Thanks @jdomasky!

@jsmith176 and @martypowell -- this is good to go whenever you're ready. I'd like to get it out this week but if you want to wait a day or two and see what else we can include in this release, that's fine with me.

[2018-08-20 17:31] jdomasky commented on #521
Update: On August 14, I reminded Karrie. She replied the same day, stating that she was looking at the problem right away. No follow-up reply has been received.

[2018-08-20 19:15] martypowell commented on #521
@jdomasky karrie followed up wiht me and we both agreed, this wasn't really a big issue.

[2018-08-20 19:15] #521 closed

[2018-08-21 19:08] martypowell commented on #560
this was implemented as a hotfix this week.

[2018-08-21 19:15] danfox01 commented on #560
Thanks guys!

[2018-08-21 19:46] danfox01 opened #569 "Events datepicker should update end date automatically when start date is changed"
I am 99% sure the datepicker used to work differently in order to reduce incidence of user error. I'm not sure when this changed.

**Current behavior:**
Changing the start date doesn't have any bearing on the end date. So in most cases, selecting a start date out will immediately cause the page to yell at the user because their end date is no longer invalid.

**Expected behavior:**
Changing the st

[2018-08-22 14:51] danfox01 opened #570 "Ongoing events should display in proper order"
Currently, ongoing events don't display in the correct chronological order when viewed in the [events list](https://www.bcpl.info/events-and-programs/list.html#!/). I believe this is because we sort by start date, and ongoing events have a null start date.

**Expected behavior:**

- Until they start, ongoing events should be displayed under the date header of their ongoing start date.
- Once the e

[2018-08-22 15:55] danfox01 opened #571 "Add Notary Services to Polaris global nav"
In Polaris global nav under **Services**, **Notary Services** should be added between **Meeting Rooms** and **Passports.**

`<li><a  href="/services/notary.html" role="menuitem">Notary Services</a></li>`

See SE prod site for example.

[2018-08-22 18:32] martypowell commented on #537
I had to manually add this in production, it seems like somethign isn't right. Like maybe the scss didn't get updated. @jsmith176 @tmccoy529 we will need to investigate.

[2018-08-22 18:42] martypowell commented on #555
confirmed by @danfox01  and @martypowell, here https://www.bcpl.info/services/wireless-printing.html

[2018-08-22 18:42] #555 closed

[2018-08-22 18:51] danfox01 commented on #557
Resolved in 1.5.9

[2018-08-22 18:51] #557 closed

[2018-08-22 18:52] danfox01 commented on #563
Released in 1.5.9

[2018-08-22 18:52] #563 closed

[2018-08-22 20:14] #571 closed

[2018-08-23 19:48] danfox01 opened #573 "[DEV] Blog: Margin around cards at mobile size should match prod."
Currently blog has a bit of additional space in dev than prod

[2018-08-23 19:49] danfox01 opened #574 "[DEV] Blog: H1 should appear above filters at mobile size"
Currently appears below filters. This is inconsistent on our Angular apps but H1 above all page content and UI is ideal.

[2018-08-23 19:56] danfox01 commented on #560
Observed this error again this morning and this afternoon.

[2018-08-23 20:00] danfox01 commented on #518
This has been approved and purchased. Hit me up for API keys and other info when you're ready to get started.

We will need to implement this on BCG and BCPL sites. Ideally I'd like to have it in place in prod by Sept. 14, since our Swiftype contract ends at the end of the month.

[2018-08-24 18:28] martypowell opened #575 "Update Filter Pages to Follow the Same Format"
The blog and the databases pages (in dev) follow a generic filter page format. The other filter pages throughout the site, should match the same layout.

@danfox01 fyi

[2018-08-27 18:16] danfox01 opened #576 "[DEV] Content page and hub page cards exploded"
Probably resulting from the blog card tweaks last week.

https://dev.bcpl.info/books-and-more/
https://dev.bcpl.info/books-and-more/cisco-networking-academy.html

[2018-08-28 11:47] martypowell commented on #518
to update this threads, we are going with Google Custom Search to start

[2018-08-28 11:48] martypowell commented on #576
💥

[2018-08-28 11:56] martypowell commented on #576
@danfox01 this is ready for another look in dev. The issue here is some generic looking css, that was actually a bit more specific than first expected

[2018-08-28 11:58] martypowell commented on #560
@danfox01 still not fixed in dev. I will take another look when I get a chance.

[2018-08-28 12:33] danfox01 commented on #576
Looks good. Thanks Marty.

[2018-08-28 12:33] #576 closed

[2018-08-28 12:37] danfox01 opened #577 "[DEV] Blog layout breaks when high contrast mode is enabled"
To replicate, view the [dev blog](https://dev.bcpl.info) and toggle high contrast mode. Note the position fo the cards.

[2018-08-28 12:52] martypowell commented on #577
@danfox01 this should be resolved

[2018-08-28 12:52] martypowell commented on #547
we took a different approach and this issue is no longer valid.

[2018-08-28 12:52] #547 closed

[2018-08-28 12:55] danfox01 opened #578 "[DEV] Dev and prod card spacing don't match"
Compare dev to prod to see differences in margins around elements. Please update dev to match what is currently in prod.

![untitled-1](https://user-images.githubusercontent.com/13049389/44724156-ebf4a180-aa9f-11e8-9af0-bef1e9960c41.jpg)

[2018-08-28 13:02] danfox01 commented on #577
Indeed it is. Thanks.

[2018-08-28 13:02] #577 closed

[2018-08-28 13:04] martypowell commented on #578
should be good

[2018-08-28 15:15] martypowell commented on #570
@danfox01 this has been submitted for a PR, and will be pushed to development on 8/28 in the afternoon.

[2018-08-28 15:27] danfox01 commented on #570
Thanks @martypowell. I'll test it tonight.

[2018-08-28 19:28] #578 closed

[2018-08-28 19:28] #573 closed

[2018-08-29 17:00] danfox01 opened #580 "[DEV] In the blog, extra space appears below "Load More" button in IE11"
When viewing the blog in IE11 at a small size, there's an excessive amount of blank space (hundreds of px) below the Load More button.

[2018-08-30 14:02] danfox01 opened #581 "[DEV] In the blog, back to top button is not clickable clickable in the footer area at some sizes"
Z index issue?

[2018-08-30 15:48] martypowell commented on #581
@danfox01 fixed in dev

[2018-08-30 16:37] danfox01 commented on #581
Thanks!

[2018-08-30 16:37] #581 closed

[2018-08-30 16:38] danfox01 commented on #574
@martypowell , you did this one while ago right?

[2018-08-30 16:40] martypowell commented on #574
@danfox01 yea i think this is good

[2018-08-30 16:40] #574 closed

[2018-08-30 19:02] danfox01 commented on #580
Updated the title since this bug has been promoted to prod, haha.

[2018-08-30 19:03] danfox01 opened #585 "Blog: Post detail should be two-column"
Individual posts are rendering as one-column with not "Back" link in the nav area.

https://www.bcpl.info/blog/2018/happy-national-dog-day

[2018-08-30 19:05] danfox01 opened #586 "Blog: In IE11 footer should extend to screen edge"
Footer should be full bleed, but is limited to 1280px wide in IE11.

Compare Chrome to IE11: https://www.bcpl.info/blog/

[2018-08-30 19:13] martypowell commented on #586
should be good.

[2018-08-30 19:17] martypowell commented on #585
restored

[2018-08-31 01:16] danfox01 commented on #541
@martypowell I think this is a dupe of #557 that was resolved in last week's release: https://github.com/baltimorecounty/BCPL-assets/releases/tag/1.5.9

Can you confirm?

[2018-09-04 13:53] danfox01 commented on #570
@martypowell can you get this set up for me to test tonight, please?

[2018-09-04 14:05] danfox01 opened #587 "Blog skeleton design adustments"
Is it possible to adjust the skeleton elements to look something like this? These changes make the heading space look more heading-like and the paragraph copy look a little more natural by varying the line lengths. Similar to FB's design.

Not urgent at all.

![skeleton](https://user-images.githubusercontent.com/13049389/45036265-0abbe080-b02a-11e8-8d63-36423faab0c7.png)

[2018-09-05 20:30] danfox01 opened #588 "Add subheads to homepage promoters"
To make promoters more explanatory and actionable, we need to add subheads to the cards. I'm thinking something like this mockup. @sdurphy let me know what you think. A few requirements:

- Subheadings will be 1 or 2 lines
- Regardless of number of lines, all cards should size to the height of the tallest card.
- All other card behaviors (e.g., hover states) should stay the same.

![fireshot captu

[2018-09-06 18:06] martypowell commented on #570
this is in dev, ready for testing

[2018-09-07 17:17] martypowell opened #589 "Events - Larges sets of data, do not return all results"
While troubleshooting this issue we discovered that large sets of data did not return the appropriate response. Basically, the api was calling the first 99 records of any request you made, regardless if their were more than 99 records for the criteria.

We will need to update the API and Angular App in order to resolve this bug.

[2018-09-10 20:16] danfox01 opened #591 "Add call to action "bubble" style"
Sam added CSS directly to this test page in order to get a mockup ready for BCPL to review: https://www.bcpl.info/_test/make-it-place.html

We need to get that style added to source control. It also needs to tweaks to render properly at mobile side.

@martypowell and @sdurphy can  you please work on this?

[2018-09-11 12:07] martypowell commented on #591
@sdurphy please include the css in this thread, and i can get it into the project

[2018-09-11 13:08] danfox01 commented on #591
@martypowell, FYI this was added inline for expediency. It'll need a new class, etc.

[code]

[2018-09-11 19:04] martypowell commented on #589
this is in dev.

[2018-09-11 19:05] danfox01 commented on #589
Thanks. Should we test for anything specific, or is this invisible to the end user?

[2018-09-12 12:38] martypowell commented on #556
@danfox01 this code is now in production. It was not integrated, when I get a chance I'll reconcile the dev and production branches.

[2018-09-12 17:20] danfox01 commented on #556
Thanks @martypowell. Let me know if you want to leave this open until that is complete.

[2018-09-13 13:00] martypowell commented on #556
@danfox01  please leave open, until confirmed.

[2018-09-13 19:45] danfox01 opened #592 "Display mobile menu at XS and SM screen sizes"
**Background**

Currently, the hamburger icon and mobile menu appear only at XS screen sizes, which traditionally comprised portrait and landscape views for most mobile phones. Newer phones (included all 2018 iPhones) are so large that they will actually trigger the tablet view when viewed in landscape. This is fine for content, but it's a bad experience for menus, which are displayed differently

[2018-09-14 12:46] danfox01 commented on #589
@martypowell, is there a specific test case for this that you're aware of? Otherwise I will just have Jason run through the normal plan and make sure nothing is broken.

[2018-09-14 12:57] martypowell commented on #589
no @danfox01 unfortunately not, let him rip

[2018-09-14 19:28] danfox01 opened #593 "Investigate alternative method for BCPL event registration"
@martypowell I might have just stumbled on an alternative method for getting event registration data from evanced. Please take a look and let me know if you think we could potentially use this to build the registration forms on the BCPL site instead of the way we're currently doing it: https://bcpl.evanced.info/admin/signup/SimpleRegistration/139743.

**Background**

When we built the BCPL events

[2018-09-17 15:57] jsmith176 commented on #588
@danfox01 can we publish those subheads to dev? I attempted to make the changes myself in site exec but I didn't want to publish them without the go-ahead.

[2018-09-17 16:07] danfox01 commented on #588
@jsmith176 if you're asking if it's ok for you to publish in dev, please feel free. If I misunderstood your question please let me know.

[2018-09-17 18:57] danfox01 commented on #588
Looks good! We just need to accommodate responsive breakpoints. I'm thinking:
- Md and lg screens are good as-is.
- Sm screens should display as 2x2 boxes (similar to current display in prod)
- Xs should display as rectangles (see below)

@sdurphy, do you have any specific thoughts?

![fireshot capture 128 - baltimore county public library home - https___dev bcpl info_index html](https://user-imag

[2018-09-17 19:12] danfox01 opened #595 "Reconcile recent Polaris prod changes with source control."
@martypowell I know you wanted to address the BCPL emergency alert color issue here. I also recently updated the BCPL nav directly to site.master in prod, which will need to be reconciled as well.

[2018-09-18 17:05] jsmith176 commented on #588
@danfox01 changes are in dev. @martypowell thinks the spacing between the cards on xs screens is too large. Would you like me to make them smaller?

[2018-09-18 17:13] danfox01 commented on #588
Looks great! Just a couple things:

-  I agree we could use a bit less space at XS. I'd like to hear what Sam says. @sdurphy do you have a recommendation?
-  Unfortunately object-fit is not supported by IE11, which is still 30% of BCPL's traffic. Is there another way of achieving the image sizing, or a polyfill for IE11? (I do like the idea of using that property -- I can think of a few other plac

[2018-09-19 13:00] jsmith176 commented on #588
@danfox01 I wasn't able to get the images to crop properly but all of the other changes are in dev now.

[2018-09-19 13:08] jsmith176 commented on #588
__Changes__
- Adjustments to css for feature subheads
- Added a horizontal rule and subhead text to each feature in SE
- Added the _flex_ class to the columns and container row in SE
- Added the _flex-wrap_ class to the container row in SE
- Wrapped subhead text in div element

_SE changes are for BCPL/\_inclusions/homepage/component-features._
_Changes can be viewed in [dev](dev.bcpl.info)_

[2018-09-25 13:44] danfox01 opened #596 "Jobs Tool: Add space around text in table cells"
https://libcyber01p.bcpl.lib.md.us/Careers/

Mockup:
![2018-09-25](https://user-images.githubusercontent.com/13049389/46018263-7c2a0480-c0a7-11e8-909d-3db21908bc05.png)

[2018-09-25 16:50] danfox01 opened #597 "Pressing keyboard down arrow key in "Events" and "Website" search tabs will render a bugged version of the Polaris autocomplete."
This issue appears in dev and prod.

**To replicate:**

- Open search.
- Select Events or Website tab.
- Enter the first few letters of a search term and press the down key.
- The Polaris autocomplete box will appear, though continuing to type does not change the display.

**Expected behavior:**

Autocomplete should only appear in the "Catalog" tab. Pressing down when other tabs are active should

[2018-09-25 16:58] danfox01 opened #598 "[DEV] Spacing issues at bottom of Google search results."
https://dev.bcpl.info/_test/search/results.html?search=books

- Please increase space between last result and pagination.
- Align Google logo with the surrounding text.

[2018-09-25 17:03] danfox01 opened #599 "[DEV] Contrast toggle should make results headings/links darker"
https://dev.bcpl.info/_test/search/results.html?search=books

The contrast toggle doesn't currently affect this element in dev and it should. See the effect in prod for expected behavior.

[2018-09-25 17:08] danfox01 opened #600 "Search page should provide an indication of the term the user entered."
Something like, "Showing results for **{term}**"

This is low priority and does not have to be in place for launch.

[2018-09-27 17:48] danfox01 commented on #599
Resolved in dev before release.

[2018-09-27 17:48] #599 closed

[2018-09-27 17:49] danfox01 commented on #598
Resolved in dev before release.

[2018-09-27 17:49] #598 closed

[2018-09-27 18:10] #542 closed

[2018-09-27 18:13] danfox01 commented on #591
FYI, this page is live here with a head section style added. We still need to get this into the source at some point, no rush -- @martypowell I'm assigning to you since I know you were working on this.

[2018-09-28 00:17] danfox01 opened #605 "Google Custom Search results show results from navigation"
As reported by @jdomasky:

I have looked into this a bit and haven't found a legimate whay to prevent Google from indexing the nav. It's not a huge problem because Google still prioritizes the more relevant results over the ones with just a nav hit, but if there's anything that can be done, I'd like to know.

[2018-09-28 16:08] danfox01 opened #606 "When selecting the search button, the cursor should automatically occur in the search box"
Currently, if you click the search button, you have to click again inside the search input. Ideally the cursor should automatically appear inside the input as soon as search is selected. This behavior should also occur when switching between tabs.

[2018-10-02 17:18] martypowell commented on #556
@danfox01 this has been integrated

[2018-10-02 17:18] #556 closed

[2018-10-02 17:18] martypowell commented on #588
@danfox01 what is going on with this?

[2018-10-02 17:29] danfox01 commented on #588
@martypowell, I'm not sure I ever reviewed the final version of this and it looks like it's not longer in dev. Once it is in place, I'll need to take a few screen shots to show BCPL before we go live. it can wait till I get back if that's easiest.

[2018-10-03 13:45] martypowell commented on #595
@danfox01 the code is in good shape, if you want to add the release notes please feel free, but i don't have a recollection of what happened when (yes i know ive been slacking)

[2018-10-03 13:45] #595 closed

[2018-10-05 14:00] martypowell commented on #596
@danfox01 i sent this to steve g, i need to reconcile this with source control, so let's keep this open for now.

[2018-10-16 12:51] danfox01 opened #607 "Update jobs content viewlet"
We went live with Cyber Recruiter last week which requires a process and change for posting jobs to the site. Previously, we posted full descriptions in SE structured content, but those will now live in CR.

We need to update the content viewlet so that instead of automatically linking users to the structured content post, BCPL will instead add the URL for the Cyber Recruiter post. The other field

[2018-10-16 15:29] danfox01 commented on #607
This change is in prod. Thanks @martypowell

[2018-10-16 15:29] #607 closed

[2018-10-18 16:26] danfox01 opened #608 "Events: "Back to List" button should behave as browser back"
When viewing an event's details, the browser back button is currently a static link to the main events page. This is frustrating to some users because they lose their filters.

Ideally, this button should behave like  browser back to retain the filters. See the blog as an example: https://www.bcpl.info/blog/2018/farewell-to-a-sesame-street-friend.

[2018-10-22 15:07] danfox01 opened #609 "Swagger documentation updates for services.bcpl.info"
Three things may need to be updated, I think. Let me know your thoughts, @martypowell .

- I believe that [this endpoint](https://services.bcpl.info/swagger/ui/index#!/Search/SearchTerm_Get) is used for the autocomplete. Can you confirm that, and if so -- does it make sense for us to identify that in the endpoint description?

- The Swiftype endpoints ([this](https://services.bcpl.info/swagger/ui/

[2018-10-22 20:27] #596 closed

[2018-10-23 19:20] danfox01 opened #610 "SE and Polaris alert banners don't match."
This is related to #556 and #559. The red banner in Polaris doesn't break the way that it does in SE. The Polaris version should match the SE version.

## SE Version - Correct

![fireshot capture 142 - baltimore county public library home - https___www bcpl info_index html](https://user-images.githubusercontent.com/13049389/47385021-e948ae00-d6d6-11e8-88ad-515177dc34df.png)

## Polaris Version - I

[2018-10-23 19:24] danfox01 opened #611 "Reconcile BCPL releases"
Last release documented here is 1.5.9 on Aug 22. I believe 1.6 included blog enhancements and Google and the switch search. @martypowell, let's get together to confirm that and I can create the release.

[2018-10-24 12:38] martypowell commented on #611
Includes #601, #602, #603, #604

[2018-10-24 14:10] danfox01 commented on #610
This is in prod and looks good. Thanks @martypowell

[2018-10-24 14:10] #610 closed

[2018-10-25 19:15] danfox01 opened #612 "Was react blog merged to master?"
@martypowell , per your question about this feature. Please investigate an update as needed.

https://github.com/baltimorecounty/react-blog

[2018-10-29 17:08] danfox01 opened #613 ""Check In" button missing from e-content on Items Out page."
**I haven't verified this myself yet. It may be a vendor issue or the result of our Polaris update last week.**

According to BCPL, on the [Items Out page](https://catalog.bcpl.lib.md.us/polaris/patronaccount/itemsout.aspx) the "Check In" buttons for e-content have been missing since sometime last week, which could coincide with our most recent bug fix.

In the screen they sent in, there should be

[2018-10-30 12:19] martypowell commented on #612
@danfox01 confirmed master and integration are in sync. added [release notes](https://github.com/baltimorecounty/react-blog/releases/tag/1.0.0) for the initial release

[2018-10-30 12:21] danfox01 commented on #612
Thanks!

[2018-10-30 12:21] #612 closed

[2018-10-30 15:15] danfox01 commented on #518
This was implemented in release 1.6. Also, changing issue name to reflect the actual solution that was implemented.

[2018-10-30 15:15] #518 closed

[2018-10-30 15:17] danfox01 commented on #511
FYI, this was accidentally released along with the Polaris alert fix last week. Confirmed with BCPL that we can let this stand, though it may need a few tweaks in the future.

[2018-10-30 15:17] #511 closed

[2018-10-30 15:20] danfox01 commented on #509
This was addressed by https://github.com/baltimorecounty/react-blog/releases/tag/1.0.0

[2018-10-30 15:20] #509 closed

[2018-10-30 15:22] danfox01 commented on #611
Reconciled BCPL release 1.6 and React-Blog 1.0:

- https://github.com/baltimorecounty/react-blog/releases/tag/1.0.0
- https://github.com/baltimorecounty/BCPL-assets/releases/tag/1.6

[2018-10-30 15:22] #611 closed

[2018-11-05 16:11] martypowell commented on #609
@danfox01

- it is used for autocomplete, but the swagger docs, should not reflect how we are using the data we are consuming, just what the endpoint provides
- I removed this code, and submitted for code review. I left the part of the code that specified how the search should work aka endpoints, so that we can reuse if needed
- Description updated and submitted for code review

[2018-11-05 16:17] danfox01 commented on #609
Great, thanks @martypowell. Keep me posted on next steps after review.

[2018-11-05 16:22] martypowell commented on #608
@danfox01 this is production

[2018-11-05 16:28] danfox01 commented on #608
Confirmed. Thanks!

[2018-11-05 16:28] #608 closed

[2018-11-19 20:37] danfox01 opened #615 "Emergency alerts not sorting properly"
In some cases when multiple alerts are active, they seem to be sorting by the date they were published instead of in order based on alert type.

[2018-11-21 15:52] danfox01 opened #616 "When adding new items of the Locations page, Libanswers contact forms don't render"
When adding net-new locations to the locations page, the "Contact" button does not spawn a Libanswers modal like it should.

https://www.bcpl.info/locations/index.html

[2018-11-21 15:57] danfox01 opened #617 "Various Polaris mobile changes"
- Text in "Items Out" table should be left aligned and not centered.
- Log In button should be slightly larger and right aligned on small screens.
- Results page should be more space efficient on mobile (check with Dan and Sam for details)
- Item details should be more space efficient on mobile (check with Dan and Sam for details)

[2018-11-21 16:01] danfox01 opened #618 "BCPL blog: Add ability to pin post."
BCPL would like to add "featured" posts that stick to the top of the layout. I am envisioning this would just be a structured content yes/no option. Will include concrete requirements when a resource is available to work on this.

[2018-11-26 13:55] martypowell commented on #615
@danfox01 can you please set this up for @tmccoy529 and I in dev?

[2018-11-26 13:56] martypowell commented on #615
@danfox01 please assign this to @tmccoy529 when it's recreated in dev.

[2018-11-26 13:59] martypowell commented on #616
@tmccoy529 this can be recreated in dev. look for branches "mobile engagement" adult and "mobile engagement youth"

[2018-11-26 14:07] martypowell commented on #616
**Expected Behavior**

1. Select "Contact Arbutus"
1. A modal should appear displaying a contact form.

**Bug Behavior**

1. Select either "mobile engagement" contact button
1. You will it appears that nothing happens apart from maybe a chance in the window location on your screen

We will need to add a readme in the bcpl wiki for adding and removing branches.

[2018-11-26 16:19] danfox01 commented on #615
Dev is updated with 5 sample alerts -- one for each alert type. However, I think the dev site needs to be pointed to testservices.bcpl.info in order to see them.

Expected Behavior:

Alerts should always sort in order based on their alert type:
- Emergency/Weather: Systemwide
- Emergency/Weather: Branch
- Holiday Closing
- Website Downtime
- Long-Term Branch Closure

If two alerts of the same type

[2018-11-26 20:09] danfox01 opened #620 "Implement Google Tag Manager for BCPL"
This would allow us to more easily manage Google Analytics and additional tracking scripts [such as SiteImprove](https://support.siteimprove.com/hc/en-gb/articles/115000008131-Add-Siteimprove-Event-Tracking-in-Google-Tag-Manager-GTM-). Once in place we will be able to adjust tags and tracking in the GTM dashboard without touching page source, and with no developer intervention.

More information o

[2018-11-27 18:14] danfox01 commented on #615
@tmccoy529 and @martypowell -- let's hold off making changes to this for the moment.

We heard from BCPL today that they would prefer a simpler system of setting the sort order by number., rather than selecting by type. We intentionally avoided that for a few logistical reasons, but I want to reevaluate.

We can drop the ticket to sev. 3 and I'll post some final requirements here. I still want to

[2018-11-27 18:16] danfox01 commented on #616
@tmccoy529, @martypowell -- Is it possible to get this update in dev today so I can do some quick testing?

[2018-11-27 19:59] martypowell commented on #616
yes, ill dump it in. fyi @tmccoy529

[2018-11-27 20:07] martypowell commented on #616
@danfox01 @tmccoy529 this has been published to dev.

[2018-11-27 20:54] danfox01 commented on #616
Testing revealed that contact form modals on this page don't render in IE11. This affects this update in dev **and** the current prod version. @tmccoy529 just let me know if you need a separate issue opened for this, but I'd like to get this resolved for tomorrow's release.

@jdomasky recalls this issue being fixed in the past so this may have been a regression in a previous release.

[2018-11-28 12:54] tmccoy529 commented on #616
Dan,

Marty and I looked into it and we found the issue. Will push back out. Hope we can still make todays push.

Tim

[2018-11-28 13:21] tmccoy529 commented on #616
Correction, what we thought was the issue turns out to be the start of a chain of issues related exclusively to IE 11. Looking into it further we realized this actually isn't working in Prod either so this may have never worked. We should probably make this its own issue at this point since this is already out in prod this way.

[2018-11-28 13:32] danfox01 opened #621 "Contact forms on locations page do not render in IE11"
https://www.bcpl.info/locations/index.html

**Current behavior:**
In IE11, selecting the "Contact" link on any branch card simply scrolls the page to the top.

**Expected behavior:**
Selecting the Contact link should spawn a modal window with a LibAnswers contact form.

I think the going theory is that this might never have worked, which is possible, but I would be surprised if that's the case. Th

[2018-11-28 13:32] danfox01 commented on #616
No problem: https://github.com/baltimorecounty/BCPL-assets/issues/621

[2018-11-28 17:48] danfox01 commented on #616
@tmccoy529 since we know the IE11 issue is independent of this one, is it possible to still release this change as a HF today? That way we can get the customer's original issue wrapped up while we're working in the IE11 bug.

[2018-11-28 18:09] tmccoy529 commented on #616
@danfox01 I think this would be ideal as the IE issue already exists in Prod so we wouldn't be pushing out a new bug with this fix.

@martypowell if you have time can you walk me through pushing a hot fix out for this?

[2018-11-28 19:31] danfox01 commented on #616
Thanks guys! Looks great. I will close this issue when we confirm the prod deployment tomorrow.

[2018-11-29 21:14] danfox01 commented on #621
@martypowell your changes in dev look good. @jdomasky noted that every time a location contact modal spawns, the page scrolls back to the top which is annoying. Is it possible to keep the user's position?

[2018-11-29 21:15] danfox01 commented on #616
This was successfully release to prod. Thanks all!

[2018-11-29 21:15] #616 closed

[2018-11-30 16:55] danfox01 commented on #615
OK, scratch that last comment about changing any functionality. Let's just focus on fixing the sort order for these. @tmccoy529 when do you think you'll have time to dig into this one? Let me know and I'll update the ticket.

[2018-11-30 18:46] martypowell commented on #621
@danfox01 yes, it's in dev. @tmccoy529 i did this during lunch, let's review monday morning

[2018-12-03 13:57] danfox01 opened #624 "Swiftype search API is showing new queries, and shouldn't be"
I received a summary report from Swiftype this morning that suggests we sent about 300 search queries via their API in the past week.

Swiftype was removed from the site and replaced with Google Custom Search a few months ago, so there should be no traffic. I'm assuming there must have been a regression in the latest change (1.6.3).

[2018-12-04 21:37] danfox01 opened #625 "Remove additional space for CyberRecruiter job application form"
BCPL has requested that the empty space at the top the application form be removed. [See an example here.](https://jobs.bcpl.info/Careers/AppSelfService.aspx?adata=EA%2fv9SYA1SnggUqoY4rvTAvYnQ0x%2fTkYyPERVBaimDNPFzgofyuE5%2fkAjHxp7Gj7zorQ4PXLNrSpyG0CLXL2HNmqebtCspKBZJy5Rs0wAQrOAnzn43n74nmCFDdDpglrW8b126MNfcS8EO0wEoJxh2KAtK5INahvK7T%2fr4dQynTvc7J1vCPOTW%2fbJlHCtRLh6XlWaAP49egeQOMMJsxRgJp%2bHgvz48MR

[2018-12-06 14:26] danfox01 opened #626 "Explore ways to break JSON data caching"
When JSON files are updated, the data remains cached until the user performs a hard refresh. This is problematic when staff expect to see instant changes, and for the public who shouldn't need to clear their own cache to see the latest version of the site.

Our workaround has been to update a number of query strings in the master JS, which is time consuming and a little dangerous. Since, the inten

[2018-12-07 12:47] martypowell commented on #626
I think with the current layout the way to do this would be to put the json files in the constants file (if they aren't already there)  for the site, and remove the constants from master.js and include it separately.

[2018-12-07 12:48] martypowell commented on #625
@danfox01 understood, I believe with josh leaving, this code might be out of date in source control as well.

[2018-12-07 12:50] martypowell commented on #624
@danfox01 hopefully this will be resolved when we push the #621 I removed any references to swiftype

[2018-12-07 12:52] martypowell commented on #615
@tmccoy529 I think we want to do this in the service, which is in tfs. I'm guessing the docs on the project probably could be updated, to help someone get working on that, so lets try and do that as part of this too.

[2018-12-07 12:57] tmccoy529 commented on #615
@martypowell  Yeah, I was debating how we should handle this one this morning on my mind numbing drive in. Sanjay and I will jump on this one and see what we can do. Once we are in the right location I cant imagine it will take long.

[2018-12-07 21:30] sdurphy commented on #554
I could have sworn I mocked something up for this a while ago... I found in Basecamp:
![screen shot 2018-03-28 at 11 46 50 am](https://user-images.githubusercontent.com/2189638/49673700-5cb33e80-fa3d-11e8-96dd-43fe30319eb3.png)

[2018-12-10 20:22] danfox01 opened #629 "Catalog autocomplete doesn't work."
After release 1.6.6, the catalog autocomplete no longer renders.

**Expected functionality:**
Select "Search" button from any page and begin typing into the box. Autocomplete should populate matching titles from Polaris.

**Current functionality:**
Select "Search" button from any page on bcpl.info and begin typing into the box. No autocomplete terms are suggested.

FYI @jdomasky

[2018-12-10 20:33] martypowell commented on #629
@danfox01 hotfix implemented, code review submitted

[2018-12-10 20:55] danfox01 commented on #629
Thanks @martypowell. Verified in prod.

[2018-12-10 20:55] #629 closed

[2018-12-10 20:59] danfox01 opened #631 "Locations Page: Some contact forms don't render after toggling amenities."
Also seems to be a result of 1.6.6:

After selecting and deselecting filters, some contact forms no longer render: https://www.bcpl.info/locations/index.html

@jdomasky confirmed in multiple browsers.

From @jdomasky:

[2018-12-11 13:04] martypowell commented on #631
@tmccoy529 can you take a look at the constants values it looks like we are missing the new ones for mobile engagement?

[2018-12-11 13:44] tmccoy529 commented on #631
@martypowell @danfox01 looking into it now

[2018-12-17 16:23] martypowell commented on #631
@danfox01 @tmccoy529 this is still an issue, but I completed the ticket as dan and I both agreed that users most likely won't create this issue. We should consider moving this logic outside of BCPL-assets and into it's own react project.

[2018-12-17 16:53] danfox01 commented on #624
Resolved in HF 1.6.8. Confirmed via Swiftype admin dashboard -- no longer showing search traffic.

[2018-12-17 16:53] #624 closed

[2018-12-23 18:47] danfox01 opened #633 "Events page SEO improvements"
The [BCPL events page](https://www.bcpl.info/events-and-programs/list.html#!/) needs some SEO improvements to help with search relevance and the quality of snippets displayed in Google.

- At a minimum, we should add some brief intro copy below the H1. However, the entire page is an Angular app and not editable in SE -- we need to discuss how to implement this.
- Longer term we need to look into h

[2018-12-26 13:05] martypowell commented on #633
Dan, this is the direction I would like to go is to convert this to react, and render the react from the server. I believe this is a fairly common pattern and we were able to do this in a sample project .net project.

This will be dependent on a new CMS.

[2018-12-26 17:56] danfox01 commented on #526
This is actually no longer relevant due to changes to the blog UI.

[2018-12-26 17:56] #526 closed

[2019-01-02 18:44] martypowell opened #634 "New Year with No Blog Posts creates an issue"
@danfox01 the issue happens when there are no blog posts to start the year. Due to the nature of how we create paging in the service, when nothing exists, it stops processing data. However, at the start of the new year, there are no blog posts and data stops processing.

The culprit is the StructuredContentApiProvider in the services project.

[2019-01-22 21:26] danfox01 opened #636 "Notary Services link broken in Polaris nav"
1. Got to https://catalog.bcpl.lib.md.us/polaris/
2. Select Services > Notary Services

Note that the link is broken. It should point to https://www.bcpl.info/services/notary.html. Has probably been like this and unnoticed for a few months.

I believe this requires an update to the master page in Polaris.

[2019-01-22 21:39] danfox01 opened #637 "Polaris "More Search Options" link broken"
On the Advanced search page (https://catalog.bcpl.lib.md.us/polaris/search/default.aspx?ctx=1.1033.0.0.5&type=Advanced) the "More Search Options" link doesn't do anything.

I'm not sure what the expected behavior should be -- it's probably been broken for a quite some time, but I believe it should fire a modal with more options.

Can a dev please take a look and see if anything is blocking that fu

[2019-01-23 19:48] martypowell commented on #626
@danfox01 @tmccoy529 what is the status of this, dynamic stylesheet was blocking this before?

[2019-01-23 20:05] danfox01 commented on #626
Um.... hang on I'm confused. Is this BCPL issue separate from the BCG cache busting issue we were looking at last week: https://github.com/baltimorecounty/baltimorecountymd.gov-assets/issues/168?

[2019-01-23 20:35] tmccoy529 commented on #615
@danfox01 I am just currently waiting to get access to the test box so I can move the code over for testing purposes. Once that is done I will let you know when its ready to test.

[2019-01-23 21:59] danfox01 commented on #615
@tmccoy529, awesome. Thanks, keep me posted.

[2019-01-23 22:02] danfox01 commented on #636
@tmccoy529 or @sgrg1 -- this one should be pretty simple. Just a basic markup change and updating source control before sending along to the server team to replace the file. Can either of you tackle tomorrow?

[2019-01-23 22:08] danfox01 commented on #609
@martypowell and @tmccoy529, this is an old update to our Swagger documentation that was last updated in Nov pending code review. Does it make sense to try to pack these updates with any changes we're making to services for BCPL event sorting fix? (#615)

[2019-01-24 14:02] tmccoy529 commented on #636
@danfox01 Sanjay and I are looking into this now.

[2019-01-24 14:20] martypowell commented on #636
@tmccoy529 shoot an email to Mike Kollin and ask him for the latest copy of Site.Master, you should be able to fix it in that. Source control is out of date with the production file because we needed to get something in quick.

@sgrg1 @danfox01

[2019-01-24 17:02] tmccoy529 commented on #636
@danfox01 this has been moved over to test for review.

[2019-01-24 17:19] danfox01 commented on #636
@tmccoy529, this looks good to move to prod. Will you use this opportunity to get the Polaris source control up to date in TFS, or should I log a separate issue for that?

[2019-01-24 17:47] tmccoy529 commented on #636
@danfox01 @martypowell I went ahead and loaded the prod version into source along with this fix. Probably should have been a separate issue but its all done now in one PR so once Marty gets back we can finalize that.

[2019-01-24 18:00] tmccoy529 commented on #637
@danfox01 it appears that a JavaScript function isn't loading on the page which is used to open this modal. Could be that it doesn't exist since I cant find any references to it in the code other than being added to the element. I'll let you know when I have a fix in place.

[2019-01-24 18:16] tmccoy529 commented on #637
@danfox01 I believe I have a solution in place. However this breaks the Notary Service as I've moved over a new branch without that fix in place. If you could verify that this is now working I will do a new PR for this issue and then we can hopefully move both branches into integration fixing both these bugs.

[2019-01-24 18:24] danfox01 commented on #637
@tmccoy529 this looks good. You're good to go. Thanks for the quick work.

[2019-01-25 21:40] danfox01 opened #638 "BCPL Locations Page: Incorrect contact form loading for Arbutus"
Another fun issue for the BCPL locations page: https://www.bcpl.info/locations/index.html

It looks like the Arbutus branch is loading the wrong contact form. The heading for the form is correct, and the ID in the JSON is correct, but the wrong form is loading. Seems to only affect the Arbutus branch.

[2019-01-25 21:42] danfox01 commented on #637
@tmccoy529, please shoot me an update on Monday (1/28) -- I'd like to get this and #636 merged and into prod early in the week. Thanks!

[2019-01-25 21:45] danfox01 commented on #615
@tmccoy529 any luck on getting access to testservices? If not i can help push that along.

[2019-01-28 15:23] danfox01 commented on #638
Released to prod. Will close pending full testing by @jdomasky. Jason, no rush -- let me know when you have availability.

[2019-01-28 15:25] jdomasky commented on #638
Will have availability today, closer to noon. I'll follow up when I'm ready.

[2019-01-28 15:25] tmccoy529 commented on #615
@danfox01 this has been moved over to test services. Give it a try and see what you all find.

[2019-01-28 16:23] tmccoy529 commented on #637
@martypowell when do you think we can get this pushed over for Dan?

[2019-01-28 17:01] jdomasky commented on #638
The BCPL Locations Page in prod passed the Locations Page Test Plan. The issue with the Arbutus contact form seems to be resolved.

[2019-01-28 18:24] danfox01 commented on #638
Thanks all!

[2019-01-28 18:24] #638 closed

[2019-01-29 13:11] danfox01 commented on #637
@jdomasky, I'd like to run the general Polaris test plan on this. Can you please tackle this sometime in the next few days?

[2019-01-29 13:36] jdomasky commented on #637
No problem. I'll let everyone know before I start.

[2019-01-29 16:25] danfox01 commented on #636
Thanks! This is in prod.

[2019-01-29 16:25] #636 closed

[2019-01-31 15:39] danfox01 commented on #637
@jdomasky, do you have an ETA on this?

[2019-01-31 15:47] jdomasky commented on #637
Yes, I plan to test today, by early afternoon. If the test is successful, I'll post the results here. Otherwise, I'll follow up with @danfox01 directly.

[2019-01-31 16:20] tmccoy529 commented on #618
@danfox01 Sanjaya and I are starting to look into this now. From what Marty told us it looks like you'll need the following criteria met:

- add an option in SE for the entry to be selected as pinned.
- only one item can be pinned at a time.
- include an image on the entry to show its pinned.
- potentially add a border or some other type of eye catching decoration
- if multiple are selected as pin

[2019-01-31 17:40] danfox01 commented on #618
@tmccoy529 , yes that's perfect. Just three other comments to clarify those criteria

- The image to show an entry is pinned should actually be a font awesome icon. (Maybe [thumbtack ](https://fontawesome.com/v4.7.0/icon/thumb-tack )or [bookmark](https://fontawesome.com/v4.7.0/icon/bookmark)?)

- Just FYI, blog content is also fed into the BCPL homepage. The pinned post should not have an impact o

[2019-01-31 18:55] jdomasky commented on #637
@tmccoy529 @danfox01 @martypowell I just finished the General Polaris Test Plan. Polaris dev passed!

[2019-02-01 12:48] martypowell commented on #637
@danfox01 @tmccoy529 this has been approved, we could release this a hotfix?

[2019-02-01 12:54] martypowell commented on #618
@danfox01 i was envisioning something like this?

https://codepen.io/martypowell/pen/LqWJaw

[2019-02-01 12:55] martypowell commented on #615
@danfox01 just fyi, this is ready for testing.

[2019-02-01 13:49] danfox01 commented on #637
@martypowell I'm good with that. I'm also going to schedule weekly release meetings like we used to have -- I think the recurring appointment expired. I'd like to try to start planning set releases now that we're getting more stuff knocked out.

[2019-02-01 13:53] danfox01 commented on #618
Perfect.

[2019-02-01 13:54] danfox01 commented on #615
Oh snap, thanks. I missed @tmccoy529's mesasge earlier.

We did refresh dev on Tuesday. I can re-add the alerts for testing, but does any code need to be moved back over to SE.

[2019-02-01 13:55] tmccoy529 commented on #615
@danfox01 nothing was changed in SE for this particular fix. So it should be good to go still.

[2019-02-01 18:14] danfox01 commented on #615
@tmccoy529, I've got three active alerts in dev right now but not seeing them on the site. Can you take a look?

[2019-02-01 18:20] tmccoy529 commented on #615
@danfox01 yeah let me take a look. I wonder if the web config I moved over is pointing at staging still.

[2019-02-04 16:52] tmccoy529 commented on #615
@danfox01 In the process of investigating the banners not showing up I found a flaw in my code which would have worked most times but not all the time so I'm glad we stalled on this. Anyway that has been fixed. As far as the banners not showing, this is because its pointing at prod not dev for alert data. I've updated this to reflect dev. Happy testing.

[2019-02-04 18:18] danfox01 commented on #615
@tmccoy529 this looks great. We can talk about moving to prod in our 2:00 today.

[2019-02-04 19:07] danfox01 commented on #609
@danfox01 will verify docs in testservices

[2019-02-04 19:09] danfox01 commented on #589
@martypowell will check status

[2019-02-04 19:12] danfox01 commented on #637
@tmccoy529 , please work with Mike Kollin to release to prod when you're ready.

[2019-02-04 19:36] martypowell commented on #589
this is untestable, and if the test plan passed for the other service changes, i think we are in the clear.

what do you think @danfox01 ?

[2019-02-04 20:18] danfox01 commented on #609
@martypowell @tmccoy529, looks like these did not make it to testservices. Let me know if you need me to summarize the changes that need to occur since it's been awhile since the issue was first logged.

[2019-02-04 20:20] tmccoy529 commented on #609
@danfox01 I'll take a look and update when its complete.

[2019-02-05 20:48] danfox01 commented on #589
@martypowell, I'm unclear on exactly what this fix is targeting. Is it the service? If so, I'll have Jason do another quick test tomorrow in dev, but this should be good.

[2019-02-06 16:24] jdomasky commented on #637
@tmccoy529 @danfox01 @martypowell This morning, in Polaris prod and dev, "More Search Options" works on desktop, but the feature seems to have no effect on mobile.
As we know, in a desktop browser, after you click "Set Search Options" in the "More Search Options" modal, a yellow DIV appears on the Advanced Search form.
On Android Chrome and iPhone Safari, after I clicked "Set Search Options," the

[2019-02-06 17:09] martypowell commented on #637
one solution to this would be to warp the failing line like this:

[code]

[2019-02-06 20:00] jdomasky commented on #615
@tmccoy529 I tested the alerts in dev this afternoon, per Marty, and the order is wrong.
Link: https://dev.bcpl.info/alerts.html

[2019-02-06 20:08] tmccoy529 commented on #615
@jdomasky the test box is no longer pointing to that branch. Sanjay and I were working on adding pins to a blog entry. Ive reverted it back to the alerts branch. Can you try again?

Also this is the order of priority I have in the code.

emergency-systemwide - 1
emergency-branch - 2
holiday-closing - 3
website-downtime - 4
long-term-branch-closure - 5

Is this correct or should anything be moved?

[2019-02-06 20:21] jdomasky commented on #615
@tmccoy529 The order you listed is correct. I tried again and the Alerts page is now sorted in the correct order. However, the alert bar is displaying the priority 2 alert at this time. I believe it should be displaying the priority 1 alert.

[2019-02-06 20:43] tmccoy529 commented on #615
@jdomasky great catch!!!!

@danfox01 @martypowell the alerts notification banner was not modified in this fix. Looking at the code it appears that we are grabbing all alerts of type emergency, sorting them by start date so most recent is first, then taking the first one in that list to display in the banner. In this case emergency system has a start date of 1-31-2019 and emergency branch is 2-1-20

[2019-02-06 20:50] danfox01 commented on #615
Thanks @tmmcoy529. I didn’t realize that the code was different for the banner vs the alert page. The banner is actually the more important of the two, because it only shows one event at a time and we always want the highest priority to show. That’s actually how we noted the bug in the first place.

The banner tested fine earlier this week but it must have just been coincidental that I didn’t have

[2019-02-06 20:56] tmccoy529 commented on #615
@danfox01 I think I can implement a fix fairly quickly for the banner. Would you prefer to hold off and just do a push for both fixes say for Monday?

[2019-02-06 20:59] danfox01 commented on #615
Yes that’s totally fine. I want to get @martypowell’s opinion first thing in the morning as well, but that works for me.

[2019-02-07 13:00] martypowell commented on #615
Hey guys for now we will hold off. Tim I'm sure you could make the changes, but postponing will give us some time to document everything and I'd like to talk about adding some unit tests for the service logic. We will shoot for Monday per @danfox01

@tmccoy529

[2019-02-07 13:53] tmccoy529 commented on #615
@danfox01 @jdomasky this issue is ready for retest at your earliest convenience.

[2019-02-07 21:43] danfox01 commented on #615
@tmccoy529 looks great. Thanks.

[2019-02-12 15:45] martypowell commented on #589
@danfox01 i beileve this has been tested right?

[2019-02-12 16:01] danfox01 commented on #637
Moving this back to in progress.

[2019-02-12 16:02] danfox01 commented on #618
@sgrg1, what's the status of this one?

[2019-02-12 16:10] danfox01 commented on #589
Eh... I thought we decided since this was untestable as long as data was being returned with the recent service change we were good. Honestly there is so much lag time between initiation > dev > testing > release at this point I'm losing track of status.

[2019-02-12 16:11] martypowell commented on #589
@danfox01 sorry, i meant, that the events page passes all of its tests

[2019-02-12 16:13] danfox01 commented on #589
OK. I don't know that we've tested that page recently. @jdomasky can you do so today?

[2019-02-12 18:12] tmccoy529 commented on #609
@danfox01 I'm looking into this and all the changes to the original issue seem to have been resolved. Are there any other endpoints you feel don't have good enough descriptions? The alerts notification is listed as this "Get the highest ranked alert to display in banner from bcpl.info". Everything else to me looks like its resolved but wanted to check with you before I move this into the ready to

[2019-02-13 15:12] jdomasky commented on #589
Just saw this--sorry. I'll perform the test plan today, shortly.

[2019-02-13 16:23] jdomasky commented on #589
Good news! The BCPL events interface in dev fully passed the Events Page Test Plan.

[2019-02-14 14:50] tmccoy529 commented on #618
@danfox01 @sgrg1 sorry Dan, we had some struggles with git functionality and such. Anyway Sanjay is currently trying to get his code compiled so we can get it moved over to SE for testing. Hoping to have this out today by lunch time.

[2019-02-14 15:48] danfox01 commented on #618
Thanks @tmccoy529. No worries. Thanks for the update.

[2019-02-14 19:05] tmccoy529 commented on #618
@danfox01 @sgrg1  This has been moved over for testing as well. Sanjay, after I moved it I just did a quick run through to make sure it showed up and I notice that the CSS for the actual pin isn't showing up even though it is on the actual div so some other CSS must be over riding it. Just a heads up.

[2019-02-14 19:48] tmccoy529 commented on #618
@sgrg1 ....helps to copy over the CSS file......that was my fault.

[2019-02-14 19:55] martypowell commented on #618
ok guys so i think the pin needs to move near the top left corner more, maybe something more like this (for positioning)

![image](https://user-images.githubusercontent.com/1933400/52813783-8bb2e580-3068-11e9-9487-cb13df024ee0.png)

@danfox01 @tmccoy529 @sgrg1

[2019-02-14 20:25] tmccoy529 commented on #618
@martypowell @sgrg1 Sanjay is looking into this. Fighting some real estate issues but we will do a few different options for web services to take a look at and see what they prefer.

[2019-02-14 20:32] danfox01 commented on #618
If you prefer, @sdurphy can put together a comp. I don't expect you to have to work through design problems too. Unless you want to.

[2019-02-14 20:35] martypowell commented on #618
@danfox01 yep, asked sam to mockup over hangouts.

[2019-02-14 20:36] danfox01 commented on #618
Dammit Marty! Asking other people to do stuff is my one job!

[2019-02-14 22:08] danfox01 commented on #618
FYI, @sdurphy and I chatted about this a bit. He pointed out that the concept of "pinned" post may suggest that users can actually pin their own posts -- I agree, it's a little confusing.

We decided we should probably call these "featured" posts instead, and tweak the design a little bit. The functionality will be the same, but Sam is going to do a mock up for the design. Stand by...

[2019-02-14 23:22] danfox01 commented on #589
@martypowell this is good to release

[2019-02-15 13:10] danfox01 commented on #609
@tmccoy529 this looks good to me. One minor grammar change for `/api/structured-content/blog` should be "its" not "it's".

Otherwise, it's great. @martypowell can take a quick look too?

[2019-02-15 13:17] martypowell commented on #609
looks good to me, there is a small error at the bottom of the page, I would look into maybe what that is displaying.

![image](https://user-images.githubusercontent.com/1933400/52859241-30313800-30fa-11e9-8b04-2be0fee17f6f.png)

@danfox01 @tmccoy529

[2019-02-15 13:19] tmccoy529 commented on #609
@danfox01 @martypowell I'll fix the grammar issue and look into that error.

[2019-02-19 19:08] tmccoy529 commented on #588
@danfox01 @martypowell based on what I'm seeing this code is already out in prod and can be created if you follow this template adding those css classes to the parent row and each column (card):
[code]
Changes would be made to  BCPL/_inclusions/homepage/component-features in SE

[2019-02-19 19:42] danfox01 commented on #588
@tmccoy529 Perfect, thanks for sleuthing this out. I two changes small to your markup example above:

- Removed `flex-column-md` because I think it's causing an issue with flex at tablet size. Removing it seems to do the trick.
- Changed the final text element from `<div> `to `<p>` for semantics

[2019-02-19 20:29] sdurphy commented on #588
Can we replace the <hr> with a </br>?
![screen shot 2019-02-19 at 3 24 36 pm](https://user-images.githubusercontent.com/2189638/53045241-16c22000-345b-11e9-8e18-b3951b22c2ae.png)

[2019-02-19 20:36] danfox01 commented on #588
@sdurphy yes. For now we can replace the` <hr>` with a `<br>` in the markup. The better solution is a CSS margin. I'll log that separately.

[2019-02-21 13:53] tmccoy529 commented on #588
@danfox01 looks good, I like it. The last release was on 1/28 which was a month after this code was pushed into Master so this should be in Prod already. I guess once that's verified we can probably close this one out?

[2019-02-21 17:20] danfox01 commented on #588
Hmm... need to look a little further but it looks like this might not be in prod after all.

[2019-02-25 15:32] martypowell commented on #588
@danfox01 what's going on with this?

[2019-02-25 15:36] martypowell commented on #637
@tmccoy529 @sgrg1 any updates on this?

[2019-02-25 15:44] danfox01 commented on #588
@martypowell, just confirmed this is not in prod. Here's a test page showing the same markup that's in dev, but you can see the styling isn't in place: https://www.bcpl.info/_test/index-test.html

[2019-02-25 18:24] martypowell commented on #588
@danfox01 changes are in production.

[2019-02-25 18:57] danfox01 commented on #588
Confirmed. Thanks guys.

[2019-02-25 18:57] #588 closed

[2019-02-25 19:12] danfox01 commented on #609
@tmccoy529 will check with @martypowell

[2019-02-25 21:23] sdurphy commented on #618
@tmccoy529, @martypowell, is this doable?: https://codepen.io/sdurphy/pen/gEOgbP

[2019-02-26 12:48] martypowell commented on #618
definitely doable. @danfox01 are you okay with this solution?

[2019-02-26 13:32] danfox01 commented on #618
Perfect.

[2019-02-26 14:44] danfox01 commented on #609
Per @martypowell: this is good for release. I'll add a separate issue to look into the error more, but let's not hold up the other stuff.

[2019-02-26 18:38] danfox01 opened #641 "Outbound links are disabled in some Firefox browsers"
When some content blocking features are enabled in FF, all outbound links stop working. This can be replicated by opening bcpl.info in private mode with trackers disabled, and clicking the "Donate" button at the top of the page.

My best guess is that [autotrack.js](https://github.com/googleanalytics/autotrack) is being blocked. Because autotrack interrupts default outbound link behavior, the link

[2019-02-27 13:03] tmccoy529 commented on #618
@danfox01 @martypowell @sgrg1 this is out in dev and ready to be tested.

[2019-02-27 13:27] danfox01 commented on #618
Looks great! I'll do some quick testing and let you know what I find, then I'll have@jdomasky take a detailed look.

[2019-02-27 13:35] sgrg1 commented on #618
sounds goood

[2019-02-27 13:40] sgrg1 commented on #618
comments works on chrome

[2019-02-27 21:10] danfox01 commented on #618
Looks really good. Just three things from testing:

- IE11 has a responsive issue -- desktop is fine but as you size down, you'll see the label gets wonky.

- We've got a little bit of UX weirdness with the filters. Looks like the featured item changes based on what filter is applied. I would expect the same featured item to always be featured -- regardless of filters.

- Can we shrink the size of

[2019-02-28 12:57] martypowell commented on #641
@danfox01 can you please provide an example?

[2019-02-28 12:59] martypowell commented on #626
@tmccoy529 are we doing this today?

[2019-02-28 13:01] danfox01 commented on #641
See first paragraph ... you can replicate by putting FF in private mode and trying hitting the “Donate” link in the top right of any BCPL page.

[2019-02-28 13:47] martypowell commented on #641
oh @danfox01 taht's so much work, haha thanks.

[2019-02-28 13:49] martypowell commented on #637
We've tried this on 3 physical (1 iphone, 2 androids) devices and cannot recreate. @danfox01 @jdomasky have you tried on your physical phones?

[2019-02-28 14:09] martypowell commented on #618
I believe the ie11 responsiveness issue would be resolved if you set the position to relative on the card--blog class

[2019-02-28 14:11] martypowell commented on #570
@danfox01 i can going to move this off the board, since it's been sitting forever.

[2019-02-28 14:13] martypowell commented on #626
@tmccoy529 since this is bcpl, i think this is good, we just need to release this change?

[2019-02-28 14:30] tmccoy529 commented on #626
Yes, we will just need to copy the constants.js file out to SE prod and update the templates with its location.

[2019-02-28 14:45] tmccoy529 commented on #618
@danfox01 Hey Dan, I was just playing with the filters and I had a question (might add some complexity) but would we want each category filter to allow its own featured blog entry? Or do you just want the one featured blog to show in all selections?

[2019-02-28 14:48] martypowell commented on #618
Just one featured entry regardless of category.

[2019-03-01 19:16] sgrg1 commented on #618
@tmccoy529 fixed issues from previous testing. ready for testing.

[2019-03-04 13:23] tmccoy529 commented on #618
@danfox01 I moved this code over to SE so this is ready for re-test. (when you get back that is).

[2019-03-04 13:26] tmccoy529 commented on #615
@danfox01 This was in the release on Thursday 2/28

[2019-03-14 17:02] danfox01 commented on #625
@martypowell @tmccoy529 Can one of you gentlemen look into this. There is a SolveIT ticket too -- not sure the #, it's from December. Minor issue but the customer is asking status.

[2019-03-18 19:55] theilman7 opened #644 "Correct Ligatures Appearing in Carousel H2 on BCPL"
Request to add the following string to home.min.css to fix the issue of ligatures appearing on certain combinations of words in the carousel h2 headline.

Add:
font-variant-ligatures: none;

To:
.hero-background .hero-foreground .hero-callout-container .callout h2

[2019-03-19 20:06] danfox01 commented on #644
@martypowell This might be a good first issue for @theilman7 to knock out once you guys meet?

[2019-03-20 12:41] danfox01 commented on #625
@martypowell @tmccoy529 , I know you guys have been looking at this and we have other things cooking. Can you please provide an ETA on a fix? This is low priority for me but I'm getting hounded.

[2019-03-20 13:06] tmccoy529 commented on #625
@danfox01 Its an easy enough fix. Basically the hidden text boxes have a style of visibility : hidden which renders the control but just hides the actual element showing white space. Ive changed it to display: none which still allows you to interact with the elements but doesn't render them. However, I'm working with Steve to grant me access to push this out to be tested. By noon today I should ha

[2019-03-20 13:57] tmccoy529 commented on #625
@danfox01 I have pushed out the fix to dev after flailing around like a fish out of water. You can [see an example here](https://libcyber01d.bcpl.lib.md.us/Careers/AppSelfService.aspx?adata=EKwnbznXu6RSGCgDTMPJhCA232K9kONwyzuuoxBxCo60umH5ZHlr82zzwFawV8kgpVxhTaEaTdmt%2fMAc77fQ0GPB4Pgge17ogSLJKs76akX26am2sLJPp7mUmlkwx%2ffh8RPJfuZBipJhYQDZHkYHIzPT1ivFjJb78y%2bO%2fUNWltXgGAAbsUvCzyWwF5XCklTpMFeD9cyaAm

[2019-03-20 14:39] danfox01 commented on #625
@tmccoy529 this looks good, thank you. We can release this as a HF whenever you are ready. I'm not sure of the process for this one -- probably will need NSU for file replacement similar to how we handle Polaris.

[2019-03-20 17:47] tmccoy529 commented on #625
@danfox01 The hot fix was just done. Can you please verify this is complete?

[2019-03-20 18:12] danfox01 commented on #625
This looks good! There is currently a performance issue with this app in prod but that existed before the HF, so I'm sure it's unrelated.

[2019-03-20 18:12] #625 closed

[2019-03-20 19:03] martypowell commented on #625
@danfox01 yes i would bet a dime this is not related.

[2019-03-25 18:15] martypowell commented on #609
@danfox01 i think this is in prod?

[2019-03-25 18:18] martypowell commented on #618
@tmccoy529 @sgrg1 can you guys please get this back up in dev?

[2019-03-25 18:23] danfox01 commented on #609
@danfox01 confirmed in prod. Thanks!

[2019-03-25 18:23] #609 closed

[2019-03-25 18:25] martypowell opened #646 "Reconcoile Cyber Recruiters Code in Git"

[2019-03-25 18:26] martypowell commented on #646
@tmccoy529 can you please do this?

[2019-03-25 20:18] danfox01 commented on #637
@jdomasky can you please verify if this issue still exists? If so, please document the conditions that lead to it for Tim, and if not, we can close.

[2019-03-26 19:24] danfox01 commented on #618
@tmccoy529, this looks great. One thing after a quick test: The ribbon still has responsive positioning issues in IE11. Here was Marty's comment from the last time we worked on this:

I'll look more thoroughly tomorrow.

[2019-03-26 19:27] martypowell commented on #618
@danfox01 yes, I `firebugged` that and it worked.

[2019-03-26 19:32] danfox01 commented on #618
Just spent 10 min looking for a synonym for this. Doesn't exist. Firebugging it is.

[2019-03-27 15:30] jdomasky commented on #637
@tmccoy529 @danfox01 The issue with the appearance of the yellow DIV on mobile is no longer occurring. Yay! However, there’s a new, possibly related problem on both desktop and mobile:
The More Search Options modal is clearing the Advanced Search form when the modal is submitted.

**Steps to reproduce:**
1. Type a search term in the Advanced Search form.
2. Click on More Search Options.
3. Choose

[2019-03-27 17:18] martypowell commented on #544
@danfox01 closing this because for the most part we haven't had any issues, and we hope to get off structured content soonish.

[2019-03-27 17:18] #544 closed

[2019-03-27 17:20] martypowell commented on #646
so this isn't as much as a priority right now because we need to develop a strategy on how to handle this. It was apparent in our latest change that the files can be environment specific and we wan't to make sure we don't clobber anything.

[2019-03-27 17:21] martypowell commented on #560
@danfox01 this is a duplicate of #281

[2019-03-27 17:21] #560 closed

[2019-03-27 17:23] martypowell commented on #554
@danfox01 @sdurphy is this issue still relevant, or can we close it?

[2019-03-27 17:25] martypowell commented on #626
@tmccoy529 looks like this never made it to prod either?

[2019-03-27 17:33] danfox01 commented on #554
Yes, still relevant. Not urgent but should be done.

[2019-03-27 17:58] tmccoy529 commented on #637
@danfox01 @martypowell @jdomasky I would agree this was not functioning this way the last round of testing. This is too obvious to have been missed. Nothing should have changed in Polaris though as that was the last PR done. I'll start looking into it.

[2019-03-27 19:25] tmccoy529 commented on #618
@danfox01 Sanjay added that css option and Ive moved the code over to SE. This is ready for retest.

[2019-03-28 12:00] martypowell commented on #618
strictly from a technical perspective this is fixed. @danfox01 mobile card is a little funky, is that how it's always looked?

[2019-03-28 12:34] sgrg1 commented on #606
Issue fixed, waiting it to move to dev for further testing.

[2019-03-28 12:47] martypowell commented on #600
@sgrg1 if you take a look at the page in this state https://www.bcpl.info/search-results.html?term=books

The search term is "books" and should show up in the circled section below.

Showing results for "books"

![image](https://user-images.githubusercontent.com/1933400/55158761-083fe600-5136-11e9-8b97-e59743827b14.png)

[2019-03-29 17:12] danfox01 commented on #618
@martypowell, can you define funky? it probably always has been like this but if you have suggestions we can revisit.

[2019-04-01 11:54] martypowell commented on #618
@danfox01 they layout just looks like maybe it was never fully finished, but maybe that the is way it has always looked?

[2019-04-01 12:30] martypowell commented on #618
@danfox01 moving to ready for release if we want to address the styles we can in another issue.

[2019-04-03 13:00] sgrg1 commented on #600
added search item to display on a page

[2019-04-03 17:50] martypowell commented on #600
@sgrg1 not seeing these changes in dev?

[2019-04-03 19:15] ascire commented on #626
![who-ya-gonna-call-cache-busters](https://user-images.githubusercontent.com/5613635/55506290-0b017600-5623-11e9-8629-afe631849f25.jpg)

Always a fun topic.

[2019-04-11 19:05] sgrg1 commented on #600
@martypowell  changes has been pushed to dev . Ready for PR

[2019-04-11 19:09] martypowell commented on #600
@sgrg1 please create the pull request, once you guys are happy with the changes, it will be submitted for review, once approved, we will send to @danfox01 team to test. Once they are happy we will complete the pull request.

[2019-04-12 13:22] tmccoy529 commented on #606
@danfox01 This is ready for testing

[2019-04-12 14:07] danfox01 commented on #606
Thanks! We can probably complete testing today.

Meanwhile -- it just occurred to me that this functionality will also need to be replicated in the Polaris version of the search. I don't recall if Polaris hits SE code for this feature, or if it needs to be releases there as well. Please advise if a separate issue is needed.

[2019-04-12 14:10] danfox01 commented on #606
@jdomasky can you please test this today? We should run the [search test plan](https://github.com/baltimorecounty/BCPL-assets/wiki/Search-Test-Plan) and also do a 1:1 comparison against prod for accessibility and keyboard nav. Thanks!

[2019-04-12 14:28] jdomasky commented on #606
No problem. I should be able to start testing between noon and 1:00.

[2019-04-12 17:43] danfox01 opened #656 ""Search the catalog" button passes an "undefined" search"
**Describe the bug**
The "search the catalog" button on the SE search results page results in an "undefined" catalog search.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bcpl.info.
1. Click "Search" then "Website"
1. Enter and search term and hit enter.
1. On the search result page, click the "Search the catalog" button
1. Note that the Polaris search is using the keyword "undefined

[2019-04-12 17:58] danfox01 commented on #656
@jdomasky just noticed this only occurs in **prod** and not **dev.** We can wait until #606 is pushed out to determine if the issue still exists.

[2019-04-12 18:24] jdomasky commented on #606
Testing of this issue is complete. In dev, the Search box passed the Search Test Plan, using IE. My 1:1 comparison against prod, using both Edge and Chrome, showed no differences between dev and prod for accessibility and keyboard nav. Spot checks were made in BrowserStack on iPhone 6S Safari. Testing was a success!

[2019-04-12 18:33] danfox01 commented on #606
Thanks! On our end, this is good to release. @tmccoy529 @martypowell please see my question above about how to handle getting this same behavior into the Polaris nav as well. I don't remember if the code is shared.

[2019-04-12 18:33] tmccoy529 commented on #600
@danfox01 this is ready for testing as well.

[2019-04-12 18:37] danfox01 commented on #600
@jdomasky, can you please test this one as well? You'll need to use a direct search link in order to hit dev, since the search query box will take you to prod. Eg: https://dev.bcpl.info/search-results.html?term=things

[2019-04-12 19:31] jdomasky commented on #600
@danfox01 I'll try to test this today, within the next hour. I'll report my results here.

[2019-04-12 23:24] martypowell commented on #606
@danfox01 bcpl.info and polaris share the the same JavaScript file where these changes were made.

[2019-04-13 03:09] jdomasky commented on #600
@sgrg1 @tmccoy529 @martypowell @danfox01 Hi guys, testing didn't go so well earlier today. I found two issues:

1. **The search term is displayed with the URL encoding intact.** Try this search:
https://dev.bcpl.info/search-results.html?term=service%20animal
Currently in dev, the term is displayed as: **service%20animal**
The desired format of display is: **service animal**

2. The second is a min

[2019-04-15 12:49] tmccoy529 commented on #600
@sgrg1 @tmccoy529 @martypowell @danfox01 @jdomasky I have added a decode to the text to keep that pesky %20 from being added to the div. As far as the second issue this is something that is currently in production so that needs to be separated out as a new issue.

![image](https://user-images.githubusercontent.com/40430541/56133780-4a04c500-5f5b-11e9-9c27-340b9e0b7b61.png)

[2019-04-15 12:51] tmccoy529 commented on #618
@danfox01 @martypowell do we have a status on this? Last I heard this was complete. Can this be moved back into test or are we missing something still? I'll have to rebuild this again in test so let me know when that should be done.

[2019-04-15 13:09] jdomasky commented on #600
@tmccoy529 Looks good! I've confirmed in dev that the search term is now being displayed without the URL encoding.
I'll let @danfox01 decide whether we should pursue the second issue.

[2019-04-15 13:23] danfox01 commented on #618
I don't know. This was in ready for release for a while, but I looks like @martypowell moved it back.

[2019-04-15 13:41] martypowell commented on #600
@sgrg1 @tmccoy529 the second item reported by jason is valid for this issue. When we were working on the code, I just threw "<em>" without any sort of knowledge. I just figured we would want to style the term somehow. I would suggest trying to replicate the behavior of em with  span tag and a class.

[2019-04-15 13:45] tmccoy529 commented on #600
@martypowell This is already in production this way. So its unrelated to this particular issue. When resizing production the button jumps down the screen to a new line with massive amounts of white space beside it th3e div with text. I'm sorry to push back but we can probably find many other flaws in this section and shouldn't be fixing them coupled with this enhancement. One is a bug already in p

[2019-04-15 14:03] danfox01 commented on #600
@tmccoy529 You are correct that this is already in production this way, but that is actually the expected behavior. The existing text and button are supposed to become block-level elements at a certain breakpoint, otherwise you end up with something like this:
![FireShot Capture 049 - Search Results - Baltimore County Public Library - dev bcpl info](https://user-images.githubusercontent.com/130493

[2019-04-15 15:20] martypowell commented on #618
I believe I moved this back because it wasn't available in dev after a refresh. My bad for not updating. We can discuss in our meeting today.

[2019-04-15 15:54] tmccoy529 commented on #600
@danfox01 @martypowell @jdomasky one of the google css classes was forcing a block display on everything inside of it. This was naughty and has been fixed to ignore span and em tags and instead make them inline. This appears to have fixed the word wrap ugliness.

[2019-04-15 16:43] danfox01 commented on #600
Thanks! @jdomasky please retest

[2019-04-15 16:56] jdomasky commented on #600
OK. Will retest today, probably within the next hour.

[2019-04-15 18:49] jdomasky commented on #600
@danfox01 The retest in dev was entirely successful.

[2019-04-15 19:06] tmccoy529 commented on #537
@martypowell @danfox01 so I just looked into this and it appears to be in the master branch and integration. Works in test and prod. Is this still an issue or can we close this?

[2019-04-15 19:37] danfox01 commented on #537
@tmccoy529 functionally this looks good. Can't speak to @martypowell's comment about an issue with scss. Marty if you can confirm, yes this is good to close.

[2019-04-15 19:54] #615 closed

[2019-04-15 19:56] danfox01 commented on #569
@tmccoy529 @martypowell This issue has changed a little bit. The bug fix we did with the date picker race condition (#560) also eliminated part of this issue. Still a good UI improvement so I updated and retagged as an enhancement.

[2019-04-16 12:30] tmccoy529 commented on #569
@danfox01 @martypowell yeah Ive played around with this and got a lots of unexpected behaviors so Im glad to see that only when the start date is greater is when we will change the end date. I believe that will remove those weird issues I was seeing.

[2019-04-16 12:31] martypowell commented on #537
@danfox01 looks ok, and since it was a while ago, we can close and reopen if needed.

[2019-04-16 12:31] #537 closed

[2019-04-18 01:10] martypowell commented on #626
@danfox01 @tmccoy529 @sdurphy this was not released tonight because I failed to remember that Polaris would also need updated. Luckily we didn't move anything. We will come up with a plan tomorrow.

[2019-04-18 14:38] martypowell commented on #618
@tmccoy529 looks like maybe there is something up with the service?

[2019-04-18 17:18] tmccoy529 commented on #618
@martypowell SE didn't have the field name for the blog of IsFeatured. When I added that back into SE and flagged a blog with True I'm seeing the featured ribbon again. Is that was you were referring to?

[2019-04-18 17:21] martypowell commented on #618
@tmccoy529 yep makes sense, probably should have thought of that. Thanks for adding it back. @danfox01 is there anything (apart from a change control) preventing us from moving this to production?

[2019-04-25 17:43] tmccoy529 commented on #618
@danfox01 @martypowell Ive moved this back over to dev again after this last refresh. Partially because without it dev was blowing up in the blog section but also this gives us almost 2 weeks before it goes bye bye from a refresh in case we want to test one last time before this gets pushed out.

[2019-04-25 17:48] danfox01 commented on #618
@jdomasky can you please test this again? Let me know if you need details on expected behavior.

[2019-04-25 18:32] jdomasky commented on #618
@danfox01 No problem. I'll test on Friday and let you know if I need more details.

[2019-04-25 19:26] tmccoy529 commented on #626
@danfox01 @martypowell @sdurphy  I was able to add the reference for the constants.min.js file to the site.master file for Polaris today. Upon testing, the constants file is loaded on ils-test. I jumped through some of the catalog searching and got no javascript errors but I think putting more eyes on this would be a good idea.

[2019-04-25 19:27] tmccoy529 commented on #569
@martypowell @danfox01 I have put a pull request out for this. Once we work through that it will be ready for testing.

[2019-04-25 19:32] danfox01 commented on #626
@jdomasky can you please test this as well? I think a brief smoke test is fine. Any issues should jump out pretty quickly. We're just looking to see if there are any JS issues in ILS-TEST.

[2019-04-25 19:33] jdomasky commented on #626
@danfox01 OK, will test on Friday as well.

[2019-04-26 12:13] tmccoy529 commented on #569
@danfox01 this is ready for testing

[2019-04-26 12:50] danfox01 commented on #569
@tmccoy529 took a quick look and the datepicker functionality seems spot on to me. I will pass to @jdomasky for thorough testing.

@jdomasky, please run this one through the events page general test plan to make sure all the existing functionality still works as expected. Please also put the new date behavior through the paces.

[2019-04-26 16:45] jdomasky commented on #569
@danfox01 OK, I'll test this today.

[2019-04-26 19:31] jdomasky commented on #626
A brief test was completed. There were no JavaScript errors. However, there seems to be a bug with the contraster in ILS-Test:

**Current behavior:** If you toggle on high contrast on catalog home (http://ils-test.bcpl.lib.md.us/polaris), then perform a search, regular contrast is restored.

**Expected behavior:** High contrast should retain its state on different pages and across sessions.

In Po

[2019-04-26 20:35] jdomasky commented on #569
@tmccoy529 @martypowell @danfox01 Correction: I'll test this issue next week.

[2019-04-26 20:52] jdomasky commented on #618
I completed testing in dev and the functionality works as expected in authoring and rendering.

However, the IE11 responsiveness problem is occurring: at tablet width and below, the ribbon jumps to the top right corner of the browser window. This problem also occurs in the Edge browser.

If this problem can be resolved, I believe this enhancement is ready for production.

[2019-04-26 22:08] danfox01 commented on #618
@tmccoy529 @jdomasky What's up with the "IsFeatured" appearing twice in the content collection?
![FireShot Capture 060 - View_ #BWELLREAD in 2019 with WBAL-TV - auth dev baltimorecountymd gov](https://user-images.githubusercontent.com/13049389/56838942-2f312b00-684e-11e9-8c85-f3007c33e771.png)

[2019-04-29 11:57] tmccoy529 commented on #618
@danfox01 Sorry about that. When I created this again it added a space at the end of the column name. Well a Space changed the name of the column for the web service and broke it. Unfortunately you cannot delete a field in SE after its been used so I had to add another field with the correct name. Its just the hazards of SE I guess. I added a comment to the actual field to ignore it but that is th

[2019-04-29 12:16] tmccoy529 commented on #618
@jdomasky @danfox01 @martypowell well I screwed that build up Jason. We had fixed that responsiveness before and I pushed over an old copy of the blog css file. I've pushed over the correct version and it appears to be working now. Can you do a quick run through again? Im assuming this is how its supposed to look?

![image](https://user-images.githubusercontent.com/40430541/56895382-fadc8b00-6a56-

[2019-04-29 12:40] tmccoy529 commented on #618
@jdomasky @danfox01 @martypowell  as I'm testing I see that Chrome likes the changes only. IE doesn't work so back to development again. I'll let you know when its ready to test again.

[2019-04-29 13:14] tmccoy529 commented on #618
@jdomasky @danfox01 @martypowell okay sorry. There was a lot of confusion because this fix was actually part of the BCPL -Assets project and not part of the react-blog project. This got lost along the way. The new master page for bcpl has been pushed over as well as the correct version of the react-blog, updated SE with the field and pushed out the web service. This is READY TO BE TESTED for real

[2019-04-29 17:19] danfox01 commented on #626
@tmccoy529 you weren't tagged in Jason's reply. Just want to make sure you saw this. Back to you to evaluate.

[2019-04-29 19:04] tmccoy529 commented on #626
@danfox01 thanks, looking into it.

[2019-04-30 16:05] jdomasky commented on #618
@danfox01 I didn't mention the duplication of IsFeatured in my testing feedback because the tooltip implied this was an artifact of development. This was reinforced when I discovered that the duplicate setting had no effect.

[2019-04-30 16:06] jdomasky commented on #618
@danfox01 @tmccoy529 I should be able to retest this issue soon.

[2019-04-30 20:11] jdomasky commented on #569
The Events interface in dev passed the Events Test Plan completely.
In addition, I thoroughly tested the new date behavior and it works well in all cases. I also has a look via BrowserStack iPhone Safari.

[2019-04-30 20:37] jdomasky opened #660 "BCPL Events Page Displays Current Day in Two Lists"
In its default state, the BCPL Find an Event page displayed the current day and the next day twice, with each day's events split up between two divs. This occurred in the afternoon on April 30 in prod and dev.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.bcpl.info/events-and-programs/list.html#!/
2. Do not use the datepicker. If you do, the bug won't occur.
3. Click on '

[2019-05-01 17:38] jdomasky commented on #618
@danfox01 @tmccoy529 The retest was a success!

**Confirmations:**
- Works great in IE/Edge.
- I confirmed on mobile in BrowserStack.
- I featured two posts and only saw the more recently updated post. When I updated the one I didn't see, it took over the featured spot.
- The featured posts had no impact on what is displayed on the dev home page.
- The most recently updated featured post is displa

[2019-05-06 19:42] danfox01 commented on #626
@tmccoy529 Just want to document what we discussed in the release meeting today. This issue is still under investigation, but a lower priority than BaltCoGo, correct?

[2019-05-06 19:45] tmccoy529 commented on #626
@danfox01 That is correct

[2019-05-07 17:53] jdomasky commented on #605
@danfox01 I did some research and uncovered two possible strategies:

**1.** As recently as 2017, Google CSE had a documented option that dealt with this issue:

`<div class="nocontent">  </div>`

To activate this option, we can try adding this to our cse.xml: **enable_nocontent_tag="true"**
However, because this option is no longer documented in CSE support, it may no longer work.

**2.** I came

[2019-05-28 17:47] jdomasky commented on #660
FYI, I observed this issue in production today. Although it's been a month since I opened this issue, it remains an active problem on the BCPL website.
On the Events page ( https://www.bcpl.info/events-and-programs/list.html#!/ ), some of the May 28 events are listed, followed by the May 29 events, which are then followed by some May 28 events.

[2019-05-28 18:07] danfox01 commented on #660
@jdomasky are you only seeing this behavior at the end of a month?

[2019-05-28 18:54] jdomasky commented on #660
@danfox01 No. I believe I observed this problem about three times in the past four weeks, but I didn't documented the dates. I'm making a note to confirm the issue on June 7. I'll report my findings.

[2019-05-28 19:11] danfox01 commented on #660
OK, I thought this related only to dates at the end of the month, which would make it a little less pressing. Since it appears to happen regularly we need to try to hotfix it.

@tmccoy529 can you please take a look at this issue?

[2019-06-03 20:13] danfox01 opened #662 "Polaris "Change Logon" inputs/labels are misaligned"
**Describe the bug**
In Polaris "My Account" interface, text inputs do not align with their labels for "Change Logon" section.

**To Reproduce**
1. Log in to the Polaris PAC.
2. Go to: https://catalog.bcpl.lib.md.us/polaris/patronaccount/default.aspx.
3. Scroll down to "Change Logon" and note that labels are not properly aligned with fields.

**Expected behavior**
Layout of these inputs and labels

[2019-06-07 15:48] jdomasky commented on #660
@tmccoy529 @danfox01 This issue doesn't occur all the time. I noticed the issue today around 11:30 a.m. Here is a screen capture:

![BCPL Find an Event List with June 7 before and After June 8 - 20190607](https://user-images.githubusercontent.com/13354985/59116679-1a9a8500-891a-11e9-82c7-1d9bfc585faa.png)

[2019-06-13 15:04] jdomasky opened #663 "BCPL Events Page Sometimes Not Chronologically Sorted"
In its default state, the BCPL Find an Event page displayed the events of the current day out of chronological order. This occurred in the morning on June 13.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.bcpl.info/events-and-programs/list.html#!/
2. Click on 'Load Next 10 Events'
3. Click on 'Load Next 10 Events' again, if necessary
4. Scroll down and observe the sort or

[2019-10-16 19:33] danfox01 opened #665 "[DEV] BCPL dev does not render any JS"
**Describe the bug**
JS is not rendering correctly on dev.bcpl.info. This is probably related to the constants change ealier this year -- its tarted occuring then but we didn't have bandwidth to address it. It appears to occur sitewide.

Normally a dev issue wouldn't be a huge priority but we're going to start the SE upgrade soon, and we need dev mirroring prod before we get started.

**To Reprodu

[2019-10-16 19:59] danfox01 opened #666 "Users should receive error message when a username is already taken"
**Describe the bug**
In Polaris, users who try to choose a username that's already taken should get an error message. This is not currently happening. Instead the page just reloads with no feedback explaining why.

There is an error message defined in Polaris for this case, but we're not showing it in our customized version.

**To Reproduce**
(Provided by Karrie Armetta)

1. Got to bcpl.info and s

[2019-10-17 15:55] tmccoy529 commented on #666
@danfox01 so looking at this I noticed that when the screen re-loads and jumps to the top it shows Username: [None]. It looks like we can add to that the error message you have listed above in place of none which really doesn't make sense. Scrolling down to where you can change username its all highlighted red to signify there's a problem so that might be a temporary solution and would be quick si

[2019-10-22 16:20] martypowell commented on #132
@b3u just noticed, that i never got back to you, ill follow up within the hour.

[2019-10-22 16:27] martypowell commented on #132
@b3u looks like this is still valid. The fonts can go in this [file](https://github.com/baltimorecounty/BCPL-assets/blob/integration/stylesheets/partials/core/_fonts.scss).

Please use a hyphenation in the variable names. for example:

'TTRoundsCondensed-BlackItalic' would be `$TTRoundsCondensed-BlackItalic`.

Once the variables are created, the next task would be to replace any string font family

[2019-10-23 13:28] b3u commented on #132
Does `FontAwesome` become a variable as well?

[2019-10-23 13:43] martypowell commented on #132
Yes, I think that's a good idea as least for now. Unless you have a better suggestion?

[2019-10-23 13:46] b3u commented on #132
k

[2020-01-09 19:57] sdurphy opened #673 "Global Navigation - Technology For Loan Should Change to Library of Things"
In the Global Navigation (within Polaris) under "Services," The Link, "Technology for Loan" should be changed to "Library of Things"

Steps to reproduce the behavior:
1. Go to the homepage.
2. Hover over the "Books and More" menu.
3. Select the "Catalog" link to go to Polaris.
2. Hover your cursor over the Services menu at the top right of the page
3. Notice that the link for "Technology for Loan"

[2020-07-08 19:07] tmccoy529 commented on #665
this appears to have been fixed

[2020-07-08 19:07] #665 closed

[2020-07-08 19:13] martypowell commented on #646
@tmccoy529 this is outlined in the transition plan, but basically the code is maintained on server right now (css i think) and it probably should move into source control somewhere.

[2021-07-12 18:04] mcorasan commented on #663
@jdomasky - I'm having trouble replicating. Can you try to reproduce the issue again and let us know if it's still present?

[2021-07-12 18:30] mcorasan commented on #660
@jdomasky - can you replicate the issue again or have you noticed this recently? I know it was spotty at the time but I'm unable to replicate the issue.

[2021-07-12 18:45] mcorasan commented on #633
@tmccoy529 - not sure if you have added context and/or if Marty meant it was an SE dependency. May be worth revisiting other option for dynamic rendering. https://developers.google.com/search/docs/advanced/javascript/dynamic-rendering#implement

[2021-07-27 14:40] jdomasky commented on #663
@mcorasan - Thanks for trying to replicate this issue! I believe this only occurs when there are more than 10 events on a single day. Before the pandemic, BCPL always had more than 10 events on weekdays, so we'll have to wait until the volume of events increases before we can confirm if the issue resolved itself. Reflecting on this, I'm guessing the problem was associated with the "Load More" func

[2021-07-27 14:53] jdomasky commented on #660
@mcorasan - I think we need to wait until BCPL starts listing more than 10 events per day. I believe this "splitting" problem occurred after using "Load More" when a single day had more than 10 events. Thankfully, we can be fairly confident that this issue hasn't occurred since the pandemic began.

[2021-09-03 17:15] mcorasan commented on #673
I believe we have the latest list of items needed in Polaris. We updated the nav previously and this did not come up. I will check.

[2021-09-07 14:12] mcorasan commented on #666
@tmccoy529 - I sent you the credentials for ilstest via teams and it has been added to the Web Services keepass

[2021-10-04 14:14] tmccoy529 commented on #673
I cant believe it,  I was able to actually complete a BCPL issue.

@jdomasky this is ready for testing.

https://libilstest01d.bcpl.lib.md.us/polaris/

[2021-10-04 15:05] tmccoy529 commented on #662
@jdomasky this is ready for testing.

https://libilstest01d.bcpl.lib.md.us/polaris/patronaccount/default.aspx?ctx=1.1033.0.0.6

[2021-10-04 15:35] tmccoy529 commented on #637
@jdomasky Im trying to replicate this and I cannot. When I have text entered into the search box and select any options in the modal the text is not cleared anymore in Chrome. Maybe Im missing something?

[2021-10-07 19:27] jdomasky commented on #673
@tmccoy529 Thanks for updating the menu. However, there have been additional changes to the Services menu since January 2020. Changes were made to the Youth and Events and Programs menus, as well. This seems like the best time to ensure all of the menus are the same. Here's the code from www.bcpl.info for the three menus that changed:

**Services menu:**

Left column:

<li>
<a href="/services/get-

[2021-10-08 20:03] jdomasky commented on #662
@tmccoy529 I've confirmed the solution for Issue 662, "Polaris 'Change Logon' inputs/labels are misaligned." The Change Logon inputs and labels are now aligned in dev. At your convenience, I recommend making this change in production.

FYI @hburnopp @mcorasan @theilman7 @tthbcmd

[2021-10-08 20:17] jdomasky commented on #637
@tmccoy529 I just replicated the problem in #637 "Polaris 'More Search Options' link broken" in desktop Chrome. Are you following the same steps as me? Here are the steps to replicate:

1. Browse: https://catalog.bcpl.lib.md.us/polaris/search/default.aspx?ctx=1.1033.0.0.6&type=Advanced
2. Type a search term in the first field (next to "Find:" label, next to "Any Field" dropdown).
3. Scroll down a

[2021-10-12 12:07] tmccoy529 commented on #673
@jdomasky Ive gone ahead and updated all the menus to match BCPL's menus. This is ready for another look.

[2021-10-12 18:35] jdomasky commented on #673
@tmccoy529 The updated menus in BCPL dev are nearly perfect. I noticed only one issue: the link for "Library of Things" is using the old URL for that page and should be updated to "/books-and-more/library-of-things.html". With this correction, I recommend the menu changes for deployment to production.

FYI @hburnopp @mcorasan @theilman7 @tthbcmd

[2021-10-13 14:38] tmccoy529 commented on #673
@jdomasky Library of things has been updated to the correct link

[2021-10-13 14:42] tmccoy529 commented on #662
File to move is patronaccount => default.aspx

Im adding this so I know what file needs to be pushed out to production.

[2021-10-21 18:41] tmccoy529 commented on #666
@jdomasky this is ready for a look. Im not sure the best place to put the error message so I just placed it at the top as Dan had suggested since it reloads to the top but it might need some tweaking.

[2021-10-21 18:42] tmccoy529 commented on #666
Page to move: repos\Polaris Skin for BCPL\patronaccount\default.aspx

[2021-10-22 13:19] jdomasky commented on #666
@tmccoy529 Thanks! I'll review this in Polaris dev either today or early next week.

FYI @hburnopp @mcorasan @theilman7 @tthbcmd

[2021-10-26 20:16] jdomasky commented on #666
@tmccoy529 I've confirmed the solution in dev and I recommend it for deployment to prod with a suggested change to the layout:
- Before testing, I confirmed the issue (i.e., the message doesn't appear in Polaris prod when I use my own credentials with the "karmetta" username).
- Then I triggered the error message in Polaris dev when I use the provided credentials. The message ("The Username you en

[2021-10-29 13:54] tmccoy529 commented on #666
@jdomasky I have added the 1.25em to all break points. This is ready for a look.

files to move: repos\Polaris Skin for BCPL\custom\themes\bcpl-powerpac\site.css

[2021-10-29 19:43] jdomasky commented on #666
@tmccoy529 I reviewed the CSS change in dev and the error message is now displayed consistently at all breakpoints. I recommend this solution for deployment to production.

FYI @hburnopp @mcorasan @theilman7

[2021-11-04 13:01] tmccoy529 commented on #634
@mcorasan Sanjay and I are looking at this one and honestly we dont know what needs to be done here. Like what is the actual problem? The screen still loads but its empty so do we want to display a message saying that its a new year and no entries have been made yet or is there something else happening that we are missing?

[2021-11-04 13:06] tmccoy529 commented on #621
This issue is no longer valid since we dont support IE11 any longer

[2021-11-04 13:06] #621 closed